<form autocomplete="off" [formGroup]="variableFormGroup" (ngSubmit)="guardar()">

    <div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Nombre" formControlName="campoNombre" [class.is-invalid]="nombreNoValido">       </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Apellido" formControlName="campoApellido" [class.is-invalid]="apellidoNoValido">
            <small *ngIf="apellidoNoValido" class="text-danger">El apellido es obligatorio y no puede ser Herrera</small>
        </div>
    </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="campoCorreo" [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido" class="text-danger">Ingrese el correo</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Prueba</label>
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Prueba" formControlName="campoPrueba">
        </div>
    </div>

    <div class="form-group row" formGroupName="direccion">
        <label class="col-2 col-form-label">Dirección</label>
        <div class="form-row col">
            <div class="col">
                <input type="text" class="form-control" placeholder="Distrito" formControlName="campoDistrito" [class.is-invalid]="distritoNoValido">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Ciudad" formControlName="campoCiudad" [class.is-invalid]="ciudadNoValido">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col">
            <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass1" [class.is-invalid]="pass1NoValido">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Repita la contraseña</label>
        <div class="col">
            <input class="form-control" type="password" placeholder="Repita contraseña" formControlName="pass2" [class.is-invalid]="pass2NoValido">
            <small *ngIf="pass2NoValido" class="text-danger">La contraseña no coincide</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">
            <input class="form-control" type="text" placeholder="Nombre del usuario" formControlName="campoUsuario" [class.is-invalid]="usuarioNoValido">
            <small *ngIf="usuarioNoValido" class="text-danger">El nombre de usuario ya está registrado (Para el ejemplo hemos puesto registrado: nombreProhibido)</small>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Arreglos Estático</th>
                    </tr>
                </thead>
                <tbody formArrayName="campoestatico">
                    <tr *ngFor="let control of estatico.controls; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td><input class="form-control" type="text" [formControlName]="i"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Arreglos Dinámicos</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName="campodinamico">
                    <tr *ngFor="let variableLocalControl of dinamico.controls; let a = index">
                        <td>{{ a + 1 }}</td>
                        <td><input class="form-control" type="text" [formControlName]="a"></td>
                        <td><button class="btn btn-danger" (click)="borrarPasatiempo(a)">Borrar</button></td>
                    </tr>
                </tbody>
            </table>
        
            <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarPasatiempo()">+ Agregar</button>
        
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
        </div>
    </div>

</form>

<hr>
<pre>Estado del formulario: {{ variableFormGroup.valid }}
Status : {{ variableFormGroup.status }}
{{ variableFormGroup.value | json }}