<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-fontawesome-tab" data-toggle="pill" href="#pills-fontawesome" role="tab" aria-controls="pills-fontawesome" aria-selected="true" style="color: black;">Instalación automática</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-fontawesome0-tab" data-toggle="pill" href="#pills-fontawesome0" role="tab" aria-controls="pills-fontawesome0" aria-selected="false" style="color: black;">Instalación manual</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-fontawesome1-tab" data-toggle="pill" href="#pills-fontawesome1" role="tab" aria-controls="pills-fontawesome1" aria-selected="false" style="color: black;">Configuración</a>
    </li>
  </ul>
  
  <div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-fontawesome" role="tabpanel" aria-labelledby="pills-fontawesome-tab">
        <ol>
<li><b>npm install font-awesome@4.7.0</b> (Instalación automática + angular.json)</li>
<li>Añadir en <b>angular.json:</b></li>
<pre> "styles": [
  "node_modules/bootstrap/dist/css/bootstrap.min.css",
  <b>"node_modules/font-awesome/css/font-awesome.css",</b>
  "src/styles.css"
  ],
  "scripts": [
  "node_modules/jquery/dist/jquery.min.js",
  "node_modules/popper.js/dist/umd/popper.min.js",
  "node_modules/bootstrap/dist/js/bootstrap.min.js"
  ]</pre>
        </ol>
    </div>
  
    <div class="tab-pane fade" id="pills-fontawesome0" role="tabpanel" aria-labelledby="pills-fontawesome0-tab"><app-instalacionfontawesome></app-instalacionfontawesome>      </div>
  
    <div class="tab-pane fade" id="pills-fontawesome1" role="tabpanel" aria-labelledby="pills-fontawesome1-tab"><app-configuracionfont></app-configuracionfont></div>
  
</div>