<br>
<ul>
    <li><b>Cliente FTP / <abbr title="(Subir web no incluye en teoría dominio, aunque creo que sí, un dominio muy raro)">Hosting</abbr></b>
        <ul>
            <li><u>Online</u>: <a target="_black" href="https://www.hostinger.es/hosting-gratuito">Hostinger </a> (<a target="_black" href="https://www.000webhost.com/members/website/list">Listas de webs</a> // <a target="_black" href="https://files.000webhost.com/">Subidas</a>)</li>
            <li><u>Descarga</u>: MSDOS // <a target="_black" href="https://winscp.net/eng/index.php?">Winscp</a>  //  <a target="_black" href="https://filezilla-project.org/download.php?platform=win64">Filezilla</a> (<a target="_black" href="https://wiki.filezilla-project.org/Documentation">Manual</a>)  //  <a target="_black" href="https://www.net2ftp.com/index.php">Net2ftp</a> (<a target="_black" href="https://www.net2ftp.com/index.php?state=homepage&state2=3">Descargar</a>)</li>
        </ul>
    </li>
    <li><b>Dominio</b>
        <ul>
            <li><u>Saber si está libre</u>: <a target="_black" href="https://www.dondominio.com/whois/">Dondominio</a> // <a target="_black" href="https://www.whois.com/">Whois</a></li>
            <li><u>Gratuito</u>: <a target="_black" href="http://www.dot.tk/es/index.html">Dot Tk</a></li>
        </ul>
    </li>
</ul>