<h6><u><b>PHP - Estructura.php</b></u></h6>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-estructuraphp-tab" data-toggle="pill" href="#pills-estructuraphp" role="tab" aria-controls="pills-estructuraphp" aria-selected="true" style="color: black;">General</a>
    </li>
<pre>  <b>Dividido en diferentes archivos.php:</b></pre>
    <li class="nav-item">
      <a class="nav-link" id="pills-estructuraphp0-tab" data-toggle="pill" href="#pills-estructuraphp0" role="tab" aria-controls="pills-estructuraphp0" aria-selected="false" style="color: black;">Cabecera</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-estructuraphp1-tab" data-toggle="pill" href="#pills-estructuraphp1" role="tab" aria-controls="pills-estructuraphp1" aria-selected="false" style="color: black;">Index/Página</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-estructuraphp2-tab" data-toggle="pill" href="#pills-estructuraphp2" role="tab" aria-controls="pills-estructuraphp2" aria-selected="false" style="color: black;">Pie</a>
    </li>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-estructuraphp" role="tabpanel" aria-labelledby="pills-estructuraphp-tab">
<pre>{{x}}<b>{{x1}}</b>{{x3}}<b>{{x4}}</b>{{x2}}</pre>
    </div>
  
    <div class="tab-pane fade" id="pills-estructuraphp0" role="tabpanel" aria-labelledby="pills-estructuraphp0-tab">
<pre>{{x}}<b>{{x5}}</b>{{x6}}<b>{{x7}}</b>{{x8}}<b>{{x9}}</b></pre>
    </div>

    <div class="tab-pane fade" id="pills-estructuraphp1" role="tabpanel" aria-labelledby="pills-estructuraphp1-tab">
<pre><b>{{x10}}</b>{{x11}}<b>{{x1010}}</b>{{x1011}}<b>{{x12}}</b>{{x1212}}<b>{{x13}}</b>{{x14}}<b>{{x15}}</b>{{x16}}</pre>
    </div>

    <div class="tab-pane fade" id="pills-estructuraphp2" role="tabpanel" aria-labelledby="pills-estructuraphp2-tab">
<pre><b>{{x17}}</b>{{x18}}<b>{{x19}}</b>{{x1819}}</pre>
    </div>

</div>

  <button class="btn btn-dark m-2" [routerLink]="['/php']">Atras</button>