<h6><u><b>JavaScript - Estructura.html</b></u></h6>

<pre>{{x}}<b>{{x1}}</b>{{x2}}{{x3}}</pre>
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JavaScript</title>
        <script src="archivoDeJavaScript.js"></script>                                  <!--Llama al archivo de JavaScript -->
    </head>

        <body>
            
        </body>

</html>

  <button class="btn btn-dark m-2" [routerLink]="['/javascript']">Atras</button>