/*Cambiar de color del botón activo*/

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    background: #d80303 !important;
    color: white !important;
}

a {
    color: black;
}

#rojo {
    color: red;
}


.blanco, h3{
    color: white;
}