<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-git-tab" data-toggle="pill" href="#pills-git" role="tab" aria-controls="pills-git" aria-selected="true" style="color: black;">Instalar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-git0-tab" data-toggle="pill" href="#pills-git0" role="tab" aria-controls="pills-git0" aria-selected="false" style="color: black;">Configuración</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-git1-tab" data-toggle="pill" href="#pills-git1" role="tab" aria-controls="pills-git1" aria-selected="false" style="color: black;">Funcionamiento</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-git2-tab" data-toggle="pill" href="#pills-git2" role="tab" aria-controls="pills-git2" aria-selected="false" style="color: black;">Github</a>
    </li>
    <button class="btn btn-dark m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-git" role="tabpanel" aria-labelledby="pills-git-tab">

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><u>Windows</u>: <b><a href="https://git-scm.com/download/winfinalmentegit --version">Ir a la web</a></b></li>
<li><u>Ubuntu</u>: <b>apt-get install git</b></li>
<li><u>Linux</u>: <b><a href="https://git-scm.com/download/linux">Ir a la web</a></b> </li>
<li><u>Mac</u>:
    <u>Si no tiene brew</u>: <b>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</b>
    <u>Si tiene brew</u>: <b>brew install git</b>
</li>
<br>
<u>Probar si está bien instalado</u>: <b>git --version</b></ul></pre>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-git0" role="tabpanel" aria-labelledby="pills-git0-tab">

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>Nombre del usuario</b>: <em><abbr title="Adrián Lozano">git</abbr> config --global user.name "nombre del usuario"</em></li>
<li><b>Email</b>: <em><abbr title="adrianlm1985@gmail.com">git</abbr> config --global user.email correo@correo.com</em></li>
<li><b>Ver configuración realizada</b>:
    <b>Todo</b>: <em><abbr title="Adrián Lozano + adrianlm1985@gmail.com">git</abbr> config --list</em>
    <b>Usuario</b>: <em><abbr title="Adrián Lozano">git</abbr> config user.name</em>
    <b>Email</b>: <em><abbr title="adrianlm1985@gmail.com">git</abbr> config user.email</em></li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-git1" role="tabpanel" aria-labelledby="pills-git1-tab">


        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><h3>Configurar subida + 1º subida</h3><ol><small> (Dentro de la carpeta que le hagamos git init)</small>
<li><b><abbr title="Aparece: Initialized empty Git repository in E:/Documentos/Programación/Git/.git/ -> porque aún no hemos creado nada">git</abbr> init</b> -> Iniciar repositorio o clonar de alguien</li>
<li><b><abbr title="1 archivo">git</abbr> add nombre.extensión</b> // <b><abbr title="Todos los archivos">git</abbr> add --all</b> -> <abbr title="Directorio de trabajo">Añadimos de Working Dyrectory</abbr> -> a <abbr title="Ejem: Se crea pieza del muñeco o programa, cuando se finaliza cada pieza se envía pieza a pieza al Staging Area">Staging Area</abbr>
    <b><abbr title="Estado del archivo">git</abbr> status</b> (<small><abbr title="Visual Studio - Nos informa que están listo para hacer git commit (para subirlo al Local Repository)" style="color: green;">Añadido (git add)</abbr> / <abbr title="Visual Studio - Nos informa que no están listo y debemos hacer git add (para meterlo en Staging Area)" style="color: red;">No añadido (no git add)</abbr> -> Si <b>modificamos</b> archivos se pondrá en <u>verde</u> la <u>parte </u><u>anterior</u> y en <u>rojo lo <b>nuevo</b></u> el mismo archivo, hasta que hagamos git add</small>)</li>
<li><b><abbr title="Añadimos comentario del Directorio de trabajo al Reposición local o Directorio de Git">git</abbr> commit -m "Comentario" // <abbr title="Si no ponemos -m Comentario">git</abbr> commit</b> (<abbr title="Área de preparación. Solo está a la espera que se le avise para enviar del directorio de trabajo al directorio de Git">Staging Area</abbr> -> nos abre el <b>editor de texto</b> -> Podemos escribir dentro, para salir y guardar (<b>ESC + :wq!</b>) (<abbr title="Ejem: Quien se encarga de coordinar cuando está listo las piezas del muñeco (piernas, brazos...) o programa y si lo está se envía a Local Repository">Pasar a Local Repository</abbr>))</li>
    <b><abbr title="Estado del archivo. Visual Studio - Nos informa que se ha hecho git commit y está subido al Local Repository)">git </abbr>log</b> -> <abbr title="commit 703c756a581589863bc8bb242c7ec65c34162786 (HEAD -> master) - Identificador (Y que estamos en el directorio maestro)">Log</abbr> (<abbr title="Author: Adrian Lozano {{co}}adrianlm1985@gmail.com>">Autor</abbr> / <abbr title="Date:   Mon May 3 22:32:57 2021 +0200">Día y hora</abbr> / <abbr title="Comentario">Comentario escrito</abbr> -> Arriba (Los más nuevo) - Abajo)(Lo más viejos)
    <li><b>git remote add nombreDelRepositorio <a href="https://github.com/AdrianLozanoMartinez/Prueba-Curso-Git.git">https://github.com/usuario/nombre-del-proyecto</a></b> -> (nombreDelRepositorio o <abbr title="1º nombre que se suele usar">origin</abbr> o <abbr title="2º nombre que se suele usar">upstream</abbr>). <abbr title="Reposición local o Directorio de Git"><b>Local Repository</b></abbr>: <abbr title="Ejem: Se recibe todas las piezas del muñeco o programa">Ejemplo</abbr>
    <b>git remote -v</b> -> <abbr title="origin  https://github.com/AdrianLozanoMartinez/Prueba-Curso-Git.git (fetch)
origin  https://github.com/AdrianLozanoMartinez/Prueba-Curso-Git.git (push)">Comprobar si está bien subido</abbr></li>
<li><b>git push -u nombreDelRepositorio master</b> -> <u>Subir el <abbr title="Prueba-Curso-Git.git u otro">proyecto</abbr> relacionado con el <abbr title="nombreDelRepositorio o origin o upstream">repositorio</abbr></u><b>. Nos pide <abbr title="Identificación de la cuenta github, una vez identificado en consola sale:
    info: please complete authentication in your browser...
    Enumerating objects: 9, done.
    Counting objects: 100% (9/9), done.
    Delta compression using up to 8 threads
    Compressing objects: 100% (3/3), done.
    Writing objects: 100% (9/9), 715 bytes | 715.00 KiB/s, done.
    Total 9 (delta 0), reused 0 (delta 0), pack-reused 0
    To https://github.com/AdrianLozanoMartinez/Prueba-Curso-Git.git
     * [new branch]      master -> master
    Branch 'master' set up to track remote branch 'master' from 'origin'.">identificarnos</abbr></b></li></ol></pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><h3>Obtener proyecto</h3><b>git pull nombreDelRepositorio master</b> -> Obtener archivos de Github de otros usuarios que trabajan en el mismo proyecto o modificados por uno mismo desde la web</pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><abbr title="Para no usar la raíz"><a href="https://rogerdudler.github.io/git-guide/index.es.html"><h3>Crear rama</h3></a></abbr><b>git branch -M main</b>  -> Investigar bien como funciona</pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><h3>Subida rápida <small>(Una vez creado)</small></h3><ol><li><em><b>git add archivos.extensión</b></em> o <b><em>git add --all</em></b></li>
<li><em><b>git commit -m "comentario"</b></em></li>
<li><em><b>git push -u nombreDelRepositorio master</b></em> -> Nos identificamos</li></ol></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-git2" role="tabpanel" aria-labelledby="pills-git2-tab">

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><a href="https://github.com/"><h4><u>Web</u></h4></a><a href="https://github.com/AdrianLozanoMartinez"><b><u>Your profile</u></b></a>: Cambiar datos personales y vemos actividad de subida
<a href="https://github.com/new"><b><u>New repository</u></b></a>: <abbr title="Prueba-Curso-Git"><b>Repository name</b></abbr> / <b>Público/Privado</b> -> Create repository
Comprobar en el <a href="https://github.com/AdrianLozanoMartinez/Prueba-Curso-Git"><u>repositorio de github</u></a> del proyecto si está subido</pre>
                </div>
            </div>
        </div>


    </div>


</div>
<br><br>

<b style="margin-left: 25%;">Web de Ayuda</b>: <abbr title="Manual Github/Git"><b><a id="azul" target="_black" href="https://rogerdudler.github.io/git-guide/index.es.html">Manual</a></b></abbr>
<img src="../../../../assets/imagenes/github.png" style="margin-left: 2%; width: 300px;">
<button class="btn btn-info m-2" [routerLink]="['/programacion']">Atras</button>




Comandos básicos:
git init -> Decir que se va a usar en un proyecto git
git add -> working directory -> staging area
git status -> Ver estado de los archivos, si está en el working directory, staging area, u otro
git commit -> staging area -> repository, como una 1º foto del nombre-del-proyecto
git push -> subirlo a un repositorio remoto
git pull -> se descarga los cambios
git clone -> se descarga una copia para empezar a trabajar