<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-git-tab" data-toggle="pill" href="#pills-git" role="tab" aria-controls="pills-git" aria-selected="true" style="color: black;">Instalar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-git0-tab" data-toggle="pill" href="#pills-git0" role="tab" aria-controls="pills-git0" aria-selected="false" style="color: black;">Configuración</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-git1-tab" data-toggle="pill" href="#pills-git1" role="tab" aria-controls="pills-git1" aria-selected="false" style="color: black;">Funcionamiento</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-git2-tab" data-toggle="pill" href="#pills-git2" role="tab" aria-controls="pills-git2" aria-selected="false" style="color: black;">Github</a>
    </li>
    <button class="btn btn-dark m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-git" role="tabpanel" aria-labelledby="pills-git-tab">

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><u>Windows</u>: <b><a href="https://git-scm.com/download/winfinalmentegit --version">Ir a la web</a></b></li>
<li><u>Ubuntu</u>: <b>apt-get install git</b></li>
<li><u>Linux</u>: <b><a href="https://git-scm.com/download/linux">Ir a la web</a></b> </li>
<li><u>Mac</u>:
    <u>Si no tiene brew</u>: <b>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</b>
    <u>Si tiene brew</u>: <b>brew install git</b>
</li>
<br>
<u>Probar si está bien instalado</u>: <b>git --version</b></ul></pre>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-git0" role="tabpanel" aria-labelledby="pills-git0-tab"><hr><app-configuraciongit></app-configuraciongit></div>

    <div class="tab-pane fade" id="pills-git1" role="tabpanel" aria-labelledby="pills-git1-tab"><hr><app-funcionamientogit></app-funcionamientogit></div>

    <div class="tab-pane fade" id="pills-git2" role="tabpanel" aria-labelledby="pills-git2-tab">

        <div class="card-group">
            <div class="card text-dark bg-dark m-3">
                <div class="card-body">
                    <pre class="card-text"><a href="https://github.com/"><h4><u>Web</u></h4></a><a href="https://github.com/AdrianLozanoMartinez"><b><u>Your profile</u></b></a>: Cambiar datos personales y vemos actividad de subida
<a href="https://github.com/new"><b><u>New repository</u></b></a>: <abbr title="Prueba-Curso-Git"><b>Repository name</b></abbr> / <b>Público/Privado</b> -> Create repository
Comprobar en el <a href="https://github.com/AdrianLozanoMartinez/Prueba-Curso-Git"><u>repositorio de github</u></a> del proyecto si está subido</pre>
                </div>
            </div>
        </div>


    </div>


</div>
<br><br>

<b style="margin-left: 25%;">Web de Ayuda</b>: <abbr title="Manual Github/Git"><b><a id="azul" target="_black" href="https://rogerdudler.github.io/git-guide/index.es.html">Manual</a></b></abbr>
<img src="../../../../assets/imagenes/github.png" style="margin-left: 2%; width: 300px;">
<button class="btn btn-info m-2" [routerLink]="['/programacion']">Atras</button>