<div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="card-body">

<nav class="navbar estrellas navbar-expand-lg navbar-dark bg-dark">

    <!-- NO RECOMENDADO (Relacionado con servicio.ts y navbar.ts): En vez de user$ usamos isLogged para coger usuario. Otro método menos eficaz -->
    <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else loginbarra">
        <!-- <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user;> Si no está longeado no lo muestra, evitamos error de intentar coger email que al no estar longeado no es posible coger -->
        <!-- else loginbarra"> Si no estamos longeado se ejecuta <ng-template #loginbarra> de abajo. Por la variable local (loginbarra) que relacionamos else con ng-template (#loginbarra) -->
        
        <li class="nav-item mr-2">
        <a class="nav-link btn btn-secondary">{{ user.email }}</a> 
        <!--{{ user?.email }} -> Ponemos ? para que sea opcional, de ese modo no da error sino estamos longeado, ya que sino lo tiene intenta coger un email que no existe al no estar longeado, pero como preguntamos ngIf arriba no es necesario en este caso -->
        <!-- <a class="nav-link btn btn-secondary">{{ user$ | async | json }}</a> Vemos todos los datos del usuario con la nueva variable -->
        </li>

        <li class="nav-item active" *ngIf="user">
        <a class="nav-link btn btn-outline-danger mr-2" (click)="onLogout()">Logout <small><small>Firebase</small></small></a>
        </li>

    </ul>

    <ng-template #loginbarra>  
        <ul class="navbar-nav mx-auto">
        <!-- Si no se cumple lo arriba se cumple esto referencia #loginbarra con else -->
        <li class="nav-item active">
            <a class="nav-link btn btn-outline-success mr-2" [routerLink]="['/loginfb']">Login <small><small>Firebase</small></small></a>
        </li>
            <!-- <li class="nav-item active" *ngIf="!isLogged"> -->
        <li class="nav-item active">
            <a class="nav-link btn btn-outline-info mr-2" [routerLink]="['/registrarfb']">Register <small><small>Firebase</small></small></a>
        </li>
        </ul>
    </ng-template>

  </nav>

        </div>
    </div>
</div>