/*Cambiar de color del botón activo*/

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link,
button {
    background: #d80303 !important;
    color: white !important;
}

pre, h3{
    color: white;
}

a{
    color: white;
}