<div class="card-group">
  <div class="card text-dark bg-warning m-3">
      <div class="card-header">
          <pre class="card-text text-center"><h3>Html</h3></pre>
      </div>
      <div class="card-body">
        <pre class="card-text">{{co}}!DOCTYPE html>
  {{co}}html lang="en">
    {{co}}head>                                                                                        
      {{co}}meta charset="UTF-8">                                                                      
       {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">                     
       {{co}}title>Título{{co}}/title>                                                           
    {{co}}/head>
        <b>{{co}}script src="https://cdn.jsdelivr.net/npm/sweetalert2@9">{{co}}/script></b> <abbr title="Sweepalert2"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    {{co}}/head>
    {{co}}body>

                CUERPO VISIBLE

    {{co}}/body>                                                                                       
  {{co}}/html></pre>
      </div>
  </div>
</div>



