<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada-tab" data-toggle="pill" href="#pills-pokemonformamejorada" role="tab" aria-controls="pills-pokemonformamejorada" aria-selected="true" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada0-tab" data-toggle="pill" href="#pills-pokemonformamejorada0" role="tab" aria-controls="pills-pokemonformamejorada0" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada1-tab" data-toggle="pill" href="#pills-pokemonformamejorada1" role="tab" aria-controls="pills-pokemonformamejorada1" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-pokemonformamejorada2-tab" data-toggle="pill" href="#pills-pokemonformamejorada2" role="tab" aria-controls="pills-pokemonformamejorada2" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-pokemonformamejorada3-tab" data-toggle="pill" href="#pills-pokemonformamejorada3" role="tab" aria-controls="pills-pokemonformamejorada3" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada4-tab" data-toggle="pill" href="#pills-pokemonformamejorada4" role="tab" aria-controls="pills-pokemonformamejorada4" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada5-tab" data-toggle="pill" href="#pills-pokemonformamejorada5" role="tab" aria-controls="pills-pokemonformamejorada5" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada6-tab" data-toggle="pill" href="#pills-pokemonformamejorada6" role="tab" aria-controls="pills-pokemonformamejorada6" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada7-tab" data-toggle="pill" href="#pills-pokemonformamejorada7" role="tab" aria-controls="pills-pokemonformamejorada7" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-pokemonformamejorada8-tab" data-toggle="pill" href="#pills-pokemonformamejorada8" role="tab" aria-controls="pills-pokemonformamejorada8" aria-selected="false" style="color: black;">x</a>
    </li>
  </ul>
  
  <div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada" role="tabpanel" aria-labelledby="pills-pokemonformamejorada-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada0" role="tabpanel" aria-labelledby="pills-pokemonformamejorada0-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada1" role="tabpanel" aria-labelledby="pills-pokemonformamejorada1-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada2" role="tabpanel" aria-labelledby="pills-pokemonformamejorada2-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada3" role="tabpanel" aria-labelledby="pills-pokemonformamejorada3-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada4" role="tabpanel" aria-labelledby="pills-pokemonformamejorada4-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada5" role="tabpanel" aria-labelledby="pills-pokemonformamejorada5-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada6" role="tabpanel" aria-labelledby="pills-pokemonformamejorada6-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada7" role="tabpanel" aria-labelledby="pills-pokemonformamejorada7-tab">x</div>
  
    <div class="tab-pane fade" id="pills-pokemonformamejorada8" role="tabpanel" aria-labelledby="pills-pokemonformamejorada8-tab">x</div>
      
  </div>