<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-variablejavascript-tab" data-toggle="pill" href="#pills-variablejavascript" role="tab" aria-controls="pills-variablejavascript" aria-selected="true" style="color: black;">Var/Let/Const</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variablejavascript0-tab" data-toggle="pill" href="#pills-variablejavascript0" role="tab" aria-controls="pills-variablejavascript0" aria-selected="false" style="color: black;">[ 'Array' ]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variablejavascript1-tab" data-toggle="pill" href="#pills-variablejavascript1" role="tab" aria-controls="pills-variablejavascript1" aria-selected="false" style="color: black;">{{c}} Objetos }</a>
    </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-variablejavascript" role="tabpanel" aria-labelledby="pills-variablejavascript-tab"><app-varletconst></app-varletconst></div>

    <div class="tab-pane fade" id="pills-variablejavascript0" role="tabpanel" aria-labelledby="pills-variablejavascript0-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body">
                    <pre class="card-text">let variable = <b>[ 'Texto', 36 ]</b>
console.log( <abbr title="Muestra: [ 'Texto', 36 ]">variable</abbr> );
console.log( <abbr title="Muestra: Texto">variable[0]</abbr> );
console.log( <abbr title="Muestra: 36">variable[1]</abbr> );;</pre>
                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-variablejavascript1" role="tabpanel" aria-labelledby="pills-variablejavascript1-tab"><app-objetos></app-objetos></div>


</div>
