<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap-tab" data-toggle="pill" href="#pills-bootstrap" role="tab" aria-controls="pills-bootstrap" aria-selected="true" style="color: black;">Instalación</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap0-tab" data-toggle="pill" href="#pills-bootstrap0" role="tab" aria-controls="pills-bootstrap0" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap1-tab" data-toggle="pill" href="#pills-bootstrap1" role="tab" aria-controls="pills-bootstrap1" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap8-tab" data-toggle="pill" href="#pills-bootstrap8" role="tab" aria-controls="pills-bootstrap8" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap4-tab" data-toggle="pill" href="#pills-bootstrap4" role="tab" aria-controls="pills-bootstrap4" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap2-tab" data-toggle="pill" href="#pills-bootstrap2" role="tab" aria-controls="pills-bootstrap2" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap3-tab" data-toggle="pill" href="#pills-bootstrap3" role="tab" aria-controls="pills-bootstrap3" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap5-tab" data-toggle="pill" href="#pills-bootstrap5" role="tab" aria-controls="pills-bootstrap5" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap6-tab" data-toggle="pill" href="#pills-bootstrap6" role="tab" aria-controls="pills-bootstrap6" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap7-tab" data-toggle="pill" href="#pills-bootstrap7" role="tab" aria-controls="pills-bootstrap7" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap9-tab" data-toggle="pill" href="#pills-bootstrap9" role="tab" aria-controls="pills-bootstrap9" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap10-tab" data-toggle="pill" href="#pills-bootstrap10" role="tab" aria-controls="pills-bootstrap10" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap11-tab" data-toggle="pill" href="#pills-bootstrap11" role="tab" aria-controls="pills-bootstrap11" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-bootstrap12-tab" data-toggle="pill" href="#pills-bootstrap12" role="tab" aria-controls="pills-bootstrap12" aria-selected="false" style="color: black;">x</a>
    </li>
    <button class="btn btn-danger m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-bootstrap" role="tabpanel" aria-labelledby="pills-bootstrap-tab">
        <app-instalacionangular></app-instalacionangular>
    </div>

    <div class="tab-pane fade" id="pills-bootstrap0" role="tabpanel" aria-labelledby="pills-bootstrap0-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap1" role="tabpanel" aria-labelledby="pills-bootstrap1-tab">

        Ejemplo

        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body">
                    <pre class="card-text">{{co}}!DOCTYPE html>
      {{co}}html lang="en">
          {{co}}head>                                                                                        
              {{co}}meta charset="UTF-8">                                                                    
              {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">                    
              {{co}}title>Título en pestaña de la web{{co}}/title>
          {{co}}/head>                                                                                       
          {{co}}body>    
              <b>
                {{co}}
            </b>                                                                                                                                                                   
          {{co}}/body>                                                                                       
      {{co}}/html></pre>
                </div>
            </div>
        </div>



    </div>

    <div class="tab-pane fade" id="pills-bootstrap4" role="tabpanel" aria-labelledby="pills-bootstrap4-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap2" role="tabpanel" aria-labelledby="pills-bootstrap2-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap3" role="tabpanel" aria-labelledby="pills-bootstrap3-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap5" role="tabpanel" aria-labelledby="pills-bootstrap5-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap6" role="tabpanel" aria-labelledby="pills-bootstrap6-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap7" role="tabpanel" aria-labelledby="pills-bootstrap7-tab">x</div>


    <div class="tab-pane fade" id="pills-bootstrap8" role="tabpanel" aria-labelledby="pills-bootstrap8-tab">x</div>


    <div class="tab-pane fade" id="pills-bootstrap9" role="tabpanel" aria-labelledby="pills-bootstrap9-tab">x</div>


    <div class="tab-pane fade" id="pills-bootstrap10" role="tabpanel" aria-labelledby="pills-bootstrap10-tab">x</div>


    <div class="tab-pane fade" id="pills-bootstrap11" role="tabpanel" aria-labelledby="pills-bootstrap11-tab">x</div>

    <div class="tab-pane fade" id="pills-bootstrap12" role="tabpanel" aria-labelledby="pills-bootstrap12-tab">x</div>


</div>
<br><br>

<b id="rojo" style="margin-left: 20%;">Web de Ayuda</b>: <abbr title="Manual Angular"><b><a target="_black" href="https://angular.io/cli">Angular</a></b></abbr> || <abbr title="Manual Angular"><b><a target="_black" href="https://github.com/angular/angular-cli">Github</a></b></abbr>
<img src="../../../../assets/imagenes/Angular.png" style="width: 300px;">
<button class="btn btn-danger m-2" [routerLink]="['/programacion']">Atras</button>






<pre>
    
            PENDIENTE DE EXPLICAR/ORDENAR

            *NG NEW Proyecto
            *Arranque ng con puerto y navegador
            *{{c}}{{c}} nombre_variable }} -> la variable del TS que se describe abajo
            *En TS poner -> nombre_variable = 'Texto';
</pre>
















<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <h3 style="text-align: center;"><u><b>Angular 9</b></u></h3>
            <br><br>
            <button class="btn btn-dark m-5" [routerLink]="['/arranqueangular']">Arranque</button>
            <button class="btn btn-dark m-5" [routerLink]="['/creacion']">Creación</button>
            <button class="btn btn-dark m-5" [routerLink]="['/extensionesangular']">Extensiones</button>
            <button class="btn btn-dark m-5" [routerLink]="['/variablesangular']">Variables</button>
            <button class="btn btn-dark m-5" [routerLink]="['/enlacesangular']">Enlaces</button>
            <button class="btn btn-dark m-5" [routerLink]="['/funcionesangular']">Funciones</button>
            <button class="btn btn-dark m-5" [routerLink]="['/serviciounovarias']">Servicio uno/varias página/s</button>
            <button class="btn btn-dark m-5" [routerLink]="['/formulariosangular']">Formularios</button>
            <button class="btn btn-dark m-5" [routerLink]="['/subirarchivos']">Subir archivos</button>
            <button class="btn btn-dark m-5" [routerLink]="['/loginangular']">Login</button>
            <button class="btn btn-dark m-5" [routerLink]="['/hostingangular']">Hosting</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
        </div>
    </div>
</div>