<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal-tab" data-toggle="pill" href="#pills-angularprincipal" role="tab" aria-controls="pills-angularprincipal" aria-selected="true" style="color: black;">Instalación<br><small>+ Compartir</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal0-tab" data-toggle="pill" href="#pills-angularprincipal0" role="tab" aria-controls="pills-angularprincipal0" aria-selected="false" style="color: black;">Servidor<br><small>Simulador/Preparar</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal8-tab" data-toggle="pill" href="#pills-angularprincipal8" role="tab" aria-controls="pills-angularprincipal8" aria-selected="false" style="color: black;">Mostrar/Funciones<br><small>ngIf/ngFor-Padre/Hijo/a<br>Pipe-Buscador</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-angularprincipal13-tab" data-toggle="pill" href="#pills-angularprincipal13" role="tab" aria-controls="pills-angularprincipal13" aria-selected="false" style="color: black;">Directivas<br><small>NgStyle/NgClass</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-angularprincipal5-tab" data-toggle="pill" href="#pills-angularprincipal5" role="tab" aria-controls="pills-angularprincipal5" aria-selected="false" style="color: black;">Petición Http - API<br><small><small>País - SpotiApp - Pokemon<br><small>(Subscribe - Map)</small></small></small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal2-tab" data-toggle="pill" href="#pills-angularprincipal2" role="tab" aria-controls="pills-angularprincipal2" aria-selected="false" style="color: black;">Formularios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal4-tab" data-toggle="pill" href="#pills-angularprincipal4" role="tab" aria-controls="pills-angularprincipal4" aria-selected="false" style="color: black;">Subir archivos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal1-tab" data-toggle="pill" href="#pills-angularprincipal1" role="tab" aria-controls="pills-angularprincipal1" aria-selected="false" style="color: black;">Login<br><small>Auth0 - Firebase</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal3-tab" data-toggle="pill" href="#pills-angularprincipal3" role="tab" aria-controls="pills-angularprincipal3" aria-selected="false" style="color: black;">Hosting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularprincipal12-tab" data-toggle="pill" href="#pills-angularprincipal12" role="tab" aria-controls="pills-angularprincipal12" aria-selected="false" style="color: black;">Información<br>adicional</a>
    </li>
    <button class="btn btn-danger m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-angularprincipal" role="tabpanel" aria-labelledby="pills-angularprincipal-tab"><hr><app-instalacionangular></app-instalacionangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal0" role="tabpanel" aria-labelledby="pills-angularprincipal0-tab"><hr><app-arranqueangular></app-arranqueangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal1" role="tabpanel" aria-labelledby="pills-angularprincipal1-tab"><hr><app-loginangular></app-loginangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal8" role="tabpanel" aria-labelledby="pills-angularprincipal8-tab"><hr><app-funcionesangular></app-funcionesangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal4" role="tabpanel" aria-labelledby="pills-angularprincipal4-tab"><hr><app-subirarchivos></app-subirarchivos></div>

    <div class="tab-pane fade" id="pills-angularprincipal2" role="tabpanel" aria-labelledby="pills-angularprincipal2-tab"><hr><app-formulariosangular></app-formulariosangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal3" role="tabpanel" aria-labelledby="pills-angularprincipal3-tab"><hr><app-hostingangular></app-hostingangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal12" role="tabpanel" aria-labelledby="pills-angularprincipal12-tab"><hr><app-ciclo-vida></app-ciclo-vida></div>

    <div class="tab-pane fade" id="pills-angularprincipal5" role="tabpanel" aria-labelledby="pills-angularprincipal5-tab"><hr><app-apirestangular></app-apirestangular></div>

    <div class="tab-pane fade" id="pills-angularprincipal13" role="tabpanel" aria-labelledby="pills-angularprincipal13-tab"><hr><app-ngstyle></app-ngstyle></div>
      
</div>
<br><br>

<b id="rojo" style="margin-left: 20%;">Web de Ayuda</b>: <abbr title="Manual Angular"><b><a target="_black" href="https://angular.io/cli">Angular</a></b></abbr> || <abbr title="Manual Angular"><b><a target="_black" href="https://github.com/angular/angular-cli">Github</a></b></abbr>
<img src="../../../../assets/imagenes/angular.svg" style="width: 300px;">
<button class="btn btn-danger m-2" [routerLink]="['/programacion']">Atras</button>