<div class="container">
<h5 style="color: rgb(0, 0, 97);">
    LOGIN</h5>
  <form (ngSubmit)="login(variableLogin)" #variableLogin="ngForm"class="form form-register">

      <span *ngIf="variableLogin.submitted && variableLogin.controls['email'].errors" class="text-danger">El correo es obligatorio</span>
    <div class="form-group">
      <input name="email" type="email" class="form-control" style="max-width: 500px;" required email [(ngModel)]="usuario.email" placeholder="Email">
    </div>
      <span *ngIf="variableLogin.submitted && variableLogin.controls['password'].errors" class="text-danger">Al menos 6 caracteres</span>
      <div class="form-group">
        <input name="password" type="password" class="form-control" style="max-width: 500px;" required minlength="6" [(ngModel)]="usuario.password" placeholder="Password">
      </div>
      <div class="form-group form-check">
          <input name="recordar" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recordar mi usuario</label>
          <small id="emailHelp" class="form-text text" style="color: rgb(11, 11, 240);"><a href="/registro"> ¿No tienes cuenta? / Registrate</a></small>
      </div>

      <button type="submit" class="btn btn-primary">Ingresar</button>

    </form>
</div>