<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
      <a class="nav-link" id="pills-servihijopadre-tab" data-toggle="pill" href="#pills-servihijopadre" role="tab" aria-controls="pills-servihijopadre" aria-selected="true" style="color: black;">@Input<br>Padre->Hijo<br><small>Usar mismo código en más sitios</small></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="pills-servihijopadre0-tab" data-toggle="pill" href="#pills-servihijopadre0" role="tab" aria-controls="pills-servihijopadre0" aria-selected="false" style="color: black;">@Output<br>Hijo->Padre<br><small>Llamar a la función del padre<br>Padre escuchando el elemento que pongamos del hijo</small></a>
  </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

  <div class="tab-pane fade" id="pills-servihijopadre" role="tabpanel" aria-labelledby="pills-servihijopadre-tab">
    
    <div class="card-group">
      <div class="card m-3">
          <div class="card-header bg-danger blanco">
              <pre class="card-text text-center blanco"><h3>Aclaración</h3></pre>
          </div>
          <div class="card-body">

            El <b>padre coge</b> la <b>estructura del hijo</b> y lo <b>muestra</b> pasando un <b>for</b> para que se vea todos los <b>datos</b>, incluso nos <b>redirigimos al padre</b> <b> con</b> un dato específico (<b>id</b>) mediante la variable declarada en el padre
  
          </div>
      </div>
  </div>

  <div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger blanco">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="card-body">

          <app-tarjeta [otra_variable]="variable_html" [otro_index]="i" *ngFor="let variable_html of nombre_variable_ts; let i = index"></app-tarjeta>
          <!-- Mostrar una página pero a su vez usando funcionalidades (for) desde esta página, se reutiliza el código anterior en este y en otros... -->

        </div>
    </div>
</div>
    

          <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Padre.Ts<small> (Llama al hijo-reutilizable)<small> - Igual en Input/Output</small></small></h3>
                    <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} ServiciodepruebaService, nombre_interface_servicio } from '../serviciodeprueba.service';
import {{c}} Router <abbr title="Para movernos entre enlaces - navigate"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> } from '@angular/router';</b>

@Component({{c}}
  selector: 'app-serviciopadreehijo',
  templateUrl: './serviciopadreehijo.component.html',
  styleUrls: ['./serviciopadreehijo.component.css']
})
export class ServiciopadreehijoComponent implements OnInit {{c}}

  <b>nombre_variable_ts: nombre_interface_servicio [] = [];</b>   <abbr title="Variable definida con una interface"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  constructor( <b>private _nombredelServicio: ServiciodepruebaService,   <abbr title="Variable donde metemos el servicio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                private nombre_router: Router</b> ) {{c}}}   <abbr title="Variable de enrutamiento"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  ngOnInit(): void {{c}}
      <b>this.nombre_variable_ts = this._nombredelServicio.getsacarDatosServicio();</b>   <abbr title="Función para sacar los datos definidos en el servicio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      console.log( this.nombre_variable_ts );
  }
  
  
  <b>VerComponenteMostrar1( indice_recibido:Number ){{c}}
        console.log(indice_recibido);

        this.nombre_router.navigate( [ '/variable_html <abbr title="Variable local definida en el Html que relaciona con el Ts a través del for"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>', indice_recibido <abbr title="Índice recibido al pulsar sobre el botón del Html de este componente"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> ] )
  }</b>
  

}</pre>
                </div>
              </div>
        
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Padre.Html<small> (Llama al hijo-reutilizable)</small></h3>
                    <pre class="card-text"><b><abbr title="Muestra una web con acciones u otra cosa"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{{co}}app-hijo <abbr title="Variable usada en el Html del reutilizable, de este modo se hace la conexión entre ambos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{{t}}otra_variable]="variable_html"
            <abbr title="Variable utilizada en el reutilizable en el Ts, que hace conexión del index entre ambos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{{t}}otro_index]="i" 
            {{f}}ngFor="let <abbr title="Variable local usada antes de este for para llamar al reutilizable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>variable_html of nombre_variable_ts; let <abbr title="Variable local usada antes de este for para llamar al index del reutilizable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>i= index">
  {{co}}/app-hijo></b>
              
<u>Explicación</u>
{{co}}app-hijo {{t}}variable_ts_del_hijo_Input]="variable_local_html_padre" 
          {{t}}variable_indice_ts_hijo_input]="variable_indice_local_html_padre" 
          {{f}}ngFor="let variable_local_html_padre of variable_ts_padre; 
                  let variable_indice_local_html_padre = variable_indice_ts_padre">
{{co}}/app-hijo></pre>
                </div>
            </div>
          </div>
        
          <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Hijo.Ts <small> (Reutilizable llamado por el padre)</small></h3>
                    <pre class="card-text">import {{c}} Component, OnInit, <abbr title="Trae funciones del padre, usando for en este caso"><b>Input</b></abbr> } from '@angular/core';  
<b>import {{c}} <abbr title="Poder redirigir a otro lugar">Router</abbr> } from '@angular/router';</b>

@Component({{c}}
  selector: 'app-hijo',
  templateUrl: './hijo.component.html',
  styleUrls: ['./hijo.component.css']
})
export class hijoComponent implements OnInit {{c}}

  <b><abbr title="Propiedad que viene de fuera gracia a Input, está definida en otro componente, en el for, es una variable local del otro componente">@Input</abbr>() otra_variable: any={{c}}};</b>   
  <b>@Input() otro_index: number;</b>

  constructor( <b>private nombre_router: Router</b> ) {{c}} }

  ngOnInit(): void {{c}}
  }

  <b>VerComponenteMostrar1(){{c}}
        console.log( this.otro_index);
        this.nombre_router.navigate( [ '/<abbr title="Nos lleva al componente individual (por el index) ubicada en el otro componente, donde es llamado">variable_html</abbr>', this.otro_index ] )
  }</b>

}
</pre>
                </div>
              </div>
        
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Hijo.Html <small> (Reutilizable llamado por el padre) <small> - Igual en Input/Output</small></small></h3>
                    <pre class="card-text">{{co}}div class="card" style="width: 18rem;">
    {{co}}img {{t}}src]="<b><abbr title="Llamado en el otro componente y relacionado con las variables del otro componente">otra_variable</abbr></b>.DireccionImagen" class="card-img-top" {{t}}alt]="<b>otra_variable</b>.VariableSecundaria1">
    {{co}}div class="card-body">
      {{co}}h5 class="card-title">{{c}}{{c}}<b>otra_variable</b>.VariableSecundaria2}}{{co}}/h5>
      {{co}}p class="card-text">{{c}}{{c}}<b>otra_variable</b>.VariableSecundaria3}}{{co}}/p>
      {{co}}p class="card-text">{{c}}{{c}}<b>otra_variable</b>.VariableSecundaria4}}{{co}}/p>

      {{co}}button <b>{{p}}click)="<abbr title="Función declarada en el Ts y relaciona con el html del otro componente con la variable de aquí (otra_variable)">VerComponenteMostrar1</abbr>()</b>" type="button" class="btn btn-outline-primary btn-block">Ir a Componente individual - Botón{{co}}/button>
    {{co}}/div>
{{co}}/div></pre>
                </div>
            </div>
          </div>

  </div>

  <div class="tab-pane fade" id="pills-servihijopadre0" role="tabpanel" aria-labelledby="pills-servihijopadre0-tab">
    
    <div class="card-group">
      <div class="card m-3">
          <div class="card-header bg-danger blanco">
              <pre class="card-text text-center blanco"><h3>Aclaración</h3></pre>
          </div>
          <div class="card-body">
            <b>Igual que Input</b> pero en vez de navegar al padre con la variable_html, se <b>navega</b> con el <b>$event</b> (<u><b>lo que emite el padre</b></u>) relacionado con la variable <b>elementoSeleccionado</b> del <b>padre.html y</b> con un <b>emit</b> del <b>padre.ts</b>
          </div>
      </div>
  </div>
    <div class="card-group">
      <div class="card m-3">
          <div class="card-header bg-danger blanco">
              <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
          </div>
          <div class="card-body">
  
            <app-tarjeta2 (elementoSeleccionado)="VerComponenteMostrar1( $event)" [otra_variable2]="variable_html" [otro_index2]="i" *ngFor="let variable_html of nombre_variable_ts; let i = index"></app-tarjeta2>
  
          </div>
      </div>
  </div>
    
          <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Padre.Ts<small> (Llama al hijo-reutilizable)<small> - Igual en Input/Output</small></small></h3>
                    <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} ServiciodepruebaService, nombre_interface_servicio } from '../serviciodeprueba.service';
import {{c}} <abbr title="Para movernos entre enlaces - navigate">Router</abbr> } from '@angular/router';</b>

@Component({{c}}
  selector: 'app-serviciopadreehijo',
  templateUrl: './serviciopadreehijo.component.html',
  styleUrls: ['./serviciopadreehijo.component.css']
})
export class ServiciopadreehijoComponent implements OnInit {{c}}

  <b><abbr title="Variable definida con una interface">nombre_variable_ts</abbr>: nombre_interface_servicio [] = [];</b>

  constructor( <b>private <abbr title="Variable donde metemos el servicio">_nombredelServicio</abbr>: ServiciodepruebaService,
                private <abbr title="Variable de enrutamiento">nombre_router</abbr>: Router</b> ) {{c}}}

  ngOnInit(): void {{c}}
      <b>this.nombre_variable_ts = this._nombredelServicio.<abbr title="Función para sacar los datos definidos en el servicio">getsacarDatosServicio</abbr>();</b>

      console.log( this.nombre_variable_ts );
  }
  
  
  <b>VerComponenteMostrar1( indice_recibido:Number ){{c}}
        console.log(indice_recibido);

        this.nombre_router.navigate( [ '/<abbr title="Variable local definida en el Html que relaciona con el Ts a través del for">variable_html</abbr>',<abbr title="Índice recibido al pulsar sobre el botón del Html de este componente">indice_recibido</abbr> ] )
  }</b>
  

}</pre>
                </div>
              </div>
        
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Padre.Html<small> (Llama al hijo-reutilizable) <small>- Igual Input/Output + elementoSeleccionado-$event</small></small></h3>
                    <pre class="card-text"><abbr title="Muestra una web pero con acciones u otra cosa"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr><b>{{co}}app-hijo2 <abbr title="(Cuando hacemos clic) llama = a la función -> VerComponenteMostrar1, por el $event que es quien EMITE"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{{p}}elementoSeleccionado)="VerComponenteMostrar1( $event)" 
            <abbr title="Variable usada en el Html del reutilizable, de este modo se hace la conexión entre ambos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{{t}}otra_variable2]="variable_html" 
            {{t}}<abbr title="Variable utilizada en el reutilizable en el Ts, que hace conexión del index entre ambos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>otro_index2]="i" {{f}}ngFor="let <abbr title="Variable local usada antes de este for para llamar al reutilizable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>variable_html of nombre_variable_ts; 
                                      let <abbr title="Variable local usada antes de este for para llamar al index del reutilizable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>i= index">
{{co}}/app-hijo2></b></pre>
                </div>
            </div>
          </div>
        
          <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Hijo.Ts <small> (Reutilizable llamado por el padre)</small></h3>
                    <pre class="card-text">import {{c}} Component, OnInit, <b>Input</b>, <abbr title="Para que el padre escuche los cambios que se produzca en el hijo, emite (emit)"><b>Output, EventEmitter</b></abbr> } from '@angular/core';  
<b>import {{c}} <abbr title="Poder redirigir a otro lugar">Router</abbr> } from '@angular/router';</b>

@Component({{c}}
  selector: 'app-hijo',
  templateUrl: './hijo.component.html',
  styleUrls: ['./hijo.component.css']
})
export class hijoComponent implements OnInit {{c}}

  <b><abbr title="Propiedad que viene de fuera gracia a Input, está definida en otro componente, en el for, es una variable local del otro componente">@Input</abbr>() otra_variable2: any={{c}}};</b>   
  <b>@Input() otro_index2: number;</b>
<b>  @Output() <abbr title="OBSERVABLE. Elemento que se repite en el html en (VerComponenteMostrar1) llama a la función  al ser clic al ponerlo entre ()">elementoSeleccionado</abbr>: <abbr title="Inicializamos como EventEmitter y dependiendo de lo que emitamos puede ser String, Number... Ponemos number del index. ">EventEmitter</abbr>{{co}}number></b>

  constructor( ) {{c}}
      <b>this.<abbr title="Variable que inicializamos con el efecto EventEmitter para emitir">elementoSeleccionado</abbr>= new EventEmitter();</b>
   }

  ngOnInit(): void {{c}}
  }

  <b>VerComponenteMostrar1(){{c}}
      this.<abbr title="Variable que lo unimos a que emita (emit) el elemento que corresponda al índice (otro_index2) que se selecciona al cliquear">elementoSeleccionado</abbr>.emit ( this.otro_index2 );
  }</b>

}
</pre>
                </div>
              </div>
        
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Hijo.Html <small> (Reutilizable llamado por el padre) <small> - Igual en Input/Output</small></small></h3>
                    <pre class="card-text">{{co}}div class="card" style="width: 18rem;">
    {{co}}img {{t}}src]="<b><abbr title="Llamado en el otro componente y relacionado con las variables del otro componente">otra_variable2</abbr></b>.DireccionImagen" class="card-img-top" {{t}}alt]="<b>otra_variable2</b>.VariableSecundaria1">
    {{co}}div class="card-body">
      {{co}}h5 class="card-title">{{c}}{{c}}<b>otra_variable2</b>.VariableSecundaria2}}{{co}}/h5>
      {{co}}p class="card-text">{{c}}{{c}}<b>otra_variable2</b>.VariableSecundaria3}}{{co}}/p>
      {{co}}p class="card-text">{{c}}{{c}}<b>otra_variable2</b>.VariableSecundaria4}}{{co}}/p>

      {{co}}button <b>{{p}}click)="<abbr title="Función declarada en el Ts y relaciona con el html del otro componente con la variable de aquí (otra_variable2)">VerComponenteMostrar1</abbr>()</b>" type="button" class="btn btn-outline-primary btn-block">Ir a Componente individual - Botón{{co}}/button>
    {{co}}/div>
{{co}}/div></pre>
                </div>
            </div>
          </div>

  </div>
    
</div>

