<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-servihijopadre0-tab" data-toggle="pill" href="#v-pills-servihijopadre0" role="tab" aria-controls="v-pills-servihijopadre0" aria-selected="true">x</a>
        <a class="nav-link" id="v-pills-servihijopadre1-tab" data-toggle="pill" href="#v-pills-servihijopadre1" role="tab" aria-controls="v-pills-servihijopadre1" aria-selected="false">x</a>
        <a class="nav-link" id="v-pills-servihijopadre2-tab" data-toggle="pill" href="#v-pills-servihijopadre2" role="tab" aria-controls="v-pills-servihijopadre2" aria-selected="false">x</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-servihijopadre0" role="tabpanel" aria-labelledby="v-pills-servihijopadre0-tab">
          
          <div class="card-group">
            <div class="card text-dark bg-danger m-3 border-0">
                <div class="card-header"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
            </div>
        </div>

        </div>

        <div class="tab-pane fade" id="v-pills-servihijopadre1" role="tabpanel" aria-labelledby="v-pills-servihijopadre1-tab">
          
       
          <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h3>x</h3>
                  <pre class="card-text">x</pre>
                </div>
              </div>

            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
            </div>
          </div>

          <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
              </div>
          </div>


        </div>

        <div class="tab-pane fade" id="v-pills-servihijopadre2" role="tabpanel" aria-labelledby="v-pills-servihijopadre2-tab">

          <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
              </div>
        
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
            </div>
          </div>
        
          <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
              </div>
        
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>x</h3>
                    <pre class="card-text">x</pre>
                </div>
            </div>
        </div></div>

  </div>
