<br><button class="btn btn-success" routerLink="/personalid/nuevo"><i class="fa fa-plus"></i>Agregar</button>
<button class="btn btn-dark" routerLink="/home">Atrás</button><br><br>
<div class="row">
  <div class="col-5 col-xs-4 col-sm-4 col-md-3 col-lg-3" *ngFor="let personal of PersonalModel; let i = index">
    <div class="card">
      <div class="card-body" >
        <h5 class="card-title">{{personal.persona}}</h5>
        <hr>
        <h6 class="card-title">{{personal.titulo}}</h6>
        <hr>
        <p style="color: black;"><b>Fecha</b>:</p>
<pre>Próxima: 
{{personal.fechaproxima}}
Última: 
{{personal.fechaultima}}
Renovación: 
{{personal.anoXrenovar}} años
        </pre>
        <hr *ngIf=personal.fechacita>
        <p style="color: black;" *ngIf=personal.fechacita><b>Cita</b>:</p>
<pre *ngIf=personal.fechacita>Próxima: 
{{personal.fechacita}}
Hora: 
{{personal.horacita}}
        </pre>
        <hr>
        <button class="btn btn-success mr-1" [routerLink]="['/personalid', personal.id ]"><i class="fa fa-pencil"></i> </button>
        <button class="btn btn-danger" (click)="borrarUnElemento3(personal, i)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-success" routerLink="/personalid/nuevo"><i class="fa fa-plus"></i>Agregar</button>
<button class="btn btn-dark" routerLink="/home">Atrás</button><br><br>