
<!-- ENTRA EN MOSTRAR -> HIJO-PADRE, PONER LO NUEVO Y EXPLICAR MEJOR CON OTRO EJEMPLO (INPU/OUTPUT Y VIEWCHIELD) -->



<!-- 



COMPONENTE PADRE

padre_texto = 'yo soy tu padre'

<app-hijo [nombre_mensaje]='padre_texto'></app-hijo>  //el padre da el hijo pide/recibe


COMPONENTE HIJO

@Input() nombre_mensaje: string   //Obtengo la variable/dato del padre

{{nombre_mensaje}}



-------------------------------------------------------------------


al reves


padre _> Directorio superior al inferior

hijo -> Directorio inferior al superior


 -->

<div class="row">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-padrehijohija-tab" data-toggle="pill" href="#v-pills-padrehijohija" role="tab" aria-controls="v-pills-padrehijohija" aria-selected="true">Padre-HijO -> Una misma página</a>
        <a class="nav-link" id="v-pills-padrehijohija0-tab" data-toggle="pill" href="#v-pills-padrehijohija0" role="tab" aria-controls="v-pills-padrehijohija0" aria-selected="true">Padre-HijO -> Diferentes páginas</a>
        <hr><a class="nav-link" id="v-pills-padrehijohija1-tab" data-toggle="pill" href="#v-pills-padrehijohija1" role="tab" aria-controls="v-pills-padrehijohija1" aria-selected="true">Padre -> HijAs</a>
        <a class="nav-link" id="v-pills-padrehijohija2-tab" data-toggle="pill" href="#v-pills-padrehijohija2" role="tab" aria-controls="v-pills-padrehijohija2" aria-selected="false">Obtener del padre<br>desde las hijAs</a>
      </div>
    </div>

    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade" id="v-pills-padrehijohija" role="tabpanel" aria-labelledby="v-pills-padrehijohija-tab"><hr><app-serviceone></app-serviceone></div>

        <div class="tab-pane fade" id="v-pills-padrehijohija0" role="tabpanel" aria-labelledby="v-pills-padrehijohija0-tab"><hr><app-serviciopadreehijo></app-serviciopadreehijo></div>

        <div class="tab-pane fade" id="v-pills-padrehijohija1" role="tabpanel" aria-labelledby="v-pills-padrehijohija1-tab">
          
        <!-- <a class="nav-link" [routerLink]="['/usuarioH/:id']">Ir</a> OTRA FORMA QUE FUNCIONA-->
        <a [routerLink]="['/usuarioH','19']">Ir al ejemplo</a>
        <!-- una id que ponemos, cualquier número/letra, por ahora -->
        

        <div class="card-group">
          <div class="card text-dark bg-danger m-3">
              <div class="card-header">
                  <pre class="card-text text-center blanco"><h3>App.routing/routes.ts <small>(Todo junto sin dividir en otro usuario.router.ts)</small></h3></pre>
              </div>
              <div class="card-body">
                <pre class="card-text blanco">import {{c}} Routes, RouterModule } from '@angular/router';

import {{c}} AppComponent } from './app.component';

import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>import {{c}} UsuarioHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-hija/usuario-hija.component';
import {{c}} UsuarioNuevoHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-nuevo-hija/usuario-nuevo-hija.component';
import {{c}} UsuarioEditarHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-editar-hija/usuario-editar-hija.component';
import {{c}} UsuarioDetalleHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-detalle-hija/usuario-detalle-hija.component';</b>

export const APP_ROUTES: Routes = [   
  {{c}} path: '', component: HomeComponent },   
  {{c}} path: 'home', component: HomeComponent},   
  {{c}} path: 'pie', component: PieComponent},  
  {{c}} path: 'cabecera', component: CabeceraComponent},  
  {{c}} path: 'appcomponente', component: AppComponent },   
  <b>{{c}} path: 'usuarioH/:id', component: UsuarioHijaComponent, children: [   <abbr title="usuario/id/UNA_DE_LAS_HIJAS -> Dentro de cada perfil de usuario/otro, poder modificar/nuevo/detalle de sus datos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{c}} path: 'nuevoH', component: UsuarioNuevoHijaComponent},   <abbr title="usuario/id/nuevo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{c}} path: 'editarH', component: UsuarioEditarHijaComponent},  <abbr title="usuario/id/editar"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{c}} path: 'detalleH', component: UsuarioDetalleHijaComponent},   <abbr title="usuario/id/detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: '**', pathMatch: 'full', redirectTo: 'nuevoH'}   <abbr title="Si ponemos otra dirección (usuarioH/19/direccionMalPuesta) en lugar de usuarioH/:id/nuevoH (editarH o detalleH) nos va a la ruta que hemos puesto (nuevoH)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    ] 
},</b>
  {{c}} path: '**', component: HomeComponent }  
];
 
export const APP_ROUTING: RouterModule.forRoot(APP_ROUTES);</pre>  
              </div>
          </div>
      </div>

      <div class="card-group">
        <div class="card text-dark bg-danger m-3">
            <div class="card-header">
                <pre class="card-text text-center blanco"><h3>App.routing/routes.ts -> usuario.routes.ts</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text blanco">import {{c}} Routes, RouterModule } from '@angular/router';

import {{c}} AppComponent } from './app.component';

import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>import {{c}} USUARIO_ROUTES } from './paginas/programacion/angular/padre-hijo-hijas/usuario.routes';</b>   <abbr title="Llamamos para enlazarlo y usarse el Routes/routing específico de usuario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

export const APP_ROUTES: Routes = [   
  {{c}} path: '', component: HomeComponent },   
  {{c}} path: 'home', component: HomeComponent},   
  {{c}} path: 'pie', component: PieComponent},  
  {{c}} path: 'cabecera', component: CabeceraComponent},  
  {{c}} path: 'appcomponente', component: AppComponent },   
  {{c}} path: 'usuarioH/:id', component: UsuarioHijaComponent, children: <b>USUARIO_ROUTES</b>
},
  {{c}} path: '**', component: HomeComponent }  
];
 
export const APP_ROUTING: RouterModule.forRoot(APP_ROUTES);</pre>
            </div>
        </div>
        <div class="card text-dark bg-danger m-3">
          <div class="card-header">
              <pre class="card-text text-center blanco"><h3>Usuario.routes.ts</h3></pre>
          </div>
          <div class="card-body">
              <pre class="card-text blanco"><b>import {{c}} Routes } from '@angular/router';   <abbr title="Llama a Routes para poder realizar el enlace entre páginas"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

<abbr title="Para poder enlazar las subdirecciones del usuario: Nuevo, Editar, Detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
import {{c}} UsuarioNuevoHijaComponent } from './usuario-nuevo-hija/usuario-nuevo-hija.component';   
import {{c}} UsuarioEditarHijaComponent } from './usuario-editar-hija/usuario-editar-hija.component';
import {{c}} UsuarioDetalleHijaComponent } from './usuario-detalle-hija/usuario-detalle-hija.component';

export const USUARIO_ROUTES: Routes = [   <abbr title="USUARIO_ROUTES -> Lo sacamos con export y lo llamamos en el module.ts"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    {{c}} path: 'nuevoH', component: UsuarioNuevoHijaComponent},
    {{c}} path: 'editarH', component: UsuarioEditarHijaComponent},
    {{c}} path: 'detalleH', component: UsuarioDetalleHijaComponent},
    {{c}} path: '**', pathMatch: 'full', redirectTo: 'nuevoH'}  

]</b>;</pre>
          </div>
      </div>
    </div>
      

      <div class="card-group">
        <div class="card text-dark bg-warning m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Padre-Usuario.Html</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">{{co}}!-- {{co}}a class="nav-link" <b>{{t}}routerLink]="['/usuarioH/:id']"</b>>Ir{{co}}/a> -->   <abbr title="Otra forma. Va al usuario dando el id del usuario, que aún no hemos obtenido pero así sería la dirección y funciona"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
{{co}}a <b>{{t}}routerLink]="['/usuarioH','19']"</b>>Ir al ejemplo{{co}}/a>   <abbr title="19 representa la id, cuando cojamos id será otros números/letras"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
            </div>
        </div>
        <div class="card text-dark bg-warning m-3">
          <div class="card-header">
              <pre class="card-text text-center"><h3>Hija-Usuario.Html</h3></pre>
          </div>
          <div class="card-body">
              <pre class="card-text">{{co}}div class="card-group">
    {{co}}div class="card m-3">
        {{co}}div class="card-header bg-danger">
            {{co}}pre class="card-text text-center blanco">{{co}}h3>Ejemplo{{co}}/h3>{{co}}/pre>
        {{co}}/div>
        {{co}}div class="card-body">

            {{co}}button class="btn btn-danger m-2" <b>{{t}}routerLink]="['/angular']"</b> style="text-align: left;">Atras{{co}}/button>

            {{co}}div class="btn-group" role="group" aria-label="Basic example">
                {{co}}button type="button" class="btn btn-secondary" <b>routerLinkActive="active"  <abbr title="Se activa al pulsar el botón"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> {{t}}routerLink]="['nuevoH']"   <abbr title="Va a la página"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></b>>Nuevo{{co}}/button>   
                {{co}}button type="button" class="btn btn-secondary" <b>routerLinkActive="active" {{t}}routerLink]="['editarH']"</b>>Editar{{co}}/button>   
                {{co}}button type="button" class="btn btn-secondary" <b>routerLinkActive="active" {{t}}routerLink]="['detalleH']"</b>>Detalle{{co}}/button>
            {{co}}/div>

            <b>{{co}}router-outlet>{{co}}/router-outlet></b>   <abbr title="Aunque se haya puesto en otro lugar (app.component.html) se pone aquí también. Ya que es para que funcione las rutas hijas, las que están por debajo de la raíz donde lo pongamos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            
        {{co}}/div>
    {{co}}/div>
{{co}}/div>
</pre>
          </div>
      </div>
    </div>

      
        </div>

        <div class="tab-pane fade" id="v-pills-padrehijohija2" role="tabpanel" aria-labelledby="v-pills-padrehijohija2-tab">
          
          <!-- <a class="nav-link" [routerLink]="['/usuarioH/:id']">Ir</a> OTRA FORMA QUE FUNCIONA-->
        <a [routerLink]="['/usuarioH','19']">Ir al ejemplo</a>
        <!-- una id que ponemos, cualquier número/letra, por ahora -->

<div class="card-group">
          <div class="card text-dark bg-danger m-3">
              <div class="card-header">
                  <pre class="card-text text-center blanco"><h3>App.routing/routes.ts <small>(Todo junto sin dividir en otro usuario.router.ts)</small></h3></pre>
              </div>
              <div class="card-body">
                <pre class="card-text blanco">import {{c}} Routes, RouterModule } from '@angular/router';

import {{c}} AppComponent } from './app.component';

import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>import {{c}} UsuarioHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-hija/usuario-hija.component';
import {{c}} UsuarioNuevoHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-nuevo-hija/usuario-nuevo-hija.component';
import {{c}} UsuarioEditarHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-editar-hija/usuario-editar-hija.component';
import {{c}} UsuarioDetalleHijaComponent } from './paginas/programacion/angular/padre-hijo-hijas/usuario-detalle-hija/usuario-detalle-hija.component';</b>

export const APP_ROUTES: Routes = [   
  {{c}} path: '', component: HomeComponent },   
  {{c}} path: 'home', component: HomeComponent},   
  {{c}} path: 'pie', component: PieComponent},  
  {{c}} path: 'cabecera', component: CabeceraComponent},  
  {{c}} path: 'appcomponente', component: AppComponent },   
  <b>{{c}} path: 'usuarioH/:id', component: UsuarioHijaComponent, children: [   <abbr title="usuario/id/UNA_DE_LAS_HIJAS -> Dentro de cada perfil de usuario/otro, poder modificar/nuevo/detalle de sus datos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{c}} path: 'nuevoH', component: UsuarioNuevoHijaComponent},   <abbr title="usuario/id/nuevo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{c}} path: 'editarH', component: UsuarioEditarHijaComponent},  <abbr title="usuario/id/editar"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{c}} path: 'detalleH', component: UsuarioDetalleHijaComponent},   <abbr title="usuario/id/detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: '**', pathMatch: 'full', redirectTo: 'nuevoH'}   <abbr title="Si ponemos otra dirección (usuarioH/19/direccionMalPuesta) en lugar de usuarioH/:id/nuevoH (editarH o detalleH) nos va a la ruta que hemos puesto (nuevoH)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    ] 
},</b>
  {{c}} path: '**', component: HomeComponent }  
];
 
export const APP_ROUTING: RouterModule.forRoot(APP_ROUTES);</pre>  
              </div>
          </div>
      </div>

      <div class="card-group">
        <div class="card text-dark bg-danger m-3">
            <div class="card-header">
                <pre class="card-text text-center blanco"><h3>App.routing/routes.ts -> usuario.routes.ts</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text blanco">import {{c}} Routes, RouterModule } from '@angular/router';

import {{c}} AppComponent } from './app.component';

import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>import {{c}} USUARIO_ROUTES } from './paginas/programacion/angular/padre-hijo-hijas/usuario.routes';</b>   <abbr title="Llamamos para enlazarlo y usarse el Routes/routing específico de usuario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

export const APP_ROUTES: Routes = [   
  {{c}} path: '', component: HomeComponent },   
  {{c}} path: 'home', component: HomeComponent},   
  {{c}} path: 'pie', component: PieComponent},  
  {{c}} path: 'cabecera', component: CabeceraComponent},  
  {{c}} path: 'appcomponente', component: AppComponent },   
  {{c}} path: 'usuarioH/:id', component: UsuarioHijaComponent, children: <b>USUARIO_ROUTES</b>
},
  {{c}} path: '**', component: HomeComponent }  
];
 
export const APP_ROUTING: RouterModule.forRoot(APP_ROUTES);</pre>
            </div>
        </div>
        <div class="card text-dark bg-danger m-3">
          <div class="card-header">
              <pre class="card-text text-center blanco"><h3>Usuario.routes.ts</h3></pre>
          </div>
          <div class="card-body">
              <pre class="card-text blanco"><b>import {{c}} Routes } from '@angular/router';   <abbr title="Llama a Routes para poder realizar el enlace entre páginas"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

<abbr title="Para poder enlazar las subdirecciones del usuario: Nuevo, Editar, Detalle"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
import {{c}} UsuarioNuevoHijaComponent } from './usuario-nuevo-hija/usuario-nuevo-hija.component';   
import {{c}} UsuarioEditarHijaComponent } from './usuario-editar-hija/usuario-editar-hija.component';
import {{c}} UsuarioDetalleHijaComponent } from './usuario-detalle-hija/usuario-detalle-hija.component';

export const USUARIO_ROUTES: Routes = [   <abbr title="USUARIO_ROUTES -> Lo sacamos con export y lo llamamos en el module.ts"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    {{c}} path: 'nuevoH', component: UsuarioNuevoHijaComponent},
    {{c}} path: 'editarH', component: UsuarioEditarHijaComponent},
    {{c}} path: 'detalleH', component: UsuarioDetalleHijaComponent},
    {{c}} path: '**', pathMatch: 'full', redirectTo: 'nuevoH'}  

]</b>;</pre>
          </div>
      </div>
    </div>


     <div class="card-group">
        <div class="card text-dark bg-primary m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Padre-Usuario.Ts</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} ActivatedRoute } from '@angular/router';</b>   <abbr title="Para navegar entre los enlaces y así coger la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Component({{c}}
  selector: 'app-usuario-hija',
  templateUrl: './usuario-hija.component.html',
  styleUrls: ['./usuario-hija.component.css']
})
export class UsuarioHijaComponent implements OnInit {{c}}

  constructor( <b>private router: ActivatedRoute</b> ) {{c}}   <abbr title="Lo ara navegar entre los enlaces y así coger la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 

    <b>this.router.params.subscribe( parametroObtenido =>{{c}}</b>   <abbr title="params nos devuelve un observable que nos tenemos que subscribir. Obtenemos lo que le mandemos por el URL, en este caso la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      console.log( "Ruta <b>PADRE</b>" );
      console.log( <b>parametroObtenido</b> );   <abbr title="Mostramos lo que obtenemos lo que nos manda desde la url al entrar en el padre / usuario / id_del_usuario. Dentro de él los parámetros (hijas )"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      
    })
  }

  ngOnInit(): void {{c}}
  }

}</pre>
            </div>
        </div>
        <div class="card text-dark bg-warning m-3">
          <div class="card-header">
              <pre class="card-text text-center"><h3>Padre-Usuario.Html</h3></pre>
          </div>
          <div class="card-body">
              <pre class="card-text">{{co}}!-- {{co}}a class="nav-link" <b>{{t}}routerLink]="['/usuarioH/:id']"</b>>Ir{{co}}/a> -->   <abbr title="Otra forma. Va al usuario dando el id del usuario, que aún no hemos obtenido pero así sería la dirección y funciona"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                {{co}}a <b>{{t}}routerLink]="['/usuarioH','19']"</b>>Ir al ejemplo{{co}}/a>   <abbr title="19 representa la id, cuando cojamos id será otros números/letras"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
          </div>
      </div>
    </div>


    <div class="card-group">
      <div class="card text-dark bg-primary m-3">
          <div class="card-header">
              <pre class="card-text text-center"><h3>Hija-Usuario.Ts</h3></pre>
          </div>
          <div class="card-body">
            <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
              <b>import {{c}} ActivatedRoute } from '@angular/router';</b>   <abbr title="Para navegar entre los enlaces y así coger la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Component({{c}}
  selector: 'app-usuario-nuevo-hija',
  templateUrl: './usuario-nuevo-hija.component.html',
  styleUrls: ['./usuario-nuevo-hija.component.css']
})
export class UsuarioNuevoHijaComponent implements OnInit {{c}}

  constructor( <b>private router: ActivatedRoute</b> ) {{c}}   <abbr title="Lo ara navegar entre los enlaces y así coger la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 

  <abbr title="parent -> Coge el valor del padre, cuando entra en la hija a través de un botón del padre (nombre/:id), se obtiene la id a través de ese paso"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr><b>this.router.parent.params.subscribe( parametroObtenido =>{{c}}</b>   <abbr title="params nos devuelve un observable que nos tenemos que subscribir. Obtenemos lo que le mandemos por el URL, en este caso la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      console.log("Ruta <b>HIJA Usuario Nuevo</b>");
      console.log( <b>parametroObtenido</b> );   <abbr title="Mostramos lo que obtenemos lo que nos manda desde la url al entrar en el padre / usuario / id_del_usuario. Dentro de él los parámetros (hijas )"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      
    })
  }

  ngOnInit(): void {{c}}
  }

}</pre>
          </div>
      </div>
      <div class="card text-dark bg-warning m-3">
        <div class="card-header">
            <pre class="card-text text-center"><h3>Hija-Usuario.Html</h3></pre>
        </div>
        <div class="card-body">
            <pre class="card-text">{{co}}div class="card-group">
    {{co}}div class="card m-3">
        {{co}}div class="card-header bg-danger">
            {{co}}pre class="card-text text-center blanco">{{co}}h3>Ejemplo{{co}}/h3>{{co}}/pre>
        {{co}}/div>
        {{co}}div class="card-body">

            {{co}}button class="btn btn-danger m-2" <b>{{t}}routerLink]="['/angular']"</b> style="text-align: left;">Atras{{co}}/button>

            {{co}}div class="btn-group" role="group" aria-label="Basic example">
                {{co}}button type="button" class="btn btn-secondary" <b>routerLinkActive="active"  <abbr title="Se activa al pulsar el botón"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> {{t}}routerLink]="['nuevoH']"   <abbr title="Va a la página"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></b>>Nuevo{{co}}/button>   
                {{co}}button type="button" class="btn btn-secondary" <b>routerLinkActive="active" {{t}}routerLink]="['editarH']"</b>>Editar{{co}}/button>   
                {{co}}button type="button" class="btn btn-secondary" <b>routerLinkActive="active" {{t}}routerLink]="['detalleH']"</b>>Detalle{{co}}/button>
            {{co}}/div>

            <b>{{co}}router-outlet>{{co}}/router-outlet></b>   <abbr title="Aunque se haya puesto en otro lugar (app.component.html) se pone aquí también. Ya que es para que funcione las rutas hijas, las que están por debajo de la raíz donde lo pongamos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            
        {{co}}/div>
    {{co}}/div>
{{co}}/div></pre>
        </div>
    </div>
  </div>


        </div>
        
      </div>
    </div>

</div>



