<h6><u><b>Angular - Variables</b></u></h6>
<ul>
    <li><b>Variable en TS</b>: variable_ts_html=`Información a mostrar en el Html`;</li>
    <li><b>Variable en Html</b>: {{variable_ts_html}} y muestra en el navegador su contenido escrito en el TS -> <u>Información a mostrar en el Html</u></li>
    <li><b>Private en ts</b>: No se ve en el htlm las propiedades</li>
    <li><b>Public en ts</b>: Se ve en el htlm las propiedades</li>
    <li><b>Tipo</b>: string, number, boolean</li>
    <li><b>Importar automáticamente el servicio u otro</b>: A través de la declaración de la variable. Al seleccionarlo en las sugerencias que van apareciendo el servicio u otro</li>
</ul>
<button class="btn btn-dark m-2" [routerLink]="['/angular']">Atras</button>
