<div class="row">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-formulariofirebaseangular-tab" data-toggle="pill" href="#v-pills-formulariofirebaseangular" role="tab" aria-controls="v-pills-formulariofirebaseangular" aria-selected="true">x</a>
        <a class="nav-link" id="v-pills-formulariofirebaseangular0-tab" data-toggle="pill" href="#v-pills-formulariofirebaseangular0" role="tab" aria-controls="v-pills-formulariofirebaseangular0" aria-selected="true">x</a>
        <a class="nav-link" id="v-pills-formulariofirebaseangular1-tab" data-toggle="pill" href="#v-pills-formulariofirebaseangular1" role="tab" aria-controls="v-pills-formulariofirebaseangular1" aria-selected="false">x</a>
        <a class="nav-link" id="v-pills-formulariofirebaseangular2-tab" data-toggle="pill" href="#v-pills-formulariofirebaseangular2" role="tab" aria-controls="v-pills-formulariofirebaseangular2" aria-selected="false">x</a>
      </div>
    </div>

    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade" id="v-pills-formulariofirebaseangular" role="tabpanel" aria-labelledby="v-pills-formulariofirebaseangular-tab">x</div>

        <div class="tab-pane fade" id="v-pills-formulariofirebaseangular0" role="tabpanel" aria-labelledby="v-pills-formulariofirebaseangular0-tab">x</div>

        <div class="tab-pane fade" id="v-pills-formulariofirebaseangular1" role="tabpanel" aria-labelledby="v-pills-formulariofirebaseangular1-tab">x</div>

        <div class="tab-pane fade" id="v-pills-formulariofirebaseangular2" role="tabpanel" aria-labelledby="v-pills-formulariofirebaseangular2-tab">x</div>
  </div>

</div>