<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <h3 style="text-align: center;"><u><b>Sweepalert2</b></u></h3>
            <p style="text-align: center;"><a href="https://sweetalert2.github.io/#download"><b>Web</b></a></p>
            <br>
            <button class="btn btn-danger m-5" [routerLink]="['/instalacionsweepalert2']">Instalación</button>
            <button class="btn btn-danger m-5" [routerLink]="['/configuracionsweepalert2']">Configuración</button>
            <button class="btn btn-danger m-5" [routerLink]="['/ejemplossweep']">Ejemplos</button>
            <button class="btn btn-danger m-5" [routerLink]="['/metodossweep']">Métodos</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
        </div>
    </div>
</div>