<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-buscadorprincipal0-tab" data-toggle="pill" href="#v-pills-buscadorprincipal0" role="tab" aria-controls="v-pills-buscadorprincipal0" aria-selected="true">Servicio/Routing</a>
        <a class="nav-link" id="v-pills-buscadorprincipal1-tab" data-toggle="pill" href="#v-pills-buscadorprincipal1" role="tab" aria-controls="v-pills-buscadorprincipal1" aria-selected="false">Buscador</a>
        <a class="nav-link" id="v-pills-buscadorprincipal2-tab" data-toggle="pill" href="#v-pills-buscadorprincipal2" role="tab" aria-controls="v-pills-buscadorprincipal2" aria-selected="false">Resultado</a>
      </div>
    </div>


<pre style="color: black;">Para <u>ver resultado</u>, poner <b>Datos</b> o <b>a</b> o ... (<b>Dos</b> resultados <small>Porque no hay más...</small>). <b>Datos1</b> o <b>Dato2</b> (<b>Un</b> resultado)</pre>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" (keyup.enter)="funcion_Buscar(buscartexto.value)" #buscartexto>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="funcion_Buscar(buscartexto.value)">Buscar</button>
        </form>


   <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-buscadorprincipal0" role="tabpanel" aria-labelledby="v-pills-buscadorprincipal0-tab">
          
            <div class="card-group">
      <div class="card text-dark bg-danger m-3">
          <div class="card-body"><h3>Servicio</h3>
              <pre class="card-text">import {{c}} Injectable } from '@angular/core';

@Injectable({{c}}
providedIn: 'root'
})
export class ServiciodepruebaService {{c}}

private <b>nombre_variable_servicio</b>: nombre_interface_servicio[] = [
{{c}}
  VariableSecundaria1: "Datos1.1",
  VariableSecundaria2: "Datos1.2",
  DireccionImagen: "../../../../../../assets/imagenes/Angular.png",
  VariableSecundaria3: "Datos1.3",
  VariableSecundaria4:"html"
},
{{c}}
  VariableSecundaria1: "Datos2.2",
  VariableSecundaria2: "Datos2.2",
  DireccionImagen: "../../../../../../assets/imagenes/typescript.png",
  VariableSecundaria3: "Datos2.3",
  VariableSecundaria4:"css"
}
//Y se sigue repitiendo
];

constructor() {{c}} }

<b>buscartexto ( texto_a_buscar:string) {{c}}
let <abbr title="Se crea para no alterar el original">variable_arreglo</abbr>:nombre_interface_servicio[] = [];  
texto_a_buscar = texto_a_buscar.toLowerCase();


  for ( let variable_for of this.nombre_variable_servicio){{c}}
      let variable_local = variable_for.VariableSecundaria1.toLowerCase();

     <abbr title="Si se encuenta el texto que introducimos en la variables que metemos en el for">if</abbr> ( variable_local.<abbr title="si encuentra devuelve un 0, sino -1. Con ello comparamos que sea >=0">indexOf</abbr> (texto_a_buscar) <abbr title="La posición debe ser 0 o más ya que la 1º posición es 0">>= 0</abbr> )
          {{c}}
          variable_arreglo.push( variable_for )
          }
      }

return variable_arreglo;

}</b>

}


export interface nombre_interface_servicio {{c}}
VariableSecundaria1: string;
VariableSecundaria2: string;
DireccionImagen: string;
VariableSecundaria3: string;
VariableSecundaria4: string;
};</pre>
          </div>
        </div>


        <div class="card text-dark bg-danger m-3">
          <div class="card-body"><h3>Routing/Routes</h3>
              <pre class="card-text">import {{c}} ModuleWithProviders } from '@angular/core';

import {{c}} Routes, RouterModule } from '@angular/router';

import {{c}} AppComponent } from './app.component';

import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>import {{c}} BuscadorComponent } from './paginas/programacion/angular/buscador/buscador.component';</b>

export const appRoutes: Routes = [               
{{c}} path: '', component: HomeComponent },             
{{c}} path: 'home', component: HomeComponent}, 
{{c}} path: 'pie', component: PieComponent}, 
{{c}} path: 'cabecera', component: CabeceraComponent}, 
{{c}} path: 'appcomponente', component: AppComponent },
<b>{{c}} path: 'buscador/<abbr title="Mismo nombre que en el Ts donde aparecerá el resultado"><b>:termino_buscar</b></abbr>', component: BuscadorComponent},</b>
{{c}} path: '**', component: ErrorComponent},
{{c}} path: '**', pathMatch: 'full', redirectTo: 'home'},
{{c}} path: '**', component: HomeComponent }
];

export const appRoutingProviders: any[] = [];                                    //appRoutingProviders: Relacionado en module.ts llamado con import
export const routing: ModuleWithProviders = RouterModule.forRoot (appRoutes);</pre>
          </div>
      </div>

  </div>

        </div>

        <div class="tab-pane fade" id="v-pills-buscadorprincipal1" role="tabpanel" aria-labelledby="v-pills-buscadorprincipal1-tab">
          
       
          <div class="card-group">
    
  <div class="card text-dark bg-primary m-3">
          <div class="card-body"><h3>Ts buscador</h3>
              <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} Router } from '@angular/router';</b>

@Component({{c}}
selector: 'app-funcionesangular',
templateUrl: './funcionesangular.component.html',
styleUrls: ['./funcionesangular.component.css']
})

export class FuncionesangularComponent implements OnInit {{c}}

constructor( <b>private variable_router: Router</b> ) {{c}} }

ngOnInit(): void {{c}}
}

<b>funcion_Buscar( nombre_a_buscar:string ){{c}}
console.log(nombre_a_buscar);
this.<abbr title="Para movernos y navegar a donde indiquemos">variable_router.navigate</abbr> ( ['/<abbr title="Mismo nombre que en routing ->   { path: 'buscador/:termino_buscar', component: BuscadorComponent},">buscador</abbr>',<abbr title="Parámetro cogido en esta función, que proviene de lo que introduzcamos en el buscador">nombre_a_buscar</abbr> ] );
}</b>

}</pre>
          </div>
      </div>

    <div class="card text-dark bg-warning m-3">
        <div class="card-body"><h3>Html Buscador</h3>

            <pre class="card-text">{{co}}form class="form-inline my-2 my-lg-0">
{{co}}input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" <b><abbr title="Actúa al hacer click">{{p}}keyup.enter)</abbr>="funcion_Buscar{{p}}<abbr title="Variable local definida luego con # añadiendo value">buscartexto</abbr>.value)" #buscartexto</b>>
{{co}}button class="btn btn-outline-danger my-2 my-sm-0" type=<b>"<abbr title="Cambiamos a button para que no suba la acción sino que haga la acción solo de buscar">button</abbr>" <abbr title="Actúa al darle al botón">{{p}}click)</abbr>="funcion_Buscar{{p}}buscartexto.value)"</b>>Buscar{{co}}/button>
{{co}}/form></pre>
        </div>
      </div>
      
  </div>


        </div>

        <div class="tab-pane fade" id="v-pills-buscadorprincipal2" role="tabpanel" aria-labelledby="v-pills-buscadorprincipal2-tab">

          <div class="card-group">
    
      <div class="card text-dark bg-primary m-3">
          <div class="card-body"><h3>Ts Resultado</h3>
              <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} <abbr title="Poder movernos y navegar entre páginas">ActivatedRoute</abbr> } from '@angular/router';</b>
<b>import {{c}} <abbr title="Usamos el servicio para llamar a la función buscar">ServiciodepruebaService</abbr> } from '../serviciounovarias/serviciodeprueba.service';</b>

@Component({{c}}
selector: 'app-buscador',
templateUrl: './buscador.component.html',
styleUrls: ['./buscador.component.css']
})
export class BuscadorComponent implements OnInit {{c}}

<b><abbr title="Variable local en arreglo, para poder enseñar varios resultados">variable_array</abbr>:any[] = []</b>

<b><abbr title="Parabra de la búsqueda que saldrá reflejada en el html del resultado">palabra_a_buscar</abbr>: string;</b>

constructor( <b>private variable_activatedRoute: ActivatedRoute,
            private _variableServicio: ServiciodepruebaService</b> ) {{c}}

}

ngOnInit(): void {{c}}

<b>this.variable_activatedRoute.<abbr title="Está pendiente de los cambios, para que funcione nos tenemos que subscribir a esos cambios"><b>params</b></abbr><abbr title="Es necesario subscribirse">.subscribe</abbr> ( params => {{c}}</b>
console.log(params['<b><abbr title="Mismo que en router. path: 'buscador/:termino_buscar', component: BuscadorComponent">termino_buscar</abbr> </b>']);

<b>this.variable_array = this._variableServicio.<abbr title="Función llamado a través del servicio llamado a su vez en la variable">buscartexto</abbr>( params ['termino_buscar'] );
  console.log(this.variable_array);

<b>this.palabra_a_buscar = params ['termino_buscar'];</b>

});</b>
}


}</pre>
          </div>
        </div>
        <div class="card text-dark bg-warning m-3">
            <div class="card-body"><h3>Html Resultado</h3>
                <pre class="card-text">{{co}}h1>Buscando: {{co}}small><b>{{c}}{{c}} <abbr title="Palabra que introducimos en la búsqueda y que aparece en el html">palabra_a_buscar</abbr> }}</b>{{co}}/small>{{co}}/h1>

{{co}}hr>
{{co}}div class="row" <b>{{f}}<abbr title="Muestra SI cumple la condición, no haya ni una letra en la base de datos">ngIf</abbr>="<abbr title="Variable del TS en array">variable_array</abbr>.<abbr title="Si no tiene ninguna letra que coincida = 0">length == 0</abbr> "</b>>
  {{co}}div class="col-md-12">
      <b>{{co}}div class="alert alert-info" role="alert">
          No existe resultados con el término: {{c}}{{c}} palabra_a_buscar }}
      {{co}}/div></b>
  {{co}}/div>
{{co}}/div>

{{co}}div class="card" style="width: 18rem;" <b>{{f}}ngFor="let variable_html of variable_array, let i = index"</b>>
<b>{{co}}img {{t}}src]="variable_html.DireccionImagen"</b> class="card-img-top" {{t}}alt]="variable_html.VariableSecundaria1">
{{co}}div class="card-body">
{{co}}h5 class="card-title"><b>{{co}}{{co}}variable_html.VariableSecundaria2}}</b>{{co}}/h5>
{{co}}p class="card-text"><b>{{co}}{{co}}variable_html.VariableSecundaria3}}</b>{{co}}/p>
{{co}}p class="card-text"><b>{{co}}{{co}}variable_html.VariableSecundaria4}}</b>{{co}}/p>
{{co}}/div>
{{co}}/div></pre>
            </div>
        </div>
    </div>

 </div>

 </div>
 </div></div>