<div>
    <div id="x1">Hover (Poner ratón encima y ver párrafo oculto)    <!--Hover-->
        <p>El Div oculta este párrafo con hover</p>
    </div> 

    <div id="x2"></div>                                             <!--Elemento vacío, empty-->

    <div id="x4">                                                   <!--1º y último hijo, efectos-->
        <p>first-child (Primer hijo)</p>
        <p>Hijo del medio</p>
        <p>last-child (Último hijo)</p>
    </div>

</div>

<p id="par">Párrafo fuera del div</p>                               <!--(::) Para especificar el elemento que se encuentra dentro, en este caso el párrafo-->

<p class="der">Odd: Párrafo Impar</p>    
<p class="doc">Even: Párrafo Par</p>           
