<div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="c.ard-body">

            <div class="row justify-content-center mt-5">
                <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-5">
            
                    <h5 class="card-title mt-5" *ngIf="!errorN">{{pokemon?.id}}º  {{pokemon?.name}}</h5>  
            
                    <img class="hunter" *ngIf="errorN"  src="../../../assets/image/hunter.png">  
                    <h5 class="card-title mt-5" *ngIf="errorN" >Ups! algo ha fallado: {{errorN}}</h5>  
            
                            <img src="{{image}}" class="d-block w-100 mt-5" alt="...">  
            
                    <span class="badge rounded-pill bg-danger mx-3" *ngIf="!errorN" >Tipo: {{pokemonType}}</span> 
                    <span class="badge rounded-pill bg-danger mx-3" *ngIf="!errorN" >{{weight}} g</span> 
                    <span class="badge rounded-pill bg-danger mx-3" *ngIf="!errorN" >{{height}} cm</span> 
                      
                </div>
            </div>
             
            <button [routerLink]="['/home']" class="btn btn-primary" type="button">Ir atrás...</button>

        </div>
    </div>
</div>