/*Cambiar de color del botón activo*/
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link, button{
    background: black !important;
    color: white !important;
}

a{
    color: black;
}

pre{
    color: white;
}