<b>Usar en windows</b>: <abbr title="Programa para ejecutar comando linux en windows"><b><a target="_black" href="https://www.cygwin.com/">Cygwin</a></b></abbr>
<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-linux-tab" data-toggle="pill" href="#v-pills-linux" role="tab" aria-controls="v-pills-linux" aria-selected="true">Manual</a>
        <a class="nav-link" id="v-pills-linux0-tab" data-toggle="pill" href="#v-pills-linux0" role="tab" aria-controls="v-pills-linux0" aria-selected="false">Ver contenido de carpeta</a>
        <a class="nav-link" id="v-pills-linux1-tab" data-toggle="pill" href="#v-pills-linux1" role="tab" aria-controls="v-pills-linux1" aria-selected="false">Ver directorio actual</a>
        <a class="nav-link" id="v-pills-linux2-tab" data-toggle="pill" href="#v-pills-linux2" role="tab" aria-controls="v-pills-linux2" aria-selected="false">Moverse por carpetas</a>
        <a class="nav-link" id="v-pills-linux3-tab" data-toggle="pill" href="#v-pills-linux3" role="tab" aria-controls="v-pills-linux3" aria-selected="false">Crear archivos<br>Cambiar fecha de creación</a>
        <a class="nav-link" id="v-pills-linux4-tab" data-toggle="pill" href="#v-pills-linux4" role="tab" aria-controls="v-pills-linux4" aria-selected="false">Editor de texto</a>
        <a class="nav-link" id="v-pills-linux5-tab" data-toggle="pill" href="#v-pills-linux5" role="tab" aria-controls="v-pills-linux5" aria-selected="false">Ver/Escribir archivo</a>
        <a class="nav-link" id="v-pills-linux6-tab" data-toggle="pill" href="#v-pills-linux6" role="tab" aria-controls="v-pills-linux6" aria-selected="false">Meter comando en .txt</a>
        <a class="nav-link" id="v-pills-linux7-tab" data-toggle="pill" href="#v-pills-linux7" role="tab" aria-controls="v-pills-linux7" aria-selected="false">Crear carpeta</a>
        <a class="nav-link" id="v-pills-linux8-tab" data-toggle="pill" href="#v-pills-linux8" role="tab" aria-controls="v-pills-linux8" aria-selected="false">Copiar archivo</a>
        <a class="nav-link" id="v-pills-linux9-tab" data-toggle="pill" href="#v-pills-linux9" role="tab" aria-controls="v-pills-linux9" aria-selected="false">Mover archivo</a>
        <a class="nav-link" id="v-pills-linux10-tab" data-toggle="pill" href="#v-pills-linux10" role="tab" aria-controls="v-pills-linux10" aria-selected="false">Renombrar archivo</a>
        <a class="nav-link" id="v-pills-linux11-tab" data-toggle="pill" href="#v-pills-linux11" role="tab" aria-controls="v-pills-linux11" aria-selected="false">Borrar</a>
        <a class="nav-link" id="v-pills-linux12-tab" data-toggle="pill" href="#v-pills-linux12" role="tab" aria-controls="v-pills-linux12" aria-selected="false">Limpiar pantalla</a>
        <a class="nav-link" id="v-pills-linux12-tab" data-toggle="pill" href="#v-pills-linux12" role="tab" aria-controls="v-pills-linux12" aria-selected="false">Cancelar proceso</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-linux" role="tabpanel" aria-labelledby="v-pills-linux-tab">

            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>man comando
man comando opción archivo/carpeta
q -> Salir</b></pre>
                    </div>
                  </div>
              </div>
              
        </div>
        <div class="tab-pane fade" id="v-pills-linux0" role="tabpanel" aria-labelledby="v-pills-linux0-tab">

            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>ls -> Ver contenido de la carpeta actual
ls carpeta -> Ver contenido de la carpeta</b></pre>
                    </div>
                  </div>
              </div>

            
        </div>
        <div class="tab-pane fade" id="v-pills-linux1" role="tabpanel" aria-labelledby="v-pills-linux1-tab">
            
            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>pwd</b></pre>
                    </div>
                  </div>
              </div>

        </div>

        <div class="tab-pane fade" id="v-pills-linux2" role="tabpanel" aria-labelledby="v-pills-linux2-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>cd -> Nos dice la carpeta actual
cd carpeta -> Va a la carpeta
cd .. -> Va a la carpeta anterior</b></pre>
                    </div>
                  </div>
              </div>

        </div>


        <div class="tab-pane fade" id="v-pills-linux3" role="tabpanel" aria-labelledby="v-pills-linux3-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>touch nombre.extensión</b></pre>
                    </div>
                  </div>
              </div>

        </div>
        

        <div class="tab-pane fade" id="v-pills-linux4" role="tabpanel" aria-labelledby="v-pills-linux4-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>nano nombre.txt

Ctrl + X ->    Y    -> ¿Cambiar nombre?            ->            (Enter)
Salir    -> Guardar -> Elegimos si queremos cambiar el nombre</b></pre>
                    </div>
                  </div>
              </div>

        </div>


        <div class="tab-pane fade" id="v-pills-linux5" role="tabpanel" aria-labelledby="v-pills-linux5-tab">
            
            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                    <pre class="card-text"><b>cat nombre.txt -> Ver contenido
cat nombre1.txt nombre2.txt -> Ver el contenido de 2 o más archivos
cat nombre.txt > nombre2.txt -> Reescribe el contenido del nombre2.txt por el contenido del nombre.txt
cat nombre.txt >> nombre2.txt -> Agregamos al final del contenido del nombre2.txt el contenido del nombre.txt</b></pre>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="v-pills-linux6" role="tabpanel" aria-labelledby="v-pills-linux6-tab">

            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                    <pre class="card-text"><b>comando > nombre.txt -> Metemos el interior del comando en un archivo.txt que a su vez se crea</b></pre>
                    </div>
                </div>
            </div>

</div>

        <div class="tab-pane fade" id="v-pills-linux7" role="tabpanel" aria-labelledby="v-pills-linux7-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>mkdir nombre</b></pre>
                    </div>
                  </div>
              </div>

        </div>
        

        <div class="tab-pane fade" id="v-pills-linux8" role="tabpanel" aria-labelledby="v-pills-linux8-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>cp archivo.extensión archivoNuevo.extensión
cp nombre*.extensión carpeta -> Copia todos los archivos que tengan nombres + lo que sea + .extensión a una carpeta
                      </b></pre>
                    </div>
                  </div>
              </div>

        </div>



        <div class="tab-pane fade" id="v-pills-linux9" role="tabpanel" aria-labelledby="v-pills-linux9-tab">
            
            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                    <pre class="card-text"><b>mv archivo.extensión carpeta</b></pre>
                    </div>
                </div>
            </div>

        </div>


        <div class="tab-pane fade" id="v-pills-linux10" role="tabpanel" aria-labelledby="v-pills-linux10-tab">

            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                    <pre class="card-text"><b>mv archivo.extensión archivoRenombrado.extensión</b></pre>
                    </div>
                </div>
            </div>

</div>


        <div class="tab-pane fade" id="v-pills-linux11" role="tabpanel" aria-labelledby="v-pills-linux11-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>rm archivo.extensión -> archivo
rm -rf carpeta -> Carpeta (Con permisos)
                      </b></pre>
                    </div>
                  </div>
              </div>

        </div>


        <div class="tab-pane fade" id="v-pills-linux12" role="tabpanel" aria-labelledby="v-pills-linux12-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>clear</b></pre>
                    </div>
                  </div>
              </div>

        </div>

        <div class="tab-pane fade" id="v-pills-linux13" role="tabpanel" aria-labelledby="v-pills-linux13-tab">
            
            <div class="card-group">
    <div class="card text-dark bg-dark m-3" >
        <div class="card-body">
          <pre class="card-text"><b>Ctrl + C</b></pre>
        </div>
      </div>
  </div>

</div>

</div>


  </div>


