<div class="row">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-reactivoformulario-tab" data-toggle="pill" href="#v-pills-reactivoformulario" role="tab" aria-controls="v-pills-reactivoformulario" aria-selected="true">Module.Ts</a>
        <a class="nav-link" id="v-pills-reactivoformulario0-tab" data-toggle="pill" href="#v-pills-reactivoformulario0" role="tab" aria-controls="v-pills-reactivoformulario0" aria-selected="true">Coger datos<small><small><br>Resetear + Agregar + Borrar</small></small></a>
        <a class="nav-link" id="v-pills-reactivoformulario1-tab" data-toggle="pill" href="#v-pills-reactivoformulario1" role="tab" aria-controls="v-pills-reactivoformulario1" aria-selected="false">Validaciones<br><small><small>Síncrona - Asíncrona<br>Personalizada: Contraseña</small></small></a>
        <a class="nav-link" id="v-pills-reactivoformulario2-tab" data-toggle="pill" href="#v-pills-reactivoformulario2" role="tab" aria-controls="v-pills-reactivoformulario2" aria-selected="false">x</a>
      </div>
    </div>

    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade" id="v-pills-reactivoformulario" role="tabpanel" aria-labelledby="v-pills-reactivoformulario-tab">
          
          <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                  <pre class="card-text blanco">import {{c}} BrowserModule } from '@angular/platform-browser';
import {{c}} NgModule } from '@angular/core';

import {{c}} routing, appRoutingProviders } from './app.routing';

import {{c}} AppComponent } from './app.component';
import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

//Usar funciones de los formularios
<b>import {{c}} ReactiveFormsModule } from '@angular/forms';</b>

@NgModule({{c}}
    declarations: [
      AppComponent,
      HomeComponent,
      ErrorComponent,
      PieComponent,
      CabeceraComponent
    ],
    imports: [
      BrowserModule,
      routing<b>,</b>
      //Usar funciones de los formularios
      <b>ReactiveFormsModule</b>
    ],
      providers: [
      appRoutingProviders
      ],
      bootstrap: [AppComponent]
  })
  export class AppModule {{c}} }</pre>
                </div>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="v-pills-reactivoformulario0" role="tabpanel" aria-labelledby="v-pills-reactivoformulario0-tab"><app-reactivoformangular1></app-reactivoformangular1>
        
        <div class="card-group">

            <div class="card text-dark bg-primary m-3">

                <div class="card-header">
                    <pre class="card-text text-center"><h3>Ts</h3></pre>
                </div>
                <div class="card-body">
                  <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} FormGroup<abbr title="Variable local (variableTsLocal) como cuando se usaba en el Html (template) pero esta vez en el Ts y sin # lo inicializamos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>, FormBuilder<abbr title="Simplifica la forma de controlar los formularios reactivos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr><b>, FormArray</b><abbr title="Para crear campos dinámicos (agregar o borrar campos al pulsar botones)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> } from '@angular/forms';</b>

@Component({{c}}
  selector: 'app-reactivoformangular1',
  templateUrl: './reactivoformangular1.component.html',
  styleUrls: ['./reactivoformangular1.component.css']
})
export class Reactivoformangular1Component implements OnInit {{c}}

  <b>variableTsLocal: FormGroup;</b>   <abbr title="Variable local (variableTsLocal) como cuando se usaba en el Html (template) pero esta vez en el Ts y sin # lo inicializamos "><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  constructor( <b>private fb:FormBuilder</b> ) {{c}} <abbr title="Simplifica la forma de controlar los formularios reactivos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    <b>this.crearFromulario();
      //this.cargarDatoAlFormulario();</b>  <abbr title="Si queremos cargar datos predeterminados"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }

  ngOnInit(): void {{c}}
  }


  <b>crearFromulario(){{c}}  <abbr title="Se usa estas variables (nombreTs, apellidoTs, correoTs) en el html a través de formControlName=nombreTs. formControlName (reactivo) actúa como un [ngModel] (template)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    
    this.variableTsLocal = this.fb.group({{c}}
      //Campo_del_html: ['Valor por defecto que pongamos', Validación síncronos, Validación asíncronos]
        pruebaTs: ['Valor por defecto escrito en el Ts', , ],
        anidadoTs: this.fb.group({{c}}    <abbr title="Engloba dos campos en un único conjunto, en el html se hace referencia al nombre (anidadoTs) en el inicio del campo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 
          subanidado1Ts: ['', , ],
          subanidado2Ts: ['', , ],
        })<b>,
          camposDinamicos: this.fb.array([])</b> <abbr title="Campos en array que controlaremos en una función poder añadir/borrar"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    });
  }

  <b>get camposDinamicosfuncion(){{c}}
        return this.variableTsLocal.get('camposDinamicos') as FormArray;  <abbr title="Realizamos una función que coge (get) cada campo (camposDinamicos) anterior como array y así añadir/borrar en las funciones de abajo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>

  <b>agregarCampoDinamico(){{c}}
       this.camposDinamicosfuncion.push( this.fb.control(''));  <abbr title="Añadimos usando la función de arriba (camposDinamicosfuncion) el push (añadir)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }

  borrarCampoDinamico( i:number ){{c}}  <abbr title="Cogemos la index (i) para elegir el que hemos seleccionado para borrarlo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
       this.camposDinamicosfuncion.removeAt(i);  <abbr title="Borramos usando la función de arriba (camposDinamicosfuncion) el removeAt cogiendo el index (i)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>

  <b>cargarDatoAlFormulario(){{c}}

    // this.variableTsLocal.setValue({{c}}  <abbr title="Es necesario poner todos los campos (pruebaTs, anidadoTs...) aquí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    this.variableTsLocal.reset({{c}}  <abbr title="No es necesario poner todos los campos (pruebaTs, anidadoTs...) aquí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 
      pruebaTs: '',
      anidadoTs: {{c}}
          subanidado1Ts: 'Podemos ponerle valores predeterminado',
          subanidado2Ts: 'en cualquier campo',
    }
    });

    // ['Dato1','Dato2'].forEach( DatoRecibido => this.camposDinamicosfuncion.push( this.fb.control(DatoRecibido) ) );  <abbr title="Podemos poner datos prederteminado al cargar la página o vacío ('')"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      <b>['',''].forEach( DatoRecibido => this.camposDinamicosfuncion.push( this.fb.control(DatoRecibido) ) );</b>

  }</b>


  guardar(){{c}}  <abbr title="No cogemos la variable del html como en el template porque ya lo tenemos definidos en el Ts especialmente en la función crearFromulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    console.log( this.variableTsLocal );  <abbr title="Si ponemos otro (.) observamos las diferentes opciones que podemos usar, value, touched..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    
    <b>//Resetear información al pulsar el botón guardar y enviar
    // this.variableTsLocal.reset();  <abbr title="Si resetea solamente"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      this.variableTsLocal.reset({{c}}  <abbr title="Resetear y dejar escrito algo en uno o más campos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        pruebaTs: 'Sin dato eah!!'
      }); </b>

  }</b>


}</pre>
            </div>
            </div>
            <div class="card text-dark bg-warning m-3">
              <div class="card-header">
                  <pre class="card-text text-center"><h3>Html</h3></pre>
              </div>
              <div class="card-body">
        <pre class="card-text">{{co}}form autocomplete="off" <b>{{t}}formGroup]="variableTsLocal" <abbr title="Aquí coge la variable local del Ts y lo usamos en relación con el Html. Por ello no mandamos la variable local al Ts como en el html (template)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> {{p}}ngSubmit)="guardar()">  </b>

    {{co}}div class="form-group row">
      {{co}}label class="col-2 col-form-label">Campo simple con dato predeterminado{{co}}/label>
      {{co}}div class="col-8">

        {{co}}input class="form-control"
                type="text"
                placeholder="Nombre"
                <b>formControlName="pruebaTs"</b>>  <abbr title="Actúa como un [ngModel] (template). Coge los nombres de dentro de la función (crearFromulario) -> this.variableTsLocal = this.fb.group({ -> nombreTs, apellidoTs, correoTs"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      {{co}}/div>
    {{co}}/div>

    {{co}}div <b>class="form-group row" formGroupName="anidadoTs"</b> <abbr title="El nombre (anidadoTs) va relacionado con el Ts (anidadoTs: this.fb.group()) de la función crearFromulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>>  
      {{co}}label class="col-2 col-form-label">Campo anidado{{co}}/label>
      {{co}}div class="form-row col">

          {{co}}div class="col">
            {{co}}input type="text"
                   class="form-control"
                   placeholder="Distrito"
                   <b>formControlName="subanidado1Ts"</b> <abbr title="Se pone los subparámetros: subanidado1Ts y ciudadTs"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>>
          {{co}}/div>

          {{co}}div class="col">
            {{co}}input type="text"
                   class="form-control"
                   placeholder="Ciudad"
                   <b>formControlName="subanidado2Ts"</b>>
          {{co}}/div>
      {{co}}/div>
    {{co}}/div>

    {{co}}div class="row">  <abbr title="formArrayName=camposDinamicos puede ir aquí pero mejor más cerca del for"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      {{co}}div class="col">
        {{co}}table class="table">
          {{co}}thead class="thead-dark">
            {{co}}tr>
              {{co}}th>Id{{co}}/th>
              {{co}}th>Campo{{co}}/th>
              {{co}}th>Borrar{{co}}/th>
            {{co}}/tr>
          {{co}}/thead>
            {{co}}tbody <b>formArrayName="camposDinamicos"</b>>  <abbr title="Coge el array se puede poner más arriba"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
              {{co}}tr <b>{{f}}ngFor="let local of camposDinamicosfuncion.controls;<abbr title="Coge los controles de la función del Ts (camposDinamicosfuncion), dicho controls lo vamos en la consola por el FormGroup"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> let i = index"</b><abbr title="Cogemos la index (i) para mostrar los números que hay y posición"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>>  
                {{co}}td><b>{{c}}{{c}} i + 1 }}</b>{{co}}/td>  <abbr title="Mostramos la index (i) pero como siempre se inicia en 0 le sumamos 1 para que se empiece en 1"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                {{co}}td>{{co}}input class="form-control" type="text" <b>{{t}}formControlName]="i"</b>>{{co}}/td>  <abbr title="Para introducir datos y controlarlo mediante la index (i) por eso ponemos [formControlName]=i"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                {{co}}td>{{co}}button class="btn btn-danger"  
                            <b>type="button"  <abbr title="Ponemos button para que no haga submit al darle, ya que tenemos submit en el guardar y solos e ejecute al darle a ese"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                            {{p}}click)="borrarCampoDinamico(i)"</b>>Borrar{{co}}/button>{{co}}/td>  <abbr title="Al pulsar se ejecuta la función (borrarCampoDinamico) del Ts y se borra el input especificando la index (i) que hemos seleccionado"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
              {{co}}/tr>
            {{co}}/tbody>
        {{co}}/table>
        {{co}}button class="btn btn-primary mt-3 mb-5 btn-block" 
                <b>type="button"  <abbr title="Ponemos button para que no haga submit al darle, ya que tenemos submit en el guardar y solos e ejecute al darle a ese"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                  {{p}}click)="agregarCampoDinamico()"</b>>Agregar{{co}}/button>  <abbr title="Al pulsar se ejecuta la función (agregarCampoDinamico) del Ts y se añade un input"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      {{co}}/div>
    {{co}}/div>

  {{co}}div class="form-group row">
    {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
    {{co}}div class="input-group col-md-8">
      {{co}}<b>button type="submit"</b> class="btn btn-outline-primary btn-block">
        Guardar
      {{co}}/button>
    {{co}}/div>
  {{co}}/div>

{{co}}/form>

{{co}}pre>
   <b> Status: {{c}}{{c}} variableTsLocal. value | json }}</b>  <abbr title="En vez de en consola se ve por aquí y al instante lo que vamos introduciendo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
{{co}}/pre></pre>
              </div>
          </div>
        </div>
        
        </div>

        <div class="tab-pane fade" id="v-pills-reactivoformulario1" role="tabpanel" aria-labelledby="v-pills-reactivoformulario1-tab"><app-reactivoformangularvalidar></app-reactivoformangularvalidar></div>

        <div class="tab-pane fade" id="v-pills-reactivoformulario2" role="tabpanel" aria-labelledby="v-pills-reactivoformulario2-tab">x</div>
  </div>

</div>

</div>