<h6><u><b>JavaScript - Ejecutar.html/.js</b></u></h6>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-ejecutarjavascript-tab" data-toggle="pill" href="#pills-ejecutarjavascript" role="tab" aria-controls="pills-ejecutarjavascript" aria-selected="true" style="color: black;">Html</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-ejecutarjavascript0-tab" data-toggle="pill" href="#pills-ejecutarjavascript0" role="tab" aria-controls="pills-ejecutarjavascript0" aria-selected="false" style="color: black;">JavaScript</a>
    </li>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-ejecutarjavascript" role="tabpanel" aria-labelledby="pills-ejecutarjavascript-tab">
       <ul>
           <li><b>Navegador Directamente</b></li>
           <li><b>Consola del navegador</b> -> Ctrl + Mayúscula + i</li>
       </ul>
    </div>
  
    <div class="tab-pane fade" id="pills-ejecutarjavascript0" role="tabpanel" aria-labelledby="pills-ejecutarjavascript0-tab">
<pre><b>Terminales</b>: MSDOS / Consola del navegador / Terminal del Visual Studio Code -> <b>node nombreDelArchivoJavaScript.js</b></pre>
        
    </div>

</div>
<br><br><br><br>
  <button class="btn btn-dark m-2" [routerLink]="['/javascript']">Atras</button>