/*Cambiar de color del botón activo*/

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    background: #03acfa !important;
    color: white !important;
}

a {
    color: white;
}

pre {
    color: white;
}