<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-funcionestype-tab" data-toggle="pill" href="#pills-funcionestype" role="tab" aria-controls="pills-funcionestype" aria-selected="true" style="color: black;">Normal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype8-tab" data-toggle="pill" href="#pills-funcionestype8" role="tab" aria-controls="pills-funcionestype8" aria-selected="false" style="color: black;">Meter en<br>Variable</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype0-tab" data-toggle="pill" href="#pills-funcionestype0" role="tab" aria-controls="pills-funcionestype0" aria-selected="false" style="color: black;">Cálculos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype1-tab" data-toggle="pill" href="#pills-funcionestype1" role="tab" aria-controls="pills-funcionestype1" aria-selected="false" style="color: black;">Texto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype4-tab" data-toggle="pill" href="#pills-funcionestype4" role="tab" aria-controls="pills-funcionestype4" aria-selected="false" style="color: black;">Il/Else</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype2-tab" data-toggle="pill" href="#pills-funcionestype2" role="tab" aria-controls="pills-funcionestype2" aria-selected="false" style="color: black;">Objeto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype3-tab" data-toggle="pill" href="#pills-funcionestype3" role="tab" aria-controls="pills-funcionestype3" aria-selected="false" style="color: black;">Flecha</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionestype5-tab" data-toggle="pill" href="#pills-funcionestype5" role="tab" aria-controls="pills-funcionestype5" aria-selected="false" style="color: black;">Arreglos<br>Tupla</a>
    </li>
    <button class="btn btn-primary m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-funcionestype" role="tabpanel" aria-labelledby="pills-funcionestype-tab">

            <div class="card-group">
                <div class="card text-dark bg-primary m-3">
                    <div class="card-body">
                        <pre class="card-text">let variable='Resultado';

<b>function nombreFuncion(){{c}}
	return variable;
}</b>

console.log(variable);</pre>
                    </div>
                </div>
            </div>
            
        </div>

    <div class="tab-pane fade" id="pills-funcionestype8" role="tabpanel" aria-labelledby="pills-funcionestype8-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">let variable='Texto';

<b>let nombreFuncion = function(){{c}}
	<abbr title="Sacamos a fuera lo que la función realiza">return</abbr> variable;
}</b>

console.log( <b><abbr title="Muestra: Texto">nombreFuncion</abbr><abbr title="Llama a la función">()</abbr></b> );</pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">let variable='Texto';
        
<b>function nombreFuncion(){{c}}
	return variable;
}</b>
<b>const <abbr title="Metemos en la variable lo que sacamos de la función">variable2</abbr> = `${{c}}nombreFuncion}`;</b>

console.log( <b><abbr title="Muestra: Texto">nombreFuncion</abbr>()</b> );
                    </pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-funcionestype0" role="tabpanel" aria-labelledby="pills-funcionestype0-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">function getNombre_Variable() {{c}}
    <b>return 100 + 100;</b>
}

console.log( <b>`${{c}}getNombre_Variable()}`</b> );   <abbr title="Muestra: 200"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

console.log( <b>getNombre_Variable()</b> );   <abbr title="Muestra: 200"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-funcionestype1" role="tabpanel" aria-labelledby="pills-funcionestype1-tab">
       
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">function nombre_funcion ( <b>parametro1: string,   <abbr title="Obligatorio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        parametro2?: string,   <abbr title="Opcional"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        parametro3: string = 'Texto por defecto'</b> ) {{c}}
                     
            console.log (`<b>${{c}} parametro1 }</b>, <b>${{c}} parametro2</b> } y <b>${{c}} parametro3</b> }`);
}

<b>nombre_funcion ('Texto');</b>   <abbr title="Texto que ponemos al momento"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
O
<b>nombre_funcion ('Texto', 'Texto3');</b>   <abbr title="Texto3 -> sustituye al que está por defecto"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>     
O
<b>nombre_funcion('Texto', 'Texto2', 'Texto3);</b>   <abbr title="Orden igual que los parámetros de arriba"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
        </div>
       
        
    </div>

    <div class="tab-pane fade" id="pills-funcionestype4" role="tabpanel" aria-labelledby="pills-funcionestype4-tab">


        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">function nombre_funcion( parametro1: string,   <abbr title="Obligatorio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        parametro2?: string,   <abbr title="Opcional"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        parametro3: string = 'Texto por defecto' ) {{c}}   

                    <b>if ( parametro2 ) {{c}}</b>   <abbr title="Si se cumple lo que hay dentro del paréntesis muestra lo que hay dentro"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        <b>console.log (`${{c}} parametro1 }, ${{c}} parametro2 } y ${{c}} parametro3 }`);
                    }
                    else{{c}}</b>   <abbr title="Si no se cumple la condición del if muestra lo que hay dentro"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        <b>console.log (`${{c}} parametro1 } y ${{c}} parametro2 }`);
                    }</b>
                         
        nombre_funcion ('Texto');</pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-funcionestype3" role="tabpanel" aria-labelledby="pills-funcionestype3-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Normal</h3>
                    <pre class="card-text">const nombre_funcion = <b>function ( parametro: string ) {{c}}
    return parametro;
    }</b>
    console.log(nombre_funcion ('Texto'));</pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Flecha</h3>
                    <pre class="card-text">const nombre_funcion = <b>( parametro: string ) => parametro;</b>
    console.log(nombre_funcion ('Texto'));</pre>
                </div>
            </div>
        </div>

        
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Objeto (Destructurado)</h3>
                    <pre class="card-text"><b>const nombre_objeto = {{c}}       
	parametro1: 'Texto',
	parametro2: 'Texto2'
    }

	const nombre_funcion = ({{c}} parametro1, parametro2 }: any ) => {{c}}   </b><abbr title="Metemos los parámetros de arriba, no es necesario especificar porque las => traspasa y no es necesario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
		
        console.log ( parametro1 );
        console.log ( parametro2 );
     }

     <b>nombre_funcion( nombre_variable );</b>   <abbr title="Llamamos a la función que a su vez coge los parámetros de la variable de arriba, por ello se llama a la variable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Tiempo de tardanza en ejecutarse (Objeto)</h3>
                    <pre class="card-text">const funcion_objeto = {{c}}
            parametro: 'Texto',
            nombre_funcion() {{c}}
            
            <b>setTimeout ( () => {{c}}</b>   <abbr title="La flecha hace que el this. se traspase y pueda coger el valor de arriba del parámetro (parametro)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            
            console.log (`${{c}} this.parametro } en un tiempo de 1000`);    
            
            <b>}, 1000 );</b>   <abbr title="Tiempo que tarda antes de ejecutarse"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        }
    }
    
    funcion_objeto.nombre_funcion();</pre>
            </div>
        </div>
    </div>
    
    <div class="card-group">
        <div class="card text-dark bg-primary m-3">
            <div class="card-body"><h3>Operaciones - Letras</h3>
                <pre class="card-text">const nombre_funcion = ( parametro: string ) => parametro<b>.toUpperCase()</b>;

    console.log (nombre_funcion ( 'Texto' ) );   <abbr title="TEXTO"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
            </div>
        </div>
        <div class="card text-dark bg-primary m-3">
            <div class="card-body"><h3>Operaciones - Matemáticas</h3>
                <pre class="card-text">const variable_nombre = ( parametro1:number, parametro2:number ) => <b>parametro1 + parametro2;</b>
    
    console.log(variable_nombre( 2,4 ) );   <abbr title="Ponemos los números que queremos que sume"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
            </div>
        </div>
    </div>
    
</div>

    <div class="tab-pane fade" id="pills-funcionestype2" role="tabpanel" aria-labelledby="pills-funcionestype2-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <pre class="card-body"><b>const variable_funcion = {{c}}
	parametro: 'Texto',
	nombre_funcion() {{c}}</b>
	
		console.log (`${{c}} this.parametro } y más texto`);
	}
}

<b>variable_funcion.nombre_funcion();</b></pre>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-funcionestype5" role="tabpanel" aria-labelledby="pills-funcionestype5-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Estructurado</h3>
                    <pre class="card-text">const nombre_array: string[] = ['parametro1', 'parametro2', 'parametro3'];

<b>const nombre_funcion = (nombre_array: string[]) => {{c}}</b>

    console.log(<b>nombre_array[0], nombre_array[1], nombre_array[2]</b>);
}

<b>nombre_funcion ( nombre_array )</b>;   <abbr title="Muestra: parametro1 parametro2 parametro3"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
            </div>
        </div>
        <div class="card text-dark bg-primary m-3">
            <div class="card-body"><h3>Destructurado</h3>
                <pre class="card-text">const nombre_array: string[] = ['parametro1', 'parametro2', 'parametro3'];

const nombre_funcion = ( <b>[coge_parametro1, coge_parametro2, coge_parametro3]: string[]</b> ) => {{c}}

    console.log(<b>coge_parametro1, coge_parametro2, coge_parametro3</b>);
}

<b>nombre_funcion ( nombre_array );</b>   <abbr title="Muestra: parametro1 parametro2 parametro3"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
            </div>
        </div>
    </div>





</div>