<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <h3 style="text-align: center;"><u><b>PHP</b></u></h3>
            <br><br>
            <button class="btn btn-dark m-5" [routerLink]="['/estructuraphp']">Estructura</button>
            <button class="btn btn-dark m-5" [routerLink]="['/#']">1</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
        </div>
    </div>
</div>