<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript0-tab" data-toggle="pill" href="#pills-javascript0" role="tab" aria-controls="pills-javascript0" aria-selected="false" style="color: black;">Instalación +<br>Enlazar con Html</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript2-tab" data-toggle="pill" href="#pills-javascript2" role="tab" aria-controls="pills-javascript2" aria-selected="false" style="color: black;">Ejecutar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript-tab" data-toggle="pill" href="#pills-javascript" role="tab" aria-controls="pills-javascript" aria-selected="true" style="color: black;">Variables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript13-tab" data-toggle="pill" href="#pills-javascript13" role="tab" aria-controls="pills-javascript13" aria-selected="true" style="color: black;">Mostrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript10-tab" data-toggle="pill" href="#pills-javascript10" role="tab" aria-controls="pills-javascript10" aria-selected="false" style="color: black;">Condiciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript3-tab" data-toggle="pill" href="#pills-javascript3" role="tab" aria-controls="pills-javascript3" aria-selected="false" style="color: black;">Funciones<br><small>Flechas</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript4-tab" data-toggle="pill" href="#pills-javascript4" role="tab" aria-controls="pills-javascript4" aria-selected="false" style="color: black;">Template<br><small>Usar variables (incluido cálculos)<br>dentro del texto</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript6-tab" data-toggle="pill" href="#pills-javascript6" role="tab" aria-controls="pills-javascript6" aria-selected="false" style="color: black;">Destructuring<br><small>Sacar propiedad<br>de un objeto</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript7-tab" data-toggle="pill" href="#pills-javascript7" role="tab" aria-controls="pills-javascript7" aria-selected="false" style="color: black;">Fetch API<br><small>Llamar/Usar API</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript8-tab" data-toggle="pill" href="#pills-javascript8" role="tab" aria-controls="pills-javascript8" aria-selected="false" style="color: black;">Async - Await<br><small>Llamar/Usar API<br>Asíncrona</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript9-tab" data-toggle="pill" href="#pills-javascript9" role="tab" aria-controls="pills-javascript9" aria-selected="false" style="color: black;">Map()<br><small>Recorre/Coge Json</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript11-tab" data-toggle="pill" href="#pills-javascript11" role="tab" aria-controls="pills-javascript11" aria-selected="false" style="color: black;">Filter<br><small>Filtra</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascript12-tab" data-toggle="pill" href="#pills-javascript12" role="tab" aria-controls="pills-javascript12" aria-selected="false" style="color: black;">Map + Filter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-javascriptdom-tab" data-toggle="pill" href="#pills-javascriptdom" role="tab" aria-controls="pills-javascriptdom" aria-selected="false" style="color: black;">DOM</a>
    </li>
    <button class="btn btn-warning m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-javascript0" role="tabpanel" aria-labelledby="pills-javascript0-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-header bg-warning">
                    <pre class="card-text text-center blanco"><h3>Instalación</h3></pre>
                </div>
                <div class="card-body">
                    <pre class="card-text"><ul><li><b><a href="https://nodejs.org/es/">Descargar</a> NodeJS</b> -> La más recomendable (número Actual)</li><li><b>Instalar</b> -> node-v14.9.0-x64.msi</li><li><b>Ver versión</b> -> Terminal/MSDOS -> <b>node –v</b></li></ul></pre>
                </div>
            </div>
            <div class="card text-dark bg-warning m-3">
                <div class="card-header bg-warning">
                    <pre class="card-text text-center blanco"><h3>Enlazar con Html</h3></pre>
                </div>
                <div class="card-body">
                    <pre class="card-text">{{co}}!DOCTYPE html>
      {{co}}html lang="en">
          {{co}}head>                                                                                        
              {{co}}meta charset="UTF-8">                                                                    
              {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">                    
              {{co}}title>Título en pestaña de la web{{co}}/title>
              <b>{{co}}<abbr title="Llama al archivo de JavaScript">script</abbr> src="JAVASCRIPT.js">{{co}}/script></b>                                
          {{co}}/head>                                                                                       
          {{co}}body>    
              
                CONTENIDO              

          {{co}}/body>                                                                                       
      {{co}}/html></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-javascript2" role="tabpanel" aria-labelledby="pills-javascript2-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body">
                    <pre class="card-text"><ul> <li><b>Html</b><ul><li><b>Navegador</b> -> Se ve en la pantalla</li><li><b>Consola del navegador</b> -> <b>Ctrl + Mayúscula + i</b> Se ve en la consola del navegador, no en pantalla</li></ul></li>
                        <li><b>Js</b> -> <b>node nombreDelArchivoJavaScript.js</b> -> Se ve en MSDOS / Terminales / Consola del navegador</li>
                    </ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-javascript" role="tabpanel" aria-labelledby="pills-javascript-tab"><hr><app-variablejavascript></app-variablejavascript></div>

    <div class="tab-pane fade" id="pills-javascript3" role="tabpanel" aria-labelledby="pills-javascript3-tab"><hr><app-funcionesjavascript></app-funcionesjavascript></div>

    <div class="tab-pane fade" id="pills-javascript4" role="tabpanel" aria-labelledby="pills-javascript4-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Normmal</h3>
                    <pre class="card-text">const algo = ( <b>dato1, dato2</b> ) => {{c}}
    return <b>`Texto en <abbr title="Podemos usar lógica (sumar,restar...) usando ${ dato } e incluir texto mientras, debe estar en comillas invertidas">template</abbr>: ${{c}} dato1 + dato2 }`</b>;
}
const resultado = algo( <b>10, 30</b> );
console.log( <abbr title="Resultado: Texto en template: 40, que es el resultado de sumar los dos números introducido a lo último, el 10 y el 30">resultado</abbr> );</pre>
                </div>
            </div>
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Simplificamos</h3>
                    <pre class="card-text">const algo = ( dato1, dato2 ) => <b>(`<abbr title="Al quitarle el return y {}, al ser más datos lo metemos en ()">Texto</abbr> en template: ${{c}} dato1 + dato2 }`);</b>

const resultado = algo( 10, 30 );
console.log( resultado );</pre>
                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-javascript6" role="tabpanel" aria-labelledby="pills-javascript6-tab">
        

        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Objeto -> Variable (Antes del Destructuring)</h3>
                    <pre class="card-text">const algo = {{c}}
  propiedad1: "Del objeto",
  propiedad2: 19,
  propiedad3: true,
  propiedad4: ["array1", "array2"]
};

<b>const <abbr title="Metemos en una variable una propiedad del objeto, para usarlo solo la variable y no algo.propiedad1">meterEnVariable</abbr> = algo.propiedad1;</b>
console.log( <abbr title="Muestra: Del objeto. Muestra la propiedad sin tener que poner algo.popiedad1">meterEnVariable</abbr> );
<hr>const algo = {{c}}
  propiedad1: 'Del objeto',
  propiedad2: {{c}}
    subpropiedad1: 'Propiedad dentro de un objeto (propiedad2), que a su vez está dentro de otro objeto (algo)',
    subpropiedad2: 1985,
    subpropiedad3: false
  },
  propiedad3: {{c}}
    subpropiedad1: {{c}}
      texto: 'Propiedad dentro de un objeto (subpropiedad4), que a su vez está dentro de otro objeto (propiedad3), que a su vez está dentro de otro objeto (algo)',
      web: 'sodertweb.web.app',
      youtube: 'www.youtube.com/channel/UCDKYrjnmZAhZHN4wttRLFug'
    }
  }
};

<b>const <abbr title="Metemos en la variable las propiedades/subpropiedades del objeto, en este caso sería la 2º subpropiedad dentro de una propiedad">variable_Objeto</abbr> = algo.propiedad3.subpropiedad1.subpropiedad1;
console.log( variable_Objeto );</b></pre>
                </div>
            </div>
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Objeto -> Destructuring - <small>Recomendable</small></h3>
                    <pre class="card-text">const algo = {{c}}
  propiedad1: "Del objeto",
  propiedad2: 19,
  propiedad3: true,
  propiedad4: ["array1", "array2"]
};

<b>const {{c}} <abbr title="Sacamos la propiedad del objeto llamado algo y usarla como variable">propiedad1</abbr> } = <abbr title="Objeto">algo</abbr>;
console.log( <abbr title="Muestra: Del objeto">propiedad1</abbr> );

const {{c}} propiedad2, propiedad3 } = <abbr title="Podemos poner todas las propiedades para sacarlas y usarla como variable">algo</abbr> ;
console.log (<abbr title="19">propiedad1</abbr>, <abbr title="Muestra: true">propiedad2</abbr> );</b>
<hr>const algo = {{c}}
  propiedad1: 'Del objeto',
  propiedad2: {{c}}
    subpropiedad1: 'Propiedad dentro de un objeto (propiedad2), que a su vez está dentro de otro objeto (algo)',
    subpropiedad2: 1985,
    subpropiedad3: false
  },
  propiedad3: {{c}}
    subpropiedad1: {{c}}
      texto: 'Propiedad dentro de un objeto (subpropiedad4), que a su vez está dentro de otro objeto (propiedad3), que a su vez está dentro de otro objeto (algo)',
      web: 'sodertweb.web.app',
      youtube: 'www.youtube.com/channel/UCDKYrjnmZAhZHN4wttRLFug'
    }
  }
};

<b>const {{c}} <abbr title="Propiedad que está dentro de la subpropiedad1 y esta a su vez dentro de propiedad3, dentro del objeto llamado algo">subpropiedad1</abbr> } = algo.propiedad3.subpropiedad1;
console.log( <abbr title="Propiedad que se extrae para usarla como variable">subpropiedad1</abbr> );

<abbr title="Podemos sacar uno o más propiedades">const</abbr> {{c}} web, youtube } = algo.propiedad3.subpropiedad1;
console.log(web, youtube);</b></pre>
                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-javascript7" role="tabpanel" aria-labelledby="pills-javascript7-tab"><hr><app-fetchapi></app-fetchapi></div>


    <div class="tab-pane fade" id="pills-javascript8" role="tabpanel" aria-labelledby="pills-javascript8-tab"><app-asyncawait></app-asyncawait></div>


    <div class="tab-pane fade" id="pills-javascript9" role="tabpanel" aria-labelledby="pills-javascript9-tab"><app-mapjavascript></app-mapjavascript></div>


    <div class="tab-pane fade" id="pills-javascript10" role="tabpanel" aria-labelledby="pills-javascript10-tab"><app-condicionesjavascript></app-condicionesjavascript></div>


    <div class="tab-pane fade" id="pills-javascript11" role="tabpanel" aria-labelledby="pills-javascript11-tab">
        

        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>FetchAPI</h3>
                    <pre class="card-text">fetch( 'https://pokeapi.co/api/v2/pokemon/' )
    .then( respuesta => respuesta.json() )
    
    .then( respuestaJson => {{c}}

   //  <b>const variableArray = respuestaJson.results.<abbr title="Saca todos los datos al no especificar pero solamente la parte del name, pero en array []">filter</abbr>( datoRecibido => datoRecibido.name );</b>
   
    const variableArray = respuestaJson.results.<abbr title="Saca el dato especificado === 'dato_buscado. Nos sale en array []"><b>filter</b></abbr>( datoRecibido => datoRecibido<b>.name</b> <b>=== 'bulbasaur'</b> );<b>  //Opciones: > (Mayor) >= (Mayor e igual) {{co}} (Menor) {{co}}= (Menor igual) === (Igual) !== (No igual)</b>
    
     console.log( <b><abbr title="Resultado: [Object] 0: Object name: bulbasaur url: https://pokeapi.co/api/v2/pokemon/1/">variableArray</abbr></b> );
     
    })
  .catch( errorPredeterminadaPorAPI => console.log( errorPredeterminadaPorAPI ) );</pre>
                </div>
            </div>
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Async await</h3>
                    <pre class="card-text">const algo = async() => {{c}}

    try {{c}}
      const respuesta = await fetch( 'https://pokeapi.co/api/v2/pokemon/' );
      const respuestaJson = await respuesta.json();
     
      //  <b>const variableArray = respuestaJson.results.<abbr title="Saca todos los datos al no especificar pero solamente la parte del name, pero en array []">filter</abbr>( datoRecibido => datoRecibido.name );</b>
      
      const variableArray = respuestaJson.results.<abbr title="Saca el dato especificado === 'dato_buscado. Nos sale en array []"><b>filter</b></abbr>( datoRecibido => datoRecibido<b>.name</b> <b>=== 'bulbasaur'</b> );<b>  //Opciones: > (Mayor) >= (Mayor e igual) {{co}} (Menor) {{co}}= (Menor igual) === (Igual) !== (No igual)</b>
      
      console.log( <b><abbr title="Resultado: [Object] 0: Object name: bulbasaur url: https://pokeapi.co/api/v2/pokemon/1/">variableArray</abbr></b> );
  
    } catch ( errorPredeterminadaPorAPI ) {{c}}
      console.log( errorPredeterminadaPorAPI );
    }
  };
  
  algo();</pre>
                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-javascript12" role="tabpanel" aria-labelledby="pills-javascript12-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>FetchAPI</h3>
                    <pre class="card-text">fetch( 'https://pokeapi.co/api/v2/pokemon/' )
    .then( respuesta => respuesta.json() )
    
    .then( respuestaJson => {{c}}
    
    const variableArray = respuestaJson.results.<abbr title="Igual que forEach porque recorre, pero en el map devuelve el resultado"><b>map</b></abbr>( <abbr title="Con el MAP metemos en la variable la parte de la API que nos interesa, en este caso el NAME, el nombre">datoRecibido</abbr> => datoRecibido.name );

    console.log( <abbr title="Muestra: [bulbasaur, ivysaur, venusaur, charmander, charmeleon, charizard, squirtle, wartortle, blastoise, caterpie, …]">variableArray</abbr> );

    const variableArray2 = variableArray.<abbr title="Saca el dato especificado === 'dato_buscado. Nos sale en array []"><b>filter</b></abbr>( datoRecibido2 => datoRecibido2 === 'bulbasaur' );      <b>//Opciones: > (Mayor) >= (Mayor e igual) {{co}} (Menor) {{co}}= (Menor igual) === (Igual) !== (No igual)</b>

    console.log( <abbr title="Muestra: [bulbasaur] 0: bulbasaur">variableArray2</abbr> );

    console.log( <abbr title="Muestra: bulbasaur">variableArray2[0]</abbr> );

    })
  .catch( errorPredeterminadaPorAPI => console.log( errorPredeterminadaPorAPI ) );</pre>
                </div>
            </div>
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Async await</h3>
                    <pre class="card-text">const algo = async() => {{c}}

     try {{c}}
       const respuesta = await fetch( 'https://pokeapi.co/api/v2/pokemon/' );
       const respuestaJson = await respuesta.json();
     
       const variableArray = respuestaJson.results.<abbr title="Igual que forEach porque recorre, pero en el map devuelve el resultado"><b>map</b></abbr>( <abbr title="Con el MAP metemos en la variable la parte de la API que nos interesa, en este caso el NAME, el nombre">datoRecibido</abbr> => datoRecibido.name );
       console.log( <abbr title="Muestra: [bulbasaur, ivysaur, venusaur, charmander, charmeleon, charizard, squirtle, wartortle, blastoise, caterpie, …]">variableArray</abbr> );
  
       const variableArray2 = variableArray.<abbr title="Saca el dato especificado === 'dato_buscado. Nos sale en array []"><b>filter</b></abbr>( datoRecibido2 => datoRecibido2 === 'bulbasaur' );      <b>//Opciones: > (Mayor) >= (Mayor e igual) {{co}} (Menor) {{co}}= (Menor igual) === (Igual) !== (No igual)</b>

       console.log( <abbr title="Muestra: [bulbasaur] 0: bulbasaur">variableArray2</abbr> );

        console.log( <abbr title="Muestra: bulbasaur">variableArray2[0]</abbr> );

     } catch ( errorRecibido ) {{c}}
       console.log( errorRecibido );
     }
   };

   algo();</pre>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="pills-javascript13" role="tabpanel" aria-labelledby="pills-javascript13-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Consola</h3>
                    <pre class="card-text"><ul><li><b>console.log ( "Mensaje normal" );</b></li>
<li>console<b>.info</b> ( "Mensaje de información" ); </li>
<li>console<b>.error</b> ( "Mensaje de error" );   <abbr title="Para que el mensaje salga en rojo (error)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></li>
<li>console<b>.warn</b> ( "Mensaje de peligro" );   <abbr title="Para que el mensaje salga en amarillo (warning)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></li><hr>
<li>console.log("<b>%cMensaje en consola del navegador", "color:blue"</b>);   <abbr title="%c + efecto css [color:blue (letra azul) - background-color: pink (fondo rosa) - font-size: xx-large (tamaño de letra grande)...] solo un efecto"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<hr><li>console.log(<b>document</b>);   <abbr title="Se muestra la estructura del archivo html realizado"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></li></ul></pre>
                </div>
            </div>
            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Web</h3>
                    <pre class="card-text">document.write("{{co}}h1 style='color:blue';>Título azul por java{{co}}/h1>");   <abbr title="Podemos poner códigos Html y Css para sacar un mensaje al navegador, directamente al html sin tocar el html"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="pills-javascriptdom" role="tabpanel" aria-labelledby="pills-javascriptdom-tab"><hr><app-dom></app-dom></div>

</div>
<br><br>

<b style="margin-left: 10%;">Web de Ayuda</b>: <abbr title="Manual JavaScript"><b><a target="_black" href="https://www.w3schools.com/js/default.asp" style="color: black;">W3schools</a>    ||      <a target="_black" href="https://bluuweb.github.io/javascript/fundamentos/#var-vs-let-vs-const" style="color: black;">Javascript bluuweb</a>||      <a target="_black" href="https://regexone.com/" style="color: black;">Regexone</a></b></abbr>
<img src="../../../../assets/imagenes/javascript.svg" style=" width: 300px;">
<button class="btn btn-warning m-2" [routerLink]="['/programacion']">Atras</button>