<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <h3 style="text-align: center;"><u><b>JavaScript</b></u></h3>
            <br><br>
            <button class="btn btn-dark m-5" [routerLink]="['/webjavascript']">Web</button>
            <button class="btn btn-dark m-5" [routerLink]="['/instalacionjavascript']">Instalación</button>
            <button class="btn btn-dark m-5" [routerLink]="['/extensionesjavascript']">Extensiones de Visual Studio Code</button>
            <button class="btn btn-dark m-5" [routerLink]="['/ejecutarjavascript']">Ejecutar</button>
            <button class="btn btn-dark m-5" [routerLink]="['/estructurajavascript']">Enlazar con Html</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
        </div>
    </div>
</div>

https://modernizr.com/ -> Web que detecta si el Código Html5 y Css3 son compatibles en el navegador que estemos y con la librería Polyfills (https://es.javascript.info/polyfills)