<div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="card-body">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">

                <!-- (ngSubmit)="onLogin()"
                [formGroup]="loginForm" -->

                <span class="login100-form-title p-b-51">Login</span>

                <!-- <span class="text-danger" *ngIf="variableLocal.submitted && variableLocal.controls['email'].errors">El correo es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="email" 
                           
                           placeholder="email"
                           required email
                           formControlName="email">

                    <span class="focus-input100"></span>
                </div>
                
                <!-- <span class="text-danger" *ngIf="variableLocal.submitted && variableLocal.controls['pass'].errors">La contraseña es obligatoria y necesita un mínimo de 6 letras</span> -->
                <div class="wrap-input100 m-b-16" data-validate = "Password is required">
                    <input class="input100"
                           type="password" 
                           name="pass" 
                           
                           placeholder="Password"
                           required
                           minlength="6"
                           formControlName="password">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">Recordar mi usuario</label>
                    </div>

                    <div>
                        <a routerLink="/registroregistroangular" class="txt1">¿No tienes cuenta?</a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn btn btn-danger" type="submit">Ingresar</button>
                </div>

            </form>
        </div>
    </div>
</div>



        </div>
    </div>
</div>