<div class="row">
    <div class="col-md-8 offset-md-2">
        <blockquote class="blockquote">
            <button class="btn btn-success float-left" routerLink="/biblioteca">Atras   </button>
            <br>
            <br>
            <div class="card" style="width: 25rem">
                    <div class="card-body">
                        <form [formGroup]="formularioCliente">
                            <div class="form group">
                                <input class="form-control" name="titulo" formControlName="titulo" placeholder="Título">
                            </div>
                            <div class="text-center">
                                <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
                            </div>
                
                            <div class="form group">
                                <label>Imagen</label>
                                <input type="file" accept="image/*" class="form-control" #fileUploader  name="imageUrl" formControlName="imageUrl" (change)="subirImagen($event)">
                            </div>
                                  <br>
                            <div class="form group">
                                <input class="form-control" formControlName="categoria" placeholder="Categoría" name="categoria">
                            </div>
                            <br>
                            <div class="form group">
                                <input class="form-control" formControlName="carmen" placeholder="carmen" name="carmen">
                            </div>
    
                            <br>

                            <div class="form group">
                                <input class="form-control" formControlName="aaron" placeholder="aaron" name="aaron">
                            </div>
                        
                            <div class="form group">
                                <label for="descripcion"></label>
                                <textarea class="form-control" formControlName="descripcion" name="descripcion" id="descripcion" rows="3" placeholder="Descripción"></textarea>
                          </div>
      
                            <div class="form-group form-group text-center">
                                <br>
                                <button type="submit" class="btn btn-dark w-25 center" (click)="agregar()"><i class="fa fa-save"></i> Guardar</button>
                                <button class="btn btn-danger float-right" (click)="resetform()">Limpiar</button>
                            </div>
                        </form>
                    </div>
                </div>
        </blockquote>
    </div>
</div>