
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link,
button {
    background: #d80303 !important;
    color: white !important;
}

a {
    color: black;
}

#rojo {
    color: red;
}

.blanco{
    color: white;
}