<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
      <a class="nav-link active" id="pills-dloginangulargeneral-tab" data-toggle="pill" href="#pills-dloginangulargeneral" role="tab" aria-controls="pills-dloginangulargeneral" aria-selected="true" style="color: black;">General</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="pills-dloginangulargeneral0-tab" data-toggle="pill" href="#pills-dloginangulargeneral0" role="tab" aria-controls="pills-dloginangulargeneral0" aria-selected="false" style="color: black;">Auth0</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" id="pills-dloginangulargeneral1-tab" data-toggle="pill" href="#pills-dloginangulargeneral1" role="tab" aria-controls="pills-dloginangulargeneral1" aria-selected="false" style="color: black;">Firebase<br><small>Token + Sweepalert2<br>Recordar + Guard</small></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-dloginangulargeneral1x-tab" data-toggle="pill" href="#pills-dloginangulargeneral1x" role="tab" aria-controls="pills-dloginangulargeneral1x" aria-selected="false" style="color: black;">Firebase<br><small>Validación Reactiva<br>Navbar + Coger Usuario</small></a>
  </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-dloginangulargeneral" role="tabpanel" aria-labelledby="pills-dloginangulargeneral-tab"><app-loginangulargeneral2></app-loginangulargeneral2></div>

  <div class="tab-pane fade" id="pills-dloginangulargeneral0" role="tabpanel" aria-labelledby="pills-dloginangulargeneral0-tab"><app-auth0angular></app-auth0angular></div>

  <div class="tab-pane fade" id="pills-dloginangulargeneral1" role="tabpanel" aria-labelledby="pills-dloginangulargeneral1-tab"><app-firebaseangularloginfirebase></app-firebaseangularloginfirebase></div>

  <div class="tab-pane fade" id="pills-dloginangulargeneral1x" role="tabpanel" aria-labelledby="pills-dloginangulargeneral1x-tab"><app-firebase2forma></app-firebase2forma></div>
    
</div>