<div class="row">

    <div class="col-md-4">

        <img [src]="variable_servicio.DireccionImagen" class="img-fluid" [alt]="variable_servicio.VariableSecundaria1">

        <br><br>

        <a [routerLink]="['/angular']" class="btn btn-outline-danger btn-block">Volver</a>

    </div>

    <div class="col-md-8">
        <h3>{{ variable_servicio.VariableSecundaria2 }}</h3>
        <hr>
        <p>{{ variable_servicio.VariableSecundaria3 }} </p>
        <div>
            <img *ngIf="variable_servicio.VariableSecundaria4=='html'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/html.png" alt="Html"> 
            <!-- <img *ngIf="variable_servicio!='Css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/html.png" alt="Html">  -->
            <img *ngIf="variable_servicio.VariableSecundaria4=='css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/css.png" alt="Css"> 
            <!-- <img *ngIf="variable_servicio=='Css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/css.png" alt="Css">  -->
        </div>

    </div>

</div>



