<div class="row">

    <div class="col-md-4">

        <img [src]="variable_servicio.DireccionImagen" class="img-fluid" [alt]="variable_servicio.VariableSecundaria1">

        <br><br>

        <a [routerLink]="['/angular']" class="btn btn-outline-danger btn-block">Volver</a>

    </div>

    <div class="col-md-8">
        <h3>{{ variable_servicio.VariableSecundaria2 }}</h3>
        <hr>
        <p>{{ variable_servicio.VariableSecundaria3 }} </p>
        <div>
            <img *ngIf="variable_servicio.VariableSecundaria4=='html'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/html.png" alt="Html"> 
            <!-- <img *ngIf="variable_servicio!='Css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/html.png" alt="Html">  -->
            <img *ngIf="variable_servicio.VariableSecundaria4=='css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/css.png" alt="Css"> 
            <!-- <img *ngIf="variable_servicio=='Css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/css.png" alt="Css">  -->
        </div>

    </div>

</div>



<div class="card-group">
    <div class="card text-dark bg-danger m-3">
        <div class="card-body"><h3>Routing/Routes</h3>
            <pre class="card-text">import {{c}} ModuleWithProviders } from '@angular/core';
import {{c}} Routes, RouterModule } from '@angular/router';

import {{c}} AppComponent } from './app.component';
import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

//Componente donde se mostrará <b>un</b> elemento
<b>import {{c}} Serviceone2Component } from './paginas/programacion/angular/serviciounovarias/serviceone2/serviceone2.component';</b>

export const appRoutes: Routes = [                                  
  {{c}} path: '', component: HomeComponent },                                 
  {{c}} path: 'home', component: HomeComponent},                    
  {{c}} path: 'pie', component: PieComponent},                       
  {{c}} path: 'cabecera', component: CabeceraComponent},             
  {{c}} path: 'appcomponente', component: AppComponent },
  <b>{{c}} path: '<abbr title="Variable que se usa en el Componente que muestra TODOS los datos, se pone en el botón o enlace donde redirige a este componente (Componente de un solo artículo)">variable</abbr>_html<abbr title="La posición de la variable, de ese modo podemos seleccionar el que queramos coger, ir o borrar... Podemos poner cualquier nombre, hola o lo que sea, pero en otros lados cuando hagamos referencia a este id tenemos que poner el mismo nombre que pongamos aquí, para que coja bien la posición">:id</abbr>', component: Serviceone2Component},</b>
  {{c}} path: '**', component: ErrorComponent},                      
  {{c}} path: '**', pathMatch: 'full', redirectTo: 'home'},           
  {{c}} path: '**', component: HomeComponent }                       
];

export const appRoutingProviders: any[] = [];                                    
export const routing: ModuleWithProviders = RouterModule.forRoot (appRoutes);</pre>
        </div>
      </div>

    <div class="card text-dark bg-danger m-3">
        <div class="card-body"><h3>Ts</h3>
            <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} <abbr title="Importamos para poder coger la información que nos mandan al URL, desde el componente que lee todos los datos con el botón ir a componente de un elemento">ActivatedRoute</abbr> } from '@angular/router';</b>
<b>import {{c}} <abbr title="Importamos para coger la información que nos mandan el servidor">ServiciodepruebaService</abbr> } from '../../serviciounovarias/serviciodeprueba.service';</b>

@Component({{c}}
  selector: 'app-serviceone2',
  templateUrl: './serviceone2.component.html',
  styleUrls: ['./serviceone2.component.css']
})
export class Serviceone2Component implements OnInit {{c}}

    <b><abbr title="Definimos variables">variable_servicio</abbr>:any={{c}};</b>

  constructor( <b>private <abbr title="Metemos en la variable las funcionalidades del ActivatedRoute para coger y usar sus propiedades y así poder coger y leer los datos que recibimos del URL que nos envío de otra página">nombre_activadRoute</abbr>: ActivatedRoute</b><b>,
                  private <abbr title="Metemos en la variable el servicio">_variable_Servicio</abbr>: ServiciodepruebaService
  </b> ) {{c}} 

    <b>this.nombre_activadRoute.params.subscribe ( params =></b> {{c}}
      console.log( <abbr title="Está pendiente de los cambios, para que funcione nos tenemos que subscribir a esos cambios"><b>params</b></abbr><abbr title="Para que salga solo el número de la posición cogido por que en Routing pusimos :id, si hubieramos puesto :hola ahí tendríamos que poner 'hola'">['id']</abbr> );
   
      <b>this.<abbr title="Metemos en la variable el parámetro, el dato de la posición cogida">variable_servicio</abbr> = this._variable_Servicio.<abbr title="Función para coger solo un artículo">getsacarUnDatoServicio</abbr>( <abbr title="Usado para coger lo que enviamos al darle al botónd e ir y dirigirnos al componente">params</abbr> ['<abbr title="El mismo que en routing :id u :otro">id</abbr> ']);</b>
    })
  }

  ngOnInit(): void {{c}}
  }

}
</pre>
        </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card text-dark bg-danger m-3">
        <div class="card-body"><h3>Servicio</h3>
            <pre class="card-text">import {{c}} Injectable } from '@angular/core';

@Injectable({{c}}
  providedIn: 'root'
})
export class ServiciodepruebaService {{c}}

  private nombre_variable_servicio: any[] = [
    {{c}}
        VariableSecundaria1: "Datos1.1",
        VariableSecundaria2: "Datos1.2",
        DireccionImagen: "../../../../../../assets/imagenes/Angular.png",
        VariableSecundaria3: "Datos1.3",
        VariableSecundaria4:"html"
    },
    {{c}}
        VariableSecundaria1: "Datos2.2",
        VariableSecundaria2: "Datos2.2",
        DireccionImagen: "../../../../../../assets/imagenes/typescript.png",
        VariableSecundaria3: "Datos2.3",
        VariableSecundaria4:"css"
    }
    //Y se sigue repitiendo
  ];


getsacarDatosServicio(){{c}}
      return this.nombre_variable_servicio;
}


<b>getsacarUnDatoServicio( idx_o_indice: string ){{c}}
    return this.nombre_variable_servicio[idx_o_indice];
}</b>

  constructor() {{c}} }
}</pre>
        </div>
      </div>

    <div class="card text-dark bg-danger m-3">
        <div class="card-body"><h3>Html</h3>
            <pre class="card-text">{{co}}div class="row">

    {{co}}div class="col-md-4">

        {{co}}img {{t}}src]="<abbr title="Variable que se define en el Ts que a su vez llama a la función (getsacarUnDatoServicio) que se encuentra en el servicio">variable_servicio</abbr>.DireccionImagen" class="img-fluid" {{t}}alt]="variable_servicio.VariableSecundaria1">

        {{co}}br>{{co}}br>

        {{co}}a {{t}}routerLink]="['/angular']" class="btn btn-outline-danger btn-block">Volver{{co}}/a>

    {{co}}/div>

    {{co}}div class="col-md-8">
        {{co}}h3>{{c}}{{c}} variable_servicio.VariableSecundaria2 }}{{co}}/h3>
        {{co}}hr>
        {{co}}p>{{c}}{{c}} variable_servicio.VariableSecundaria3 }} {{co}}/p>
        {{co}}div>
                
            <b>{{co}}!--Si la variable del Ts que hace referencia a a función del servicio, es == (igual) o =! (diferente) al 'Texto' se muestra -->    </b>    

            <b>{{co}}img {{f}}ngIf="variable_servicio.VariableSecundaria4=='Html'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/html.png" alt="Html"></b> 
            {{co}}!-- {{co}}img {{f}}ngIf="variable_servicio!='Css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/html.png" alt="Html">  -->
            <b>{{co}}img {{f}}ngIf="variable_servicio.VariableSecundaria4!='Html'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/css.png" alt="Css"> </b>
            {{co}}!-- {{co}}img {{f}}ngIf="variable_servicio=='Css'" class="clase_por_mi_css" src="../../../../../../assets/imagenes/css.png" alt="Css">  -->
        {{co}}/div>

    {{co}}/div>

{{co}}/div></pre>
        </div>
    </div>
  </div>

<div class="card-group">
    <div class="card text-dark bg-danger m-3">
        <div class="card-body"><h3>Css</h3>
            <pre class="card-text"><b>.clase_por_mi_css{{c}}
    width: 120px;
}</b></pre>
        </div>
    </div>
</div>