<div class="container">
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <br><br><br><br>
            <button class="btn btn-primary m-5" [routerLink]="['/ayuntamiento']">Ayuntamientos / Estado</button>
            <button class="btn btn-success m-5" [routerLink]="['/empresas']">Empresas</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/home']">Atras</button>
        </div>
    </div>
</div>
