<h6><u><b>Angular - Arranque</b></u></h6>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-arranqueangular-tab" data-toggle="pill" href="#pills-arranqueangular" role="tab" aria-controls="pills-arranqueangular" aria-selected="true" style="color: black;">Navegador<br><small>Verlo después de arrancar</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-arranqueangular0-tab" data-toggle="pill" href="#pills-arranqueangular0" role="tab" aria-controls="pills-arranqueangular0" aria-selected="false" style="color: black;">Simular servidor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-arranqueangular1-tab" data-toggle="pill" href="#pills-arranqueangular1" role="tab" aria-controls="pills-arranqueangular1" aria-selected="false" style="color: black;">Preparar para servidor</a>
    </li>
    <button class="btn btn-dark m-2" [routerLink]="['/angular']">Atras</button>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-arranqueangular" role="tabpanel" aria-labelledby="pills-arranqueangular-tab">
        <ul>
            <li><u>Defecto</u>: <b>localhost:4200</b></li>
            <li><u>Abrir más</u>: <b>localhost:puerto_que_elijamos</b></li>
        </ul>
    </div>
  
    <div class="tab-pane fade" id="pills-arranqueangular0" role="tabpanel" aria-labelledby="pills-arranqueangular0-tab">
        <ul>
            <li><b>ng serve</b>: Solo <u>compila</u>, se muestra si <u>ya</u> tenemos <u>cargado</u> la <u>página</u> en el navegador (si acaso dar a <u>actualizada</u>)</li>
            <li><b>ng serve -o</b> (-open): <u>Compila</u> + <u>Abre</u> navegador</li>
            <li><b>npm start</b>: <u>Compila</u> + <u>Abre</u> navegador</li>
            <li><b>ng serve --port 4200</b> (--port puerto_que_elijamos): <u>Compila</u> en <u>otro puerto</u>, para cuando haya conflictos</li>
            <li><b>ng serve --port 4200 -o</b> (--port puerto_que_elijamos -open): Compila en <u>otro puerto</u> + <u>Abre</u> navegador</li>
        </ul>

    </div>

  <div class="tab-pane fade" id="pills-arranqueangular1" role="tabpanel" aria-labelledby="pills-arranqueangular1-tab">
    <ul>
        <li><b>ng build</b>: Compila para <u>DESARROLLO</u> (<u>Enviroment.ts</u>)</li>
        <li><b>ng build --prod=true</b>: Compila para <u>PRODUCCIÓN</u> (<u>Enviroment.prod.ts</u>)</li>
        <li><b>Carpeta Dist</b>: <u>COPIAR</u> su contenido en la <u>Carpeta_proyecto del Servidor</u> -> C:/wamp64/www/carpeta_proyecto</li>
    </ul>
  </div>

    

</div>


 