<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <h3 style="text-align: center;"><u><b>Firebase</b></u></h3>
            <br><br>
            <button class="btn btn-success m-5" [routerLink]="['/instalacionfirebase']">Instalación</button>
            <button class="btn btn-success m-5" [routerLink]="['/proyecto']">Proyecto</button>
            <button class="btn btn-success m-5" [routerLink]="['/formulariosfirebase']">Formularios - Angular</button>
            <button class="btn btn-success m-5" [routerLink]="['/subirarchivos']">Subir archivos</button>
            <button class="btn btn-success m-5" [routerLink]="['/login']">Login - Angular</button>
            <button class="btn btn-success m-5" [routerLink]="['/hosting']">Hosting - Angular</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
        </div>
    </div>
</div>