<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/empresa"><i class="fa fa-arrow-left"></i>Regresas</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar(variableFormulario)" #variableFormulario="ngForm">

        <div class="form-group">
            <label>Empresa</label>
            <input type="text" class="form-control" placeholder="Empresa" required name="empresa" [(ngModel)]="EmpresaModel.empresa">
        </div>

        <div class="form-group">
            <label>Enlace</label>
            <input type="text" class="form-control" placeholder="Enlace" name="Enlace" [(ngModel)]="EmpresaModel.direccion1">
        </div>

        <div class="form-group" *ngIf="EmpresaModel.direccion1">
            <label>Enlace 2</label>
            <input type="text" class="form-control" placeholder="Enlace" name="Enlace2" [(ngModel)]="EmpresaModel.direccion2">
        </div>

        <div class="form-group" *ngIf="EmpresaModel.direccion2">
            <label>Enlace 3</label>
            <input type="text" class="form-control" placeholder="Enlace" name="Enlace3" [(ngModel)]="EmpresaModel.direccion3">
        </div>

        <div class="form-group">
            <label>Estado</label>
            <br>
            <button *ngIf="EmpresaModel.curriculum" (click)="EmpresaModel.curriculum = false" class="btn btn-outline-success w-50" type="button">Currículum echado</button>
            <button *ngIf="!EmpresaModel.curriculum" (click)="EmpresaModel.curriculum = true" class="btn btn-outline-danger w-50" type="button">Currículum no echado</button>
            <br><br>
            <button *ngIf="EmpresaModel.seleccionado" (click)="EmpresaModel.seleccionado = false" class="btn btn-outline-success w-50" type="button">Seleccionado</button>
            <button *ngIf="!EmpresaModel.seleccionado" (click)="EmpresaModel.seleccionado = true" class="btn btn-outline-danger w-50" type="button">No seleccionado</button>
        </div>


        <div class="form-group" *ngIf="EmpresaModel.curriculum">
            <label>Empleo</label>
            <input type="text" class="form-control" placeholder="Fecha Currículum" name="FechaCurriculum" [(ngModel)]="EmpresaModel.fechacurriculum">
            <input type="text" class="form-control" placeholder="Puesto" name="Puesto" [(ngModel)]="EmpresaModel.puesto">
            <input type="text" class="form-control" placeholder="Jornada" name="jornada" [(ngModel)]="EmpresaModel.jornada">
            <input type="text" class="form-control" placeholder="tipo" name="tipo" [(ngModel)]="EmpresaModel.tipo">
        </div>

        <div class="form-group" *ngIf="EmpresaModel.curriculum">
            <label>Información extra</label>
            <input type="text" class="form-control" placeholder="Información extra" name="informacion" [(ngModel)]="EmpresaModel.informacion">
        </div>

        <hr>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-dark w-25"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </form>
  </div>
</div>