<h6><u><b>Angular - Extensiones</b></u></h6>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-extensionesangular-tab" data-toggle="pill" href="#pills-extensionesangular" role="tab" aria-controls="pills-extensionesangular" aria-selected="true" style="color: black;">Edites<br>de códigos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-extensionesangular0-tab" data-toggle="pill" href="#pills-extensionesangular0" role="tab" aria-controls="pills-extensionesangular0" aria-selected="false" style="color: black;">Bootstrap</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-extensionesangular1-tab" data-toggle="pill" href="#pills-extensionesangular1" role="tab" aria-controls="pills-extensionesangular1" aria-selected="false" style="color: black;">Fontawesome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-extensionesangular2-tab" data-toggle="pill" href="#pills-extensionesangular2" role="tab" aria-controls="pills-extensionesangular2" aria-selected="false" style="color: black;">Sweetalert2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-extensionesangular3-tab" data-toggle="pill" href="#pills-extensionesangular3" role="tab" aria-controls="pills-extensionesangular3" aria-selected="false" style="color: black;">Toastr</a>
</li>
<li class="nav-item">
  <a class="nav-link" id="pills-extensionesangular4-tab" data-toggle="pill" href="#pills-extensionesangular4" role="tab" aria-controls="pills-extensionesangular4" aria-selected="false" style="color: black;">Navegador</a>
</li>
    <button class="btn btn-dark m-2" [routerLink]="['/angular']">Atras</button>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-extensionesangular" role="tabpanel" aria-labelledby="pills-extensionesangular-tab">
        <ul><u>Visual studio code</u>
            <li><b>AutoClose Find</b></li>
            <li><b>Prettier-Code formatter</b></li>
            <li><b>Bootstrap 4</b>: Bootstrap</li>
            <li><b>Snippets</b>: Javascript</li>
            <li><b>Bracket Pair Colorizer</b>: Angular</li>
            <li><b>Angular Language Service</b>: Angular</li>
        </ul>
    </div>
  
    <div class="tab-pane fade" id="pills-extensionesangular0" role="tabpanel" aria-labelledby="pills-extensionesangular0-tab"><app-bootstrapangular></app-bootstrapangular></div>

  <div class="tab-pane fade" id="pills-extensionesangular1" role="tabpanel" aria-labelledby="pills-extensionesangular1-tab">
    <a href="https://fontawesome.com/v4.7.0/icons/"><b>Página Oficial</b></a>
<app-fontangular></app-fontangular>
  </div>

  <div class="tab-pane fade" id="pills-extensionesangular2" role="tabpanel" aria-labelledby="pills-extensionesangular2-tab"><app-sweetalert2angular></app-sweetalert2angular></div>
  <div class="tab-pane fade" id="pills-extensionesangular3" role="tabpanel" aria-labelledby="pills-extensionesangular3-tab">       <b>Mensaje con estilo similar a bootstrap</b></div>
  <div class="tab-pane fade" id="pills-extensionesangular4" role="tabpanel" aria-labelledby="pills-extensionesangular4-tab"><b><a href="https://chrome.google.com/webstore/detail/json-viewer-awesome/iemadiahhbebdklepanmkjenfdebfpfe/related">Ver JSON</a></b></div>


</div>
