<button class="btn btn-primary" routerLink="/subida/nuevo"><i class="fa fa-plus"></i>Agregar</button>
<button class="btn btn-dark" routerLink="/home">Atrás</button><br><br>
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 " *ngFor="let peli of pelis; let i of index">
      <hr>
      <div class="card-deck" style="width: 300px;">
          <div class="card">
            <h3 class="card-title text-center"><u>{{peli.titulo}}</u></h3>
            <img class="card-img-top" [src]="peli.imgUrl" style="width: 300px;">
            <!-- <div class="card" *ngFor="let dj of jd; let i = index"> -->
                  <!-- <img class="card-img-top" *ngFor="let item of items | async"> -->
    <div class="card-body">
      <pre class="card-text">{{peli.descripcion}}</pre>
      <!-- PARA MOSTRAR ENLACE SI EXISTE (*ngif) Y REDIRIGE (href)-->
    </div>
    <div class="card-body">
      <p class="card-text">Categoría: {{peli.categoria}}</p>
      <!-- PARA MOSTRAR ENLACE SI EXISTE (*ngif) Y REDIRIGE (href)-->
    </div>
    <div class="card-footer">
      <!-- <label *ngIf="dj.novedad" class="badge badge-danger">¡¡¡Novedad!!!</label>
      <label *ngIf="!dj.novedad" class="badge badge-primary">Noticias</label>
      <br> -->
      <div class="form group">
        <p class="card-text">Carmen: {{peli.carmeb}}</p>
        <p class="card-text">Aarón: {{peli.aaron}}</p>
    </div>
      <br>
      <!-- <button class="btn btn-info mr-1" [routerLink]="['/subida', peli.id ]"><i class="fa fa-pencil"></i></button> 
      <button class="btn btn-danger" (click)="borrarUnElemento(peli, i)"><i class="fa fa-trash"></i></button>  -->
    </div>
  
              </div>
          </div>
      </div>
  </div>