<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionesangularx-tab" data-toggle="pill" href="#pills-funcionesangularx" role="tab" aria-controls="pills-funcionesangularx" aria-selected="true" style="color: black;">Mostrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionesangularx0-tab" data-toggle="pill" href="#pills-funcionesangularx0" role="tab" aria-controls="pills-funcionesangularx0" aria-selected="false" style="color: black;">Enlaces</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionesangularx8-tab" data-toggle="pill" href="#pills-funcionesangularx8" role="tab" aria-controls="pills-funcionesangularx8" aria-selected="false" style="color: black;">*ngIf</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionesangularx2-tab" data-toggle="pill" href="#pills-funcionesangularx2" role="tab" aria-controls="pills-funcionesangularx2" aria-selected="false" style="color: black;">*ngFor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-funcionesangularx1-tab" data-toggle="pill" href="#pills-funcionesangularx1" role="tab" aria-controls="pills-funcionesangularx1" aria-selected="false" style="color: black;">Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-funcionesangularyy-tab" data-toggle="pill" href="#pills-funcionesangularyy" role="tab" aria-controls="pills-funcionesangularyy" aria-selected="false" style="color: black;">Buscar</a>
    </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">


    <div class="tab-pane fade" id="pills-funcionesangularx" role="tabpanel" aria-labelledby="pills-funcionesangularx-tab"><app-serviciounovarias></app-serviciounovarias></div>

    <div class="tab-pane fade" id="pills-funcionesangularx0" role="tabpanel" aria-labelledby="pills-funcionesangularx0-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>{{t}}routerLink]="{{t}}'/home']"</b> (recomendado)       -> Enlace especial de Angular</li>
    <li><b>routerLink="nombre_componente" o <b>routerLink="/home"</b></b></li>
    <li><b>{{t}}routerLink]="{{t}}'/nombre_componente','nombre_componente','1','2']"</b>                     -> Es igual a -> /home/paginas/1/2</li>
    <li><b>{{t}}routerLink]="{{t}}'/nombre_componente',i]"</b>                                     -> Para usar index hay que nombrarlo previamente en el for (let i of index) /home/index (0...)</li>
    <li><b>routerLinkActive="active"</b>                                     -> Se pone en cada enlace, dentro de una class de bootstrap o una creada, que queramos que se active (se ilumine) al pulsar el enlace/s</li></ul></pre>
                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-funcionesangularx1" role="tabpanel" aria-labelledby="pills-funcionesangularx1-tab"><app-pipes></app-pipes></div>

    <div class="tab-pane fade" id="pills-funcionesangularx8" role="tabpanel" aria-labelledby="pills-funcionesangularx8-tab">
      
 <h4>*ngIF</h4>
      <div *ngIf="variable_if_boolean" class="card text-white bg-danger mb-3" style="width: 100%">{{frase.mensaje}}<br>{{frase.autor}}</div>
      <button (click)="variable_if_boolean = !variable_if_boolean" class="btn btn-outline-danger btn-block">Botón mostrar/ocultar</button>

      <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Ts</h3>
                    <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';

@Component({{c}}
  selector: 'app-angular',
  templateUrl: './angular.component.html',
  styleUrls: ['./angular.component.css']
})
export class AngularComponent implements OnInit {{c}}

    <b>variable_if_boolean = <abbr title="Inicia no mostrando el resultado">false</abbr>;     // o <abbr title="Inicia mostrando el contenido">true</abbr>
    
      frase: any = {{c}}
        mensaje: 'Cualquier cosa',
        autor: 'Adrián Lozano'
      };</b>
 
    constructor(  ) {{c}}

    ngOnInit(): void {{c}}

}</pre>
                </div>
              </div>

            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Html</h3>
                    <pre class="card-text"><b>{{co}}div <abbr title="Para funcionar con el botón. Si la variable es true (muestra) sino, false (oculta)">{{f}}ngIf</abbr>="<abbr title="Variable boolean declarada en TS, false (Oculta) O true (Muestra) en el html inicialmente sin usar botón">variable_if_boolean</abbr>" class="card text-white bg-dark mb-3" style="width: 100%">{{c}}{{c}}frase.mensaje}}{{co}}br>{{c}}{{c}}frase.autor}}{{co}}/div>
{{co}}button {{p}}<abbr title="Realiza la función (variable_if_boolean = !variable_if_boolean) al pulsar el botón">click</abbr>)="<abbr title="Variable (variable_if_boolean=true/false) declarada en TS, que al pulsar cambie el valor (=!), de true (Valor_variable) a false (=!Valor_variable) y viceversa">variable_if_boolean</abbr> = !variable_if_boolean" class="btn btn-outline-primary btn-block">Botón mostrar/ocultar{{co}}/button></b></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-funcionesangularyy" role="tabpanel" aria-labelledby="pills-funcionesangularyy-tab"><hr><app-buscadorprincipal></app-buscadorprincipal></div>

    <div class="tab-pane fade" id="pills-funcionesangularx2" role="tabpanel" aria-labelledby="pills-funcionesangularx2-tab">
      
      <h4>*ngFor</h4>

<ul>
  <li *ngFor="let variableTemporal of variableTS">{{variableTemporal}}</li>
</ul>

      <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Ts</h3>
                    <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';

@Component({{c}}
  selector: 'app-angular',
  templateUrl: './angular.component.html',
  styleUrls: ['./angular.component.css']
})
export class AngularComponent implements OnInit {{c}}

    <b>variableTS: string[] = ['Contenido1', 'Contenido2', 'Contenido3', 'más contenidos'];</b>
 
    constructor(  ) {{c}}

    ngOnInit(): void {{c}}

}</pre>
                </div>
              </div>

            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Html</h3>
                    <pre class="card-text"><b>{{co}}ul>
    {{co}}li {{f}}ngFor="let variableTemporal of variableTS">{{co}}abbr title="Recorre (*ngFor) el contenido de la variable (variableTS) que se encuentra en el componente.ts como arreglo [], lo mete en una variable temporal (variableTemporal) para coger cada parte de la variable del ts nombrada. ['1º Contenido', '2º Contenido', '3º Contenido', 'más contenidos'] {{c}}{{c}}variableTemporal}} debe estar dentro del listado del for, muestra el contenido de la variableTemporal">{{c}}{{c}}variableTemporal}}{{co}}/abbr>{{co}}/li>
{{co}}/ul></b></pre>
                </div>
            </div>
        </div>

        
        <h4>*ngFor + <b>index</b></h4>

<ul>
  <li *ngFor="let variableTemporal of variableTS; let i = index">{{i}}. {{variableTemporal}}</li>
</ul>

      <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Ts</h3>
                    <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';

@Component({{c}}
  selector: 'app-angular',
  templateUrl: './angular.component.html',
  styleUrls: ['./angular.component.css']
})
export class AngularComponent implements OnInit {{c}}

    <b>variableTS: string[] = ['Contenido1', 'Contenido2', 'Contenido3', 'más contenidos'];</b>
 
    constructor(  ) {{c}}

    ngOnInit(): void {{c}}

}</pre>
                </div>
              </div>

            <div class="card text-dark bg-warning m-3">
                <div class="card-body"><h3>Html</h3>
                    <pre class="card-text"><b>{{co}}ul>
  {{co}}li {{f}}ngFor="let variableTemporal of variableTS; let i = index"><abbr title="Recorre (*ngFor) el contenido de la variable (index) que es el índice, lo mete en una variable temporal (i) para coger cada índice, 0,1,2,3...Debe estar dentro del listado del for, muestra el contenido de la i y variableTemporal, añadiendo un (.) para diferenciarlo">{{c}}{{c}}i}}. {{c}}{{c}}variableTemporal}}</abbr>{{co}}/li>
{{co}}/ul></b></pre>
                </div>
            </div>
        </div>

    </div>


</div>