<div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="card-body">

          <form autocomplete="off" [formGroup]="variableTsLocal" (ngSubmit)="guardar()">
          
            <div>

              <div class="form-group row">
                <label class="col-2 col-form-label">Nombre phohibido <small>(Poner esto para verlo: nombrephohibido)</small></label>
                <div class="col">
          
                  <input class="form-control"
                         type="text"
                         placeholder="Dato"
                         formControlName="datoTs"
                         [class.is-invalid]="datoNoValido">
                         <!-- datoNoValido es boolean que se define en el Ts con un get y si tiene errores al tocar o pulsar botón. Si da error no se manda formulario -->

                   <small *ngIf="datoNoValido" class="text-danger">Este campo es obligatorio</small>  
                   <!-- Si da error muestra mensaje -->
                </div>
              </div>

            </div>
          
          
            <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary btn-block">
                  Guardar
                </button>
              </div>
            </div>
          
          </form>

          <hr>
          <pre>
              Estado del formulario: {{ variableTsLocal.valid }}
              <br>
              Status: {{ variableTsLocal. status }}
              <br>
              Status: {{ variableTsLocal. value | json }}
          </pre>

        </div>
    </div>
</div>