<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype-tab" data-toggle="pill" href="#pills-variabletype" role="tab" aria-controls="pills-variabletype" aria-selected="true" style="color: black;">Var/Let/Const</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype1-tab" data-toggle="pill" href="#pills-variabletype1" role="tab" aria-controls="pills-variabletype1" aria-selected="false" style="color: black;">Letras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype4-tab" data-toggle="pill" href="#pills-variabletype4" role="tab" aria-controls="pills-variabletype4" aria-selected="false" style="color: black;">Números</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype2-tab" data-toggle="pill" href="#pills-variabletype2" role="tab" aria-controls="pills-variabletype2" aria-selected="false" style="color: black;">Booleanos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype3-tab" data-toggle="pill" href="#pills-variabletype3" role="tab" aria-controls="pills-variabletype3" aria-selected="false" style="color: black;">Día</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype8-tab" data-toggle="pill" href="#pills-variabletype8" role="tab" aria-controls="pills-variabletype8" aria-selected="false" style="color: black;">Any/Varias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype0-tab" data-toggle="pill" href="#pills-variabletype0" role="tab" aria-controls="pills-variabletype0" aria-selected="false" style="color: black;">Objeto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype5-tab" data-toggle="pill" href="#pills-variabletype5" role="tab" aria-controls="pills-variabletype5" aria-selected="false" style="color: black;">Arreglos<br>Tupla</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletypexy-tab" data-toggle="pill" href="#pills-variabletypexy" role="tab" aria-controls="pills-variabletypexy" aria-selected="false" style="color: black;">Operadores</a>
    </li>
    <button class="btn btn-primary m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-variabletype" role="tabpanel" aria-labelledby="pills-variabletype-tab">

        <h3>Var</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>Sustituye el valor de la variable con el mismo nombre, aunque esté dentro de un if o función</b></li></ul></pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Let</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>Diferente valor de la variable con el mismo nombre, aunque esté dentro y fuera del if o función</b></li></ul></pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Const</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>Valor único, no se cambia y se usa cuando deseamos su valor permanente, pesa poco y carga rápido</b></li></ul></pre>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="pills-variabletype1" role="tabpanel" aria-labelledby="pills-variabletype1-tab">

        <h3>Declarar</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let nombre_de_mi_variable<b>: string = "Texto"</b>; -> Solo una línea</li>
                        <li>let nombre_de_mi_variable<b>: string = 'Texto'</b>; -> Solo una línea</li>
                        <li>let nombre_de_mi_variable<b>: string = `Texto`</b>; -> Podemos poner varias líneas</li>
                        <hr>
                        <li>let nombre_de_mi_variable<b> = "Texto"</b>; -> Solo una línea</li>
                        <li>let nombre_de_mi_variable<b> = 'Texto'</b>; -> Solo una línea</li>
                        <li>let nombre_de_mi_variable<b> = `Texto`</b>; -> Podemos poner varias líneas</li></ul></pre>
                </div>
            </div>
        </div>
        <br>

        <h3>Unión</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>nombre_de_mi_variable + nombre_de_mi_variable + " Texto " + ' Texto ' + ` Texto `</b> -> Se <u>une</u> con <u>+</u> y debemos dejar <u>espacio</u> entre texto y comillas <u>para separar</u></li>
<li><b>nombre_de_mi_variable_numero + nombre_de_mi_variable_texto + 37 + ' Texto '</b> -> Se <u>une</u> con <u>+</u> y debemos dejar <u>espacio</u> entre texto y comillas <u>para separar</u>, si ponemos <u>dos números seguidos con +</u> <b>sin , ni letras, ni variable,</b> se <b>sumará</b></li>
<li><b>`Texto y $nombre_de_mi_variable`</b> -> Usando <u>comillas inclinadas</u>, <u>no</u> es <u>necesario</u> dejar <u>espacio</u> adicional, igual que en un texto, podemos <b><u>añadir variables</u></b></li>
<li><b>nombre_variable_texto + " " + nombre_variable_texto + " ( " + nombre_variable_numero + " )";</b> -> Ponemos " " con espacio para separar variables y espacio entre paréntesis para que no esté pegados</li>
<li><b>`${{c}}variable_texto} ${{c}} variable_texto } ( ${{c}}variable_numero } )`;</b> -> Ponemos ` para que coja los espacios que marcamos como en un editor de texto. El estacio entre {{c}} y la variable no se aprecia en el resultado, ya depende de como queramos ver el código</li><hr><li><b>const nombre_variable_todo = nombre_variable_texto + " " + nombre_variable_texto + " ( " + nombre_variable_numero + " )";</b> -> Metemos en la variable la unión</li>
<li><b>const variable_todo = `${{c}}variable_texto} ${{c}} variable_texto } ( ${{c}}variable_numero } )`;</b> -> Metemos en variable</li><hr><li><b>const variable_todo=  = ` "Texto" \n ${{c}}nombre_variable} \n 36`;</b> -> \n son saltos de líneas</li>
<li><b>const variable_todo=  = `"Texto"
${{c}}nombre_variable} 
36`;</b> -> Salto de líneas al darle al intro, se respetan solo con ` con las otras (" o ') no se respeta</li></ul></pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Operadores</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>nombre_de_mi_variable.charAt(0)</b> -> <u>Coge</u> la <u>letra</u> que esté en la <u>posición</u>, en este caso en la 1º posición al poner 0</li>
                                <li><b>nombre_de_mi_variable.toLocaleUpperCase</b> -> Lo pone <u>todo</u> en <u>mayúsculas</u></li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype4" role="tabpanel" aria-labelledby="pills-variabletype4-tab">

        <h3>Declarar</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let nombre_de_mi_variable<b>: number = 36</b>; <small>//Entero</small></li>
                                    <li>let nombre_de_mi_variable<b>: number = 36.56</b>; <small>//Decimal</small></li>
                                    <li>let nombre_de_mi_variable<b> = 36</b>; <small>//Entero</small></li>
                                    <li>let nombre_de_mi_variable<b> = 36.56</b>; <small>//Decimal</small></li></ul></pre>
                </div>
            </div>
        </div>
        <br>


        <h3>Unión</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>nombre_de_mi_variable_numero + nombre_de_mi_variable_texto + 37 + ' Texto '</b> -> Se <u>une</u> con <u>+</u> y debemos dejar <u>espacio</u> entre texto y comillas <u>para separar</u>, si ponemos <u>dos números seguidos con +</u> <b>sin , ni letras, ni variable,</b> se <b>sumará</b></li>
<li><b>`Texto y $nombre_de_mi_variable_numero`</b> -> Usando <u>comillas inclinadas</u>, <u>no</u> es <u>necesario</u> dejar <u>espacio</u> adicional, igual que en un texto, podemos <b><u>añadir variables</u></b></li>
<li><b>nombre_variable_texto + " " + nombre_variable_texto + " ( " + nombre_variable_numero + " )";</b> -> Ponemos " " con espacio para separar variables y espacio entre paréntesis para que no esté pegados</li>
<li><b>`${{c}}variable_texto} ${{c}} variable_texto } ( ${{c}}variable_numero } )`;</b> -> Ponemos ` para que coja los espacios que marcamos como en un editor de texto. El estacio entre {{c}} y la variable no se aprecia en el resultado, ya depende de como queramos ver el código</li><hr><li><b>const nombre_variable_todo = nombre_variable_texto + " " + nombre_variable_texto + " ( " + nombre_variable_numero + " )";</b> -> Metemos en la variable la unión</li>
<li><b>const variable_todo = `${{c}}variable_texto} ${{c}} variable_texto } ( ${{c}}variable_numero } )`;</b> -> Metemos en variable</li><hr><li><b>const variable_todo=  = ` "Texto" \n ${{c}}nombre_variable} \n 36`;</b> -> \n son saltos de líneas</li>
<li><b>const variable_todo=  = `"Texto"
${{c}}nombre_variable} 
36`;</b> -> Salto de líneas al darle al intro, se respetan solo con ` con las otras (" o ') no se respeta</li></ul></pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Operadores</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>nombre_de_mi_variable - nombre_de_mi_variable  (Resta)</li>
                        <li>nombre_de_mi_variable <b>+</b> nombre_de_mi_variable  (Suma)</li>
                        <li>nombre_de_mi_variable <b>*</b> nombre_de_mi_variable  (Multiplicar)</li>
                        <li>nombre_de_mi_variable <b>/</b> nombre_de_mi_variable  (Dividir)</li>
                        <li>nombre_de_mi_variable <b>%</b> nombre_de_mi_variable  (Resto de la división)</li><hr><li>` Texto y <b>$nombre_de_mi_variable + 1</b>`  (Suma 1 al valor de la variable)</li>
<li><b>`${{c}}nombre_variable_numero + 100}`</b>; -> Sumamos 100 al número de la variable</li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype2" role="tabpanel" aria-labelledby="pills-variabletype2-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let nombre_de_mi_variable<b>: boolean = true</b>;  //O false</li>
                            <li>let nombre_de_mi_variable<b> = true</b>;  //O false</li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype3" role="tabpanel" aria-labelledby="pills-variabletype3-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let nombre_de_mi_variable_dia<b>: Date = new Date()</b>;  <small>//Almacena el día actual</small></li>
                                <li>let nombre_de_mi_variable_dia<b> = new Date()</b>;</li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype8" role="tabpanel" aria-labelledby="pills-variabletype8-tab">

        <h3>Any</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><b>let nombre_variable_any;</b>  //Puede tener cualquier valor:

nombre_variable_any = nombre_variable_<u>string</u>;        <small>//Letras</small>
nombre_variable_any = nombre_variable_<u>number</u>;        <small>//Números</small>
nombre_variable_any = nombre_variable_<u>booblean</u>;      <small>//True/False</small>
nombre_variable_any = nombre_variable_<u>date</u>;          <small>//Día</small></pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Varias</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">let nombre_variable_varias_definiciones<b>: string | number | otros...</b>;  //Puede tener los <abbr title="string | number">tipos</abbr> que declaramos y podemos añadir más con | (Pipe)

nombre_variable_any = nombre_variable_string;       <small>//Sería aceptado en este ejemplo</small>
nombre_variable_any = nombre_variable_number;       <small>//Sería aceptado en este ejemplo</small>
nombre_variable_any = nombre_variable_booblean;     <small>//No sería aceptado en este ejemplo</small>
nombre_variable_any = nombre_variable_date;         <small>//No sería aceptado en este ejemplo</small></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype0" role="tabpanel" aria-labelledby="pills-variabletype0-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><h5>Estructurado</h5>let <b>variable_objeto = {{c}}
    variable_string: 'Texto',
    variable_number: 36
                    };</b>
    console.log (<b>variable_objeto.variable_string</b>);
    console.log (<b>variable_objeto.variable_number</b>);
<hr>
<small>variable_objeto = {{c}}          //Si queremos añadir más datos con la misma estructura, como ya la declaramos arriba no hace falta poner let
    variable_string: 'Texto2',
    variable_number: 37
                        };
    console.log (variable_objeto.variable_string);
    console.log (variable_objeto.variable_number);</small><hr><h5>Destructurado</h5>
    let variable_objeto = {{c}}
        variable_string: 'Texto',
        variable_number: 36
                        };

        <b>const {{c}} variable_string, variable_number } = variable_objeto;</b>

        console.log (<b>variable_string</b>);
        console.log (<b>variable_number</b>);</pre>
                </div>
            </div>
        </div>

    </div>



    <div class="tab-pane fade" id="pills-variabletype5" role="tabpanel" aria-labelledby="pills-variabletype5-tab">
        
        <h3>Declarar</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let nombre_de_mi_variable<b>: [number, string]</b>; 
              nombre_de_mi_variable<b> = [2,'Texto'];</b></li>
              <li>let nombre_de_mi_variable<b>: [string, number] = ['Texto', 36]</b></li>
              <li>const nombre_variable_arreglo<b>: string[] = ['parametro1', 'parametro2']</b>;</li>
              <li>let nombre_de_mi_variable <b>= ['Texto', 36]</b></li></ul></pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Estructurado/Desuctrurado</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><h4>Estructurado</h4>
    const nombre_variable_arreglo: string[] = <b>['parametro1', 'parametro2', 'parametro3']</b>;

console.log( <b>nombre_variable_arreglo[0], nombre_variable_arreglo[1], nombre_variable_arreglo[2]</b>);<hr><h4>Desuctrurado</h4>const nombre_variable_arreglo: string[] = <b>['parametro1', 'parametro2', 'parametro3']</b>;

const [ <b>parametro_hace_referencia_al_1, parametro_hace_referencia_al_2, parametro_hace_referencia_al_3</b> ] = nombre_variable_arreglo;

console.log( <b>parametro_hace_referencia_al_1, parametro_hace_referencia_al_2, parametro_hace_referencia_al_3</b>);</pre>
                </div>
            </div>
        </div>

        <br>

        <h3>Posición</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text">const nombre_variable_arreglo: string[] = ['parametro1', 'parametro2', 'parametro3'];

const [ <b>, , parametro_hace_referencia_al_3</b> ] = nombre_variable_arreglo;    //Dejamos espacio las posiciones que no nos interesa

console.log(<b>parametro_hace_referencia_al_3</b>);                 //No nombramos las posiciones que no nos interesa</pre>             
                </div>
            </div>
        </div>

        <br>

        <h3>Operadores</h3>
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let nombre_de_mi_variable_suma<b>: [number, number] = [nombre_de_mi_variable[0] + nombre_de_mi_variable2[0], nombre_de_mi_variable[1] + nombre_de_mi_variable2[1]]</b></li>
                        <li>let nombre_de_mi_variable_suma <b>= [nombre_de_mi_variable[0] + nombre_de_mi_variable2[0], nombre_de_mi_variable[1] + nombre_de_mi_variable2[1]]</b></li>
                        <li>console.log(`Me llamo <b>${{c}}nombre_de_mi_variable[0]} y tengo ${{c}}nombre_de_mi_variable[1]} años`</b>);</li></ul></pre>
                </div>
            </div>
        </div>

    </div>



    <div class="tab-pane fade" id="pills-variabletypexy" role="tabpanel" aria-labelledby="pills-variabletypexy-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>&&</b>: <abbr title="Y - Conjunción. Ej: nombre_de_mi_variable && nombre_de_mi_variable2">Debe cumplirse <b>ambas</b> condiciones</abbr></li>
<li><b>||</b>: <abbr title="O - Disyunción. Ej: nombre_de_mi_variable || nombre_de_mi_variable2">Debe cumplirse <b>una</b> condición al menos</abbr> </li>
<li><b>valueOf()</b> <abbr title="Ej: nombre_de_mi_variable.valueOf()">Nos da el valor de la variable</abbr></li></ul></pre>
                </div>
            </div>
        </div>

    </div>


</div>