<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype-tab" data-toggle="pill" href="#pills-variabletype" role="tab" aria-controls="pills-variabletype" aria-selected="true" style="color: black;">Var/Let/Const</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype5-tab" data-toggle="pill" href="#pills-variabletype5" role="tab" aria-controls="pills-variabletype5" aria-selected="false" style="color: black;">['Array']</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype0-tab" data-toggle="pill" href="#pills-variabletype0" role="tab" aria-controls="pills-variabletype0" aria-selected="false" style="color: black;">{{c}}Objeto}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype1-tab" data-toggle="pill" href="#pills-variabletype1" role="tab" aria-controls="pills-variabletype1" aria-selected="false" style="color: black;">Letras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype4-tab" data-toggle="pill" href="#pills-variabletype4" role="tab" aria-controls="pills-variabletype4" aria-selected="false" style="color: black;">Números</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype2-tab" data-toggle="pill" href="#pills-variabletype2" role="tab" aria-controls="pills-variabletype2" aria-selected="false" style="color: black;">Booleanos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype3-tab" data-toggle="pill" href="#pills-variabletype3" role="tab" aria-controls="pills-variabletype3" aria-selected="false" style="color: black;">Día</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletype8-tab" data-toggle="pill" href="#pills-variabletype8" role="tab" aria-controls="pills-variabletype8" aria-selected="false" style="color: black;">Any/Pipe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-variabletypexy-tab" data-toggle="pill" href="#pills-variabletypexy" role="tab" aria-controls="pills-variabletypexy" aria-selected="false" style="color: black;">Operadores</a>
    </li>
    <button class="btn btn-primary m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-variabletype" role="tabpanel" aria-labelledby="pills-variabletype-tab"><app-tipo></app-tipo></div>


    <div class="tab-pane fade" id="pills-variabletype1" role="tabpanel" aria-labelledby="pills-variabletype1-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3 border-0">
                <div class="card-body"><h3>Declarar</h3>
                    <pre class="card-text"><ul><li>let variable<b>: string = `<abbr title="Podemos poner varios saltos de líneas">Texto</abbr>`</b>;          //<b><abbr title="Solo una línea">"Texto"</abbr>,<abbr title="Solo una línea">'Texto'</abbr></b>

    console.log ( <abbr title="Texto">variable</abbr> );</li><hr>
<li>let variable<b> =`<abbr title="Podemos poner varios saltos de líneas">Texto</abbr>`</b>;          //<b><abbr title="Solo una línea">"Texto"</abbr>,<abbr title="Solo una línea">'Texto'</abbr></b>

    console.log ( <abbr title="Texto">variable</abbr> );</li></ul></pre>
                </div>
                <div class="card-body bg-white"></div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Unión</h3>
                    <pre class="card-text"><ul>let variable = true;<hr>
<li>let <abbr title="Se une con el + y dejamos espacio entre palabras con comillas y espacios">variable2</abbr> = <b>variable + " " + `Texto ` + " ( " + 1985 + ')'</b>;
     
    console.log ( <abbr title="Muestra: true Texto 1985">variable2</abbr> );</li>


<li>let <abbr title="Siempre con comillas inclinadas, no es necesario dejar espacio, se pone solo con variables">variable2</abbr> = <b>`Texto y ${{c}}variable}`</b>; 
 
    console.log ( <abbr title="Muestra: Texto y true">variable2</abbr> );</li>


<li>let <abbr title="\n Salto de líneas cuando no se usa las comillas inclinadas">variable2</abbr> = ` "Texto" <b>\n</b> ${{c}}variable} <b>\n</b> 36`;
 
    console.log (variable2);</li></ul></pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Operadores</h3>
                    <pre class="card-text"><ul>let variable = '<b>Texto</b>';

<li>let <b>variable2</b> = <b><abbr title="Coge la letra que esté en la posición, en este caso en la 1º posición al poner 0">variable</abbr>.charAt(0)</b>  ->  console.log ( <abbr title="Muestra: T"><b>variable2</b></abbr> );</li>
<li>let <b>variable2</b> = <abbr title="Todo en mayúsculas">variable</abbr><b>.toLocaleUpperCase()</b>   //<b>toUpperCase()</b>  ->  console.log ( <abbr title="Muestra: TEXTO"><b>variable2</b></abbr> );</li>
<li>let <b>variable2</b> = <b><abbr title="Todo en minúscula">variable</abbr>.toLocaleLowerCase()</b>    //<b>toLowerCase()</b>  ->  console.log ( <abbr title="Muestra: TEXTO"><b>variable2</b></abbr> );</li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype4" role="tabpanel" aria-labelledby="pills-variabletype4-tab">

       
        <div class="card-group">
            <div class="card text-dark bg-primary m-3 border-0">
                <div class="card-body"><h3>Declarar</h3>
                    <pre class="card-text"><ul><li>let variable<b>: number = <abbr title="Entero/Decimal">36</abbr></b>;</li><li>let variable<b> = <abbr title="Entero/Decimal">36.56</abbr></b>;</li></ul></pre>
                </div>
                <div class="card-body bg-white"></div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Operadores <small>- <abbr title="Hay que meter todo en una función, constructor...">En Angular...</abbr></small></h3>
                    <pre class="card-text"><ul><li>variable1 - variable2  (Resta)</li>
                        <li>variable1 <b>+</b> variable2  (Suma)</li>
                        <li>variable1 <b>*</b> variable2  (Multiplicar)</li>
                        <li>variable1 <b>/</b> variable2  (Dividir)</li>
                        <li>variable1 <b>%</b> variable2  (Resto de la división)
                        <li>variable <b>-+...</b> 19</li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype2" role="tabpanel" aria-labelledby="pills-variabletype2-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let variable<b>: boolean = true</b>;  //<b>false</b></li>
                            <li>let variable<b> = true</b>;  //<b>false</b></li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype3" role="tabpanel" aria-labelledby="pills-variabletype3-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li>let <abbr title="Almacena el día actual">variable</abbr><b>: Date = new Date()</b>;</li>
                                <li>let variable<b> = new Date()</b>;</li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype8" role="tabpanel" aria-labelledby="pills-variabletype8-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Any</h3>
                    <pre class="card-text"><ul><li>let <b><abbr title="Puede tener cualquier valor (string, number, booblean, date)">variable</abbr>:any;</b></li><li>let <b>variable;</b></li></ul></pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Pipe | Varias clases</h3>
                    <pre class="card-text">let <abbr title="Podemos poner los tipos de datos que queramos poner, desde 1 a todos. (string | number | otros...)">variable:</abbr><b>: string | number</b>;</pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-variabletype0" role="tabpanel" aria-labelledby="pills-variabletype0-tab">


        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Estructurado</h3>
                    <pre class="card-text"><b>let <abbr title="Nombre del objeto">objeto</abbr> = {{c}}
  parametro1: 'Texto',
  parametro2: 36
};</b>

  console.log ( <abbr title="Muestra: {parametro1: Texto, parametro2: 36}"><b>objeto</b></abbr> );
  console.log ( <abbr title="Muestra: Texto "><b>objeto</b></abbr><b>.parametro1</b> );
  console.log ( <abbr title="Muestra: 36"><b>objeto</b></abbr><b>.parametro2</b> );</pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Destructurado</h3>
                    <pre class="card-text"><b>let objeto = {{c}}
  parametro1: 'Texto',
  parametro2: 36
};

const {{c}} parametro1, parametro2 } = objeto;</b>

console.log ( <b><abbr title="Muestra: {parametro1: Texto, parametro2: 36}">objeto</abbr></b> );
console.log ( <b><abbr title="Muestra: Texto">parametro1</abbr></b> );
console.log ( <b><abbr title="Muestra: 36">parametro2</abbr></b> );</pre>
                </div>
            </div>
        </div>


        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Sustituir valor</h3>
                    <pre class="card-text"><abbr tittle="Si queremos cambiar/añadir datos con la misma estructura, como ya la declaramos arriba no hace falta poner let"><b>objeto</b></abbr> = {{c}}
    parametro1: <b>'Otro texto diferente'</b>,
    parametro2: <b>37</b>
};

    console.log ( <b><abbr title="Muestra: {parametro1: Otro texto diferente, parametro2: 37}">objeto</abbr></b> );
    console.log ( <b><abbr title="Muestra: Otro texto diferente">parametro1</abbr></b> );
    console.log ( <b><abbr title="Muestra: 37">parametro2</abbr></b> );</pre>
                </div>
            </div>
            <div class="card text-dark m-3 border-0">
                <div class="card-body">
                    <pre class="card-text"></pre>
                </div>
            </div>    
        </div>

    </div>



    <div class="tab-pane fade" id="pills-variabletype5" role="tabpanel" aria-labelledby="pills-variabletype5-tab">
        
        
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Declarar = Valor</h3>
                    <pre class="card-text"><ul><li>let variable<b>: [ number, string ]</b>; -> variable<b> = [2,'Texto'];</b>

console.log( <abbr title="Muestra: [2, 'Texto']"><b>variable</b></abbr> );
console.log( <b><abbr title="Muestra: 2">variable</abbr>[0]</b> );
console.log( <b><abbr title="Muestra: Texto">variable</abbr>[1]</b> );<hr></li>
<li>let variable<b>: [ string, number ] = [ 'Texto', 36 ]</b>

console.log( <abbr title="Muestra: ['Texto', 36]"><b>variable</b></abbr> );
console.log( <b><abbr title="Muestra: Texto">variable</abbr>[0]</b> );
console.log( <b><abbr title="Muestra: 36">variable</abbr>[1]</b> );<hr></li>
<li>let variable<b>: <abbr title ="En angular dentro de funciones (constructor...)">string</abbr>[] = [ 'parámetro1', 'parámetro2' ]</b>;

console.log( <abbr title="Muestra: ['parámetro1', 'parámetro2']"><b>variable</b></abbr> );
console.log( <b><abbr title="Muestra: parámetro1">variable</abbr>[0]</b> );
console.log( <b><abbr title="Muestra: parámetro2">variable</abbr>[1]</b> );<hr></li>
<li>let variable <b>= [ 'Texto', 36 ]</b>

console.log( <abbr title="Muestra: ['Texto', 36]"><b>variable</b></abbr> );
console.log( <b><abbr title="Muestra: Texto">variable</abbr>[0]</b> );
console.log( <b><abbr title="Muestra: 36">variable</abbr>[1]</b> );</li></ul></pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Posición</h3>
                    <pre class="card-text"><ul><li>const variable: <b>string[] = ['parametro1', 'parametro2', 'parametro3'];</b>

    console.log( <abbr title="Muestra: ['parametro1', 'parametro2', 'parametro3']"><b>variable</b></abbr> );
    console.log( <abbr title="Muestra: parametro1"><b>variable[0]</b> </abbr>);
    console.log( <abbr title="Muestra: parametro2">variable[1] </abbr>);
    console.log( <abbr title="Muestra: parametro3">variable[2] </abbr>);</li><hr>
<li>const <abbr title="Dejamos espacio las posiciones que no nos interesa">variable</abbr> = [ <b>, , parametro3</b> ];

    console.log(<b><abbr title="Muestra: parametro3">variable[2] </abbr></b>);</li><hr>
<li>const [ <b>, parametro2, </b>] = <abbr title="Dejamos espacio las posiciones que no nos interesa">variable</abbr>;

    console.log(<b><abbr title="Muestra: parametro2">variable[1] </abbr></b>);</li></ul></pre> 
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Estructurado</h3>
                    <pre class="card-text">const variable: string[] = <b>['parametro1', 'parametro2', 'parametro3']</b>;

console.log( <b><abbr title="Muestra: parametro1">variable[0]</abbr>, <abbr title="Muestra: parametro2">variable[1]</abbr>, <abbr title="Muestra: parametro3">variable[2]</abbr></b>);</pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Desuctrurado</h3>
                    <pre class="card-text">const variable: string[] = <b>['parametro1', 'parametro2', 'parametro3']</b>;

const [ <b>referencia_al_1, referencia_al_2, referencia_al_3</b> ] = variable;

console.log( <b><abbr title="Muestra: parametro1">referencia_al_1</abbr>, <abbr title="Muestra: parametro2">referencia_al_2</abbr>, <abbr title="Muestra: parametro3">referencia_al_3</abbr></b>);</pre>
                </div>
            </div>
        </div>


        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body"><h3>Operadores</h3>
                    <pre class="card-text"><ul>let variable = [ 2, 6 ];
let variable2 = [ 3, 40 ];<hr>
<li>let variable_suma: <b>[ number, number ] = [ <abbr title="Cogemos el 2">variable</abbr>[0] + <abbr title="Cogemos el 3">variable2</abbr>[0], <abbr title="Cogemos el 6">variable</abbr>[1] + <abbr title="Cogemos el 40">variable2</abbr>[1]];</b>
 
console.log ( <abbr title="Muestra: [5, 46]"><b>variable_suma</b></abbr> );</li>
<li>let variable_suma <b>= [ <abbr title="Cogemos el 2">variable</abbr>[0] + <abbr title="Cogemos el 3">variable2</abbr>[0], <abbr title="Cogemos el 6">variable</abbr>[1] + <abbr title="Cogemos el 40">variable2</abbr>[1]];</b>
 
console.log ( <abbr title="Muestra: [5, 46]"><b>variable_suma</b></abbr> );</li></ul></pre>
                </div>
            </div>
        </div>

    </div>



    <div class="tab-pane fade" id="pills-variabletypexy" role="tabpanel" aria-labelledby="pills-variabletypexy-tab">

        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>&&</b>: <abbr title="Y - Conjunción. Ej: variable && variable2">Debe cumplirse <b>ambas</b> condiciones</abbr></li>
<li><b>||</b>: <abbr title="O - Disyunción. Ej: variable || variable2">Debe cumplirse <b>una</b> condición al menos</abbr> </li>
<li><b>valueOf()</b> <abbr title="Ej: variable.valueOf()">Nos da el valor de la variable</abbr></li></ul></pre>
                </div>
            </div>
        </div>


        

    </div>


</div>