<h6><u><b>Firebase - Login - Angular</b></u></h6>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="pills-firebaselogin4-tab" data-toggle="pill" href="#pills-firebaselogin4" role="tab" aria-controls="pills-firebaselogin4" aria-selected="false" style="color: black;">Mensaje de conexión<br><small>SweetAlert2 </small> + <br> Salir del Login al Longearse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-firebaselogin5-tab" data-toggle="pill" href="#pills-firebaselogin5" role="tab" aria-controls="pills-firebaselogin5" aria-selected="false" style="color: black;">Recordar usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-firebaselogin6-tab" data-toggle="pill" href="#pills-firebaselogin6" role="tab" aria-controls="pills-firebaselogin6" aria-selected="false" style="color: black;">Guard - Proteger +<br>Logout</a>
    </li>
    <button class="btn btn-success m-2" [routerLink]="['/firebase']">Atras</button>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-firebaselogin4" role="tabpanel" aria-labelledby="pills-firebaselogin4-tab">
      <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Ts</th>
                  <th scope="col">Funcionamiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><pre>
import {{c}} Component, OnInit } from '@angular/core';
import {{c}} NgForm } from '@angular/forms';                         
import {{c}} UsuarioModel } from '../../../angular/loginangular/model/usuario.model';      
import {{c}} FireservicioService } from '../servicio/fireservicio.service'; 
<b>import Swal from 'sweetalert2'; </b> 
//Redirigir a otra página
<b>import {{c}} Router } from '@angular/router';</b>                

@Component({{c}}
  selector: 'app-existencia',
  templateUrl: './existencia.component.html',
  styleUrls: ['./existencia.component.css']
})
export class ExistenciaComponent implements OnInit {{c}}

  usuario: UsuarioModel = new UsuarioModel ();     

  constructor( private servicefire: FireservicioService<b>,</b>
                  //Redirigir a otra página
               <b>private router: Router</b> ) {{c}} }

  ngOnInit(): void {{c}}
  }


  login (form:NgForm){{c}}                                              
    if(form.invalid){{c}}                                               
    return;
    }

    //Personalizar y crear de carga
    <b>Swal.fire({{c}} </b>           
      /*Para no poder cerrar ventana si hace click fuera del mensaje. 
        Sino se pone si se quita*/                                      
      <b>allowOutsideClick: false, </b>                                      
      <b>icon: 'info',</b>      //Otros iconos: success, error, warning, info, question
     <b> text: 'Espere por favor'
    });
      
      Swal.showLoading();  </b>

    console.log(this.usuario);                                         
    console.log('Imprimir si el formulario es válido');

    this.servicefire.login( this.usuario ).subscribe( resp => {{c}}  
    console.log (resp); 
    
    //Cierra mensaje al cargar
    <b>Swal.close();  </b>  

    //Redirigir a otra página una vez que haya cargado usuario, puede ser home o la parte privada u otras
    <b>this.router.navigateByUrl('/home'); </b>                    

    }, (err) => {{c}}                                                 
    
        console.log (err);
        console.log (err.error.error.message);
      
        //Personalizar y crear de error
        <b>Swal.fire({{c}}                                             
          icon: 'error',</b>   //Otros iconos: success, error, warning, info, question
        /*allowOutsideClick: false, -> No se pone para poder cerrar ventana si hace 
            click fuera del mensaje. Sino se pone si se quita*/
          <b>title: 'Error al autenticar',                               
          text: err.error.error.message
        });</b>

        });
  }

}
                    
                    </pre></td>
                    <td><app-mensajecargaerror></app-mensajecargaerror></td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>

    <div class="tab-pane fade" id="pills-firebaselogin5" role="tabpanel" aria-labelledby="pills-firebaselogin5-tab">
      <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Ts</th>
                  <th scope="col">Html</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><pre>
import {{c}} Component, OnInit } from '@angular/core';
import {{c}} NgForm } from '@angular/forms';                         
import {{c}} UsuarioModel } from '../../../angular/loginangular/model/usuario.model';      
import {{c}} FireservicioService } from '../servicio/fireservicio.service'; 
import Swal from 'sweetalert2';  
import {{c}} Router } from '@angular/router';                

@Component({{c}}
  selector: 'app-existencia',
  templateUrl: './existencia.component.html',
  styleUrls: ['./existencia.component.css']
})
export class ExistenciaComponent implements OnInit {{c}}

  usuario: UsuarioModel = new UsuarioModel (); 
  
  /*Recordar usuario, false para que no aparezca marcado en el inicio 
  y se cambie luego por el usuario si se quiere recordar*/
 <b> botonRecordar = false; </b>

  constructor( private servicefire: FireservicioService,
               private router: Router ) {{c}} }

  ngOnInit() {{c}}

  //Si en el localStorage existe el email
  <b>if( localStorage.getItem('email') ){{c}}</b>      
    //El usuario.email definido en el modelo es igual que el está en el localStorage              
    <b>this.usuario.email = localStorage.getItem('email');</b>   
    //Si se cumple ponemos la casilla de recordar activada  
    <b>this.botonRecordar = true;                              
    }
  </b>
  }


  login (form:NgForm){{c}}                                              
    if(form.invalid){{c}}                                               
    return;
    }

    Swal.fire({{c}}                                             
      allowOutsideClick: false,                                       
      icon: 'info',      //Otros iconos: success, error, warning, info, question
      text: 'Espere por favor'
    });
      
      Swal.showLoading();  

      //Cuando botonRecordar está en true, se hace lo de dentro
      <b>if( this.botonRecordar ){{c}} </b>             
        //Guarda (setItem) en el localStorage (almacen que se observa en el navegador -> aplicación) el email del usuario          
        <b>localStorage.setItem('email', this.usuario.email);   
        }</b>

    console.log(this.usuario);                                         
    console.log('Imprimir si el formulario es válido');

    this.servicefire.login( this.usuario ).subscribe( resp => {{c}}  
    console.log (resp); 
    
    Swal.close();    

    this.router.navigateByUrl('/home');                     

    }, (err) => {{c}}                                                 
    
        console.log (err);
        console.log (err.error.error.message);
      
        Swal.fire({{c}}                                             
          icon: 'error',   //Otros iconos: success, error, warning, info, question
          title: 'Error al autenticar',                               
          text: err.error.error.message
        });

        });
  }

}
                    
                    </pre></td>
                    <td><pre>{{re}}<b>{{cor}}</b>{{dar}}</pre></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive-md">
      <table class="table table-bordered">
              <thead class="thead-light">
                  <tr>
                      <th colspan="2">Funcionamiento</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="2"><pre>Se ve si el navegador no tenemos puesto que guarde usuario/contraseña</pre><app-recordar></app-recordar></td>
                  </tr>
          </tbody>
      </table>
  </div>

    </div>

    <div class="tab-pane fade" id="pills-firebaselogin6" role="tabpanel" aria-labelledby="pills-firebaselogin6-tab">
      <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Servicio</th>
                  <th scope="col">Guard.ts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><pre>
import {{c}} Injectable } from '@angular/core';
import {{c}} HttpClient } from '@angular/common/http';
import {{c}} UsuarioModel } from '../../../angular/loginangular/model/usuario.model';
import {{c}} map } from 'rxjs/operators';

@Injectable({{c}}
  providedIn: 'root'
})
export class FireservicioService {{c}}
//Crear usuario
//https://identitytoolkit.googleapis.com/v1/accounts:signUp?key=[API_KEY]  

//Login usuario
//https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=[API_KEY]  

    private url = 'https://identitytoolkit.googleapis.com/v1/accounts:sign';

    //Cambia API_KEY por proyecto
    private apikey = 
    <!-- 'AIzaSyBXBZUhEffME9i58aVvigvAkSoOgCEfSPg';                  -->

    usartoken: string;

  constructor(  
  
  private http: HttpClient ) {{c}} 

  this.leertoken();
} 

  login (usuario: UsuarioModel){{c}}

    ///////////Opción 1/////////////////
    /*const variable_login = {{c}}                      
        email: usuario.email,
        password: usuario.password,
        returnSecureToken: true
      };*/
    ///////////Opción 2/////////////////
    const variable_login = {{c}}                     
        ...usuario,
        returnSecureToken: true
      };
    
    
      ///////////Opción A/////////////////
    /*return this.http.post(           
      `${{c}} this.url }InWithPassword?key=${{c}} this.apikey }`,       
        variable_login
      ).pipe(map( resp => {{c}}
        console.log ('Entro en el mapa del RXJS');
        this.guardartoken( resp['idToken'] );
        return resp;
      })
      );*/
      ///////////Opción B/////////////////
    return this.http.post(this.url + 'InWithPassword?key=' + this.apikey, variable_login).pipe(map( resp => {{c}}
      console.log ('Entro en el mapa del RXJS');                                                                       
      this.guardartoken( resp['idToken'] );                                                                            
      return resp;
        })
        );     
    }

    /*La variable del token debe ser llamado igual que el que pusimos en 
      private guardartoken (idToken: string) -> localStorage.setItem
      ('token', idToken). En este caso lo llamamos token*/
<b>    logout(){{c}}
          localStorage.removeItem('token');                                   
        }</b>

    private guardartoken (idToken: string){{c}} 
      this.usartoken = idToken;
      localStorage.setItem('token', idToken);  
      
      let hoy = new Date();  
      hoy.setSeconds( 3600 );  
      localStorage.setItem('variableExpira', hoy.getTime().toString() );      
      }
      
      leertoken(){{c}}
        if (localStorage.getItem('token')){{c}}
          this.usartoken=localStorage.getItem('token');     
          }else{{c}}
          this.usartoken='';       
          }
        return this.usartoken;
        }

        /*Método para saber si estamos autentificado a través del token 
          (Nivel básico de controlar). Regresa un boolean para saber si 
          o no se hace la condición de abajo*/
        <b>guardEstaAutentificado(): boolean{{c}} </b>  
        /*Si el token es menor de 2 o no existe, devuelve false, sale de 
          la función. Return this.usartoken.length > 2: Si el token que 
          recoge es mayor de 2 caracteres lo devuelve. El usartoken se 
          encuentra en el servicio ServiciofirebaseService en la función 
          guardartoken (Saca el token, email almacenado en el localStorage */  
            <b>      {{o}}                               
              return false;
          }</b>
        
          /*Transformamos en número el token que teníamos en string en private 
            guardartoken. Lo metemos en const para no poderlo cambiar el valor*/
          <b>const variableExpira = Number (localStorage.getItem('variableExpira'));</b> 
          /*Metemos en la variable variableExpira2 el día/hora actual. Lo metemos 
            en const para no poderlo cambiar el valor*/    
          <b>const variableExpira2 = new Date(); </b>            
          //Comparamos la expiración actual (variableExpira2) con la expiración futura de 1h (variableExpira)
            <b>variableExpira2.setTime(variableExpira);</b>                                    
        
            //Si el tiempo actual (variableExpira2) es mayor que el actual (new Date)
              <b>if ( variableExpira2 > new Date() ){{c}}</b>  
              //No expiró aún                                 
                <b>return true;          
                  }else{{c}}</b>
                  //En caso contrario, si expiró el tiempo
              <b>return false;                                                           
            }
        }</b>
        
}</pre></td>
                    <td>
                      <pre>import {{c}} Injectable } from '@angular/core';
import {{c}} CanActivate, ActivatedRouteSnapshot, RouterStateSnapshot, UrlTree<b>, Router</b> } from '@angular/router';
import {{c}} Observable } from 'rxjs';
//Servicio.ts creado para conectar firebase al proyecto 
<b>import {{c}} FireservicioService } from '../login/fireservicio/fireservicio.service';</b>         

@Injectable({{c}}
  providedIn: 'root'
})
export class ElgranguardianGuard implements CanActivate {{c}}

                //Manejo del servicio
<b>constructor( private variableServicio: FireservicioService,</b>  
                //Enlaces de páginas
                <b>private router: Router){{c}}}</b>                

  canActivate(
    //Ruta que el usuario quiere navegar, podemos imprimir en consola, tiene nombre de la ruta, los argumentos...Se puede omitir
    next: ActivatedRouteSnapshot,
    //Ruta actual. Se puede omitir
    state: RouterStateSnapshot): Observable{{coco}} | boolean | UrlTree {{c}}   
    //Puede retornar un observable, promesa (promise) o un booleano normal        
    <b>//return true;</b> -> Se elimina o se comenta (//)                               

    //Si estamos autentificados entramos en el componente protegido
    <b>if(this.variableServicio.guardEstaAutentificado()){{c}}</b>       
        //guardEstaAutentificado() función del servicio.ts                      
        <b>return true;</b>                                                                    
        <b>}else{{c}}</b>
        //Si no estamos longeado nos manda al login
        <b>this.router.navigateByUrl('/login');</b>                                               
      <b>}</b>

  }

  
}</pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive-md">
      <table class="table table-bordered">
              <thead class="thead-light">
                  <tr>
                    <th scope="col">App.routing.ts</th>
                    <th scope="col">Componente protegido.ts</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><pre>//Conexión con app.module.ts - Enlazar páginas
import {{c}} ModuleWithProviders } from '@angular/core';
//DEBE IR DE ESTE MODO, TODO JUNTO, SINO NO FUNCIONA BIEN, NO PUEDE IR SEPARADO
<b>import {{c}} Routes, RouterModule, CanActivate } from '@angular/router';</b>  

//Guard - tipo
<b>import {{c}} ElguardianGuard } from './paginas/programacion/angular/login/guardexplica/elguardian.guard';</b>   

//Login - Páginas protegidas                                                                    
<b>import {{c}} ProtegidoguardfirebaseComponent } from './paginas/programacion/angular/login/protegidoguardfirebase/protegidoguardfirebase.component';</b>  

//Componentes - Especiales
import {{c}} AppComponent } from './app.component';

//Componentes - Páginas añadir después de crearlas
import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

export const appRoutes: Routes = [
  /*Componentes - Páginas añadir después de crearlas
    Siempre va a HomeComponent cuando da errores los botones*/
  {{c}} path: '', component: HomeComponent },  
  //Va al HomeComponent, se usa en enlaces (home)                                   
  {{c}} path: 'home', component: HomeComponent},      
  //Va al PieComponent, se usa en enlaces (pie)               
  {{c}} path: 'pie', component: PieComponent},      
  //Va al CabeceraComponent, se usa en enlaces (cabecera)                 
  {{c}} path: 'cabecera', component: CabeceraComponent},      
  /*Archivo protegido que vemos al longearnos, Elguardian(nombre del guardian)
    Guard(es la extensión del guardián) -> [ElguardianGuard]*/       
  <b>{{c}} path: 'protegidoguardfirebase', component: ProtegidoguardfirebaseComponent, canActivate: [ElguardianGuard]},</b>   
  //Componentes - Especiales
  {{c}} path: 'appcomponente', component: AppComponent },
  /*Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 1
    Si introducimos mal en la barra de direcciones nos va al ErrorComponent (**)*/
  {{c}} path: '**', component: ErrorComponent},                      
  /*Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 2
    Si introducimos mal en la barra de direcciones nos va al HomeComponent (home)*/
  {{c}} path: '**', pathMatch: 'full', redirectTo: 'home'},           
  /*Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 3
    Si introducimos mal en la barra de direcciones nos va al HomeComponent (**)*/
  {{c}} path: '**', component: HomeComponent }                       
];


//Conexión con app.module.ts - Enlazar páginas
export const appRoutingProviders: any[] = [];
export const routing: ModuleWithProviders = RouterModule.forRoot (appRoutes);</pre></td>
                    <td><pre>
                      import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} FireservicioService } from '../servicio/fireservicio.service';
import {{c}} Router } from '@angular/router';</b>

@Component({{c}}
  selector: 'app-protegidoguardfirebase',
  templateUrl: './protegidoguardfirebase.component.html',
  styleUrls: ['./protegidoguardfirebase.component.css']
})
export class ProtegidoguardfirebaseComponent implements OnInit {{c}}

  constructor( <b>private servicefire: FireservicioService,
               private router: Router</b> ) {{c}} }

  ngOnInit(): void {{c}}
  }

  <b>salir(){{c}}
    this.servicefire.logout();
    this.router.navigateByUrl('/home');   //  /login o /home u /otro
  }</b>

}
                    </pre></td>
                  </tr>
          </tbody>
      </table>
  </div>
  <div class="table-responsive-md">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
              <th scope="col">Ts</th>
              <th scope="col">Funcionamiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><pre>
import {{c}} Component, OnInit } from '@angular/core';
import {{c}} NgForm } from '@angular/forms';                         
import {{c}} UsuarioModel } from '../../../angular/loginangular/model/usuario.model';        
import {{c}} FireservicioService } from '../servicio/fireservicio.service';
import Swal from 'sweetalert2'; 
import {{c}} Router } from '@angular/router';

@Component({{c}}
  selector: 'app-protegidoguardfirebaselogin',
  templateUrl: './protegidoguardfirebaselogin.component.html',
  styleUrls: ['./protegidoguardfirebaselogin.component.css']
})
export class ProtegidoguardfirebaseloginComponent implements OnInit {{c}}
  usuario: UsuarioModel = new UsuarioModel ();     

  botonRecordar = false;                                  

  constructor( private servicefire: FireservicioService, private router: Router ) {{c}} }

  ngOnInit() {{c}}

    if( localStorage.getItem('email') ){{c}}                   
        this.usuario.email = localStorage.getItem('email');     
        this.botonRecordar = true;                              
      }
      
  }


  login (form:NgForm){{c}}                                              
    if(form.invalid){{c}}                                               
    return;
  }

  Swal.fire({{c}}                                              
    allowOutsideClick: false,                                       
    icon: 'info',      //Otros iconos: success, error, warning, info, question
    text: 'Espere por favor'
  });

  Swal.showLoading();  

  console.log(this.usuario);                                         
  console.log('Imprimir si el formulario es válido');

  this.servicefire.login( this.usuario ).subscribe( resp => {{c}}  
  console.log (resp); 

  Swal.close();   

  if( this.botonRecordar ){{c}}                      
      localStorage.setItem('email', this.usuario.email);   
    }

  /*Aquí cambiamos al archivo protegido, para cuando nos 
  longeamos nos lleve a ese protegido (Es opcional, se 
  puede acceder por otros medios como enlaces...)*/
  <b>this.router.navigateByUrl('/protegidoguardfirebase'); </b>

  }, (err) => {{c}}                                                 

  console.log (err);
  console.log (err.error.error.message);

  Swal.fire({{c}}                                             
    icon: 'error',   //Otros iconos: success, error, warning, info, question
    title: 'Error al autenticar',                               
    text: err.error.error.message
  });

  });
  }

}
                </pre></td>
                <td><pre><b>Se ve al longearnos, nos lleva a la web protegida 
(Si intentamos acceder sin longearnos no carga nos lleva al login)</b><br><app-protegidoguardfirebaselogin></app-protegidoguardfirebaselogin></pre></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive-md">
  <table class="table table-bordered">
      <thead class="thead-light">
          <tr>
            <th scope="col">Componente protegido.html</th>
            <th scope="col">Funcionamiento</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><pre>{{prote}}<b>{{gi}}</b>{{do}}</pre></td>
              <td><pre>Visualización del archivo protegido (Se ve solo al longearse, 
aquí se muestra aunque no esté longeado, para probarlo bien el de arriba)<app-protegidoguardfirebase></app-protegidoguardfirebase></pre></td>
          </tr>
      </tbody>
  </table>
</div>

    </div>

</div>