<div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="card-body">

<div class="row">
    <div class="col-6 mx-auto mt-5">
        <div class="card">
            <div class="card body">
                <h1 class="text-center">REGISTER</h1>
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                    <!-- registerForm -> Proviene del Ts para controlar campos por ts (reactivo) 
                    onRegister() -> no necesitamos meter nada dentro de () porque ya se maneja en Ts por registerForm -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                        <!-- formControlName="email" VA RELACIONADO CON registerForm = new FormGroup({ DEL TS (email: new FormControl(''),)-->
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                        <!-- formControlName="password" VA RELACIONADO CON registerForm = new FormGroup({ DEL TS (password: new FormControl(''),) -->
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg btn-block">Register</button>
                </form>
                <div class="form-group mt-3">
                    <p>Do you have an account? <a [routerLink]="['/loginfb']"> Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</div>