<small>CMD o COMANDO o Símbolo del sistema</small>
<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Ver contenido de carpeta</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Moverse por carpetas</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Crear carpeta</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Copiar</a>
        <a class="nav-link" id="v-pills-settings1-tab" data-toggle="pill" href="#v-pills-settings1" role="tab" aria-controls="v-pills-settings1" aria-selected="false">Limpiar pantalla</a>
        <a class="nav-link" id="v-pills-settings2-tab" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings2" aria-selected="false">Cancelar proceso</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>dir -> Ver contenido de la carpeta actual
dir carpeta -> Ver contenido de la carpeta</b></pre>
                    </div>
                  </div>
              </div>
              
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>cd -> Nos dice la carpeta actual
cd carpeta -> Va a la carpeta
cd .. -> Va a la carpeta anterior</b></pre>
                    </div>
                  </div>
              </div>

            
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            
            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>mkdir nombre</b></pre>
                    </div>
                  </div>
              </div>

        </div>

        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>copy archivo.extensión archivoNuevo.extensión</b></pre>
                    </div>
                  </div>
              </div>

        </div>


        <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel" aria-labelledby="v-pills-settings1-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>cls</b></pre>
                    </div>
                  </div>
              </div>

        </div>
        

        <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings2-tab">
            
                        <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text"><b>Ctrl + C</b></pre>
                    </div>
                  </div>
              </div>

        </div>


  </div>


  