<b><a href="https://sweetalert2.github.io/#configuration">Web</a></b>
 
<div class="card-group">
  <div class="card text-dark bg-primary m-3">
    <div class="card-header">
        <pre class="card-text text-center"><h3>Ts/Js</h3></pre>
    </div>
    <div class="card-body">
      <pre class="card-text"><b>import Swal from 'sweetalert2'</b>
        
        <b>Dentro de una función o del ngOnInit(){{c}}</b>
        <b>Swal.fire({{c}}</b>
          <b>title</b> o <b>titleText</b>: '{{ti}}',                              //'Título' o Código
          <b>html</b>: '{{ti}}',                                                  //'Código html'
          <b>text</b>: 'Texto',                                                   //'Texto'
          <b>icon</b>: 'warning' o 'error' o 'success' o 'info' o 'question',     //'Icono'
          <b>iconHtml</b>: '{{fon}}',              //Debe ir también el <b>icon</b> anterior. 'Icono' -> Lo que pongamos en html Código
          <b>footer</b>: 'Título' o '{{t}}',                                      //'Título' o '{{t}}'
          <b>toast</b>: true,                                                     //Muestra la ventana más pequeña. Para que funcione (true)
          <b>timer</b>: 200, <abbr title="Ponemos el tiempo de permanencia del popup"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> Swal.getTimerLeft(), Swal.stopTimer(), Swal.resumeTimer(), Swal.toggleTimer(), Swal.isTimerRunning() and Swal.increaseTimer(): 'No me funciona por ahora',
          <b>inputValue</b>:                                                      /*No se aún pero pone que coge los datos. Según pone en la web: Ingrese el valor inicial del 
                                                                                  campo. Si el tipo de entrada es checkbox, inputValue representará el estado marcado. Si el 
                                                                                  tipo de entrada es texto, correo electrónico, número, teléfono o área de texto, se puede 
                                                                                  aceptar una promesa como inputValue*/
          <b>width</b>: 'númeropx' o 'número'%,                                   //Tamaño del cuadro o imagen. Por defecto 32rem
          <b>padding</b>: 'númeropx' o 'número'%,                                 //Margen del cuadro o imagen. Por defecto 1.25rem
          <b>background</b>: 'color en inglés' o '#ColorHex',                     //Fondo del cuadro. Por defecto #fff
          <b>allowOutsideClick</b> false,                                         //No se pueda cerrar al <b>pulsar fuera de la ventana</b>
          <b>allowEscapeKey</b> false,                                            //No se pueda cerrar al pulsar <b>ESC</b>
          <b>allowEnterKey</b> false,                                             //No se pueda cerrar al pulsar <b>Espacio</b> o <b>ESC</b>
          <b>showConfirmButton</b> true o false,                                  //true (Ver botón de confirmación), false (Oculta botón de confirmación)
          <b>showCancelButton</b> true o false,                                   //true (Ver botón de cancelación), false (Oculta botón de cancelación)
          <b>confirmButtonText</b> 'Texto del botón',
          <b>cancelButtonText</b> 'Texto del botón',
          <b>confirmButtonColor</b> Color del botón de confirmación,              //'color en inglés' o '#ColorHex', Por defecto #3085d6
          <b>cancelButtonColor</b> Color del botón de Cancelación,                //'color en inglés' o '#ColorHex', Por defecto #aaa
          <b>buttonsStyling</b> true o false,                                     //true (Botón bootstrap) false(Botón normal),
          <b>showCloseButton</b> Icono                                            //(x), para cerrar (Arriba a la derecha)
          <b>closeButtonHtml</b> 'Texto icono de cerrar' o código html            //(Ejemplo: {{x}}) -> aparece -> X
          <app-input></app-input><app-position></app-position><app-grow></app-grow><app-imagenurl></app-imagenurl>
          <b>customClass</b>{{c}}
                    container: '...',
                    popup: '...',
                    header: '...',
                    title: '...',
                    closeButton: '...',
                    icon: '...',
                    image: '...',
                    content: '...',
                    htmlContainer: '...',
                    input: '...',
                    inputLabel: '...',
                    validationMessage: '...',
                    actions: '...',
                    confirmButton: '...',
                    denyButton: '...',
                    cancelButton: '...',
                    loader: '...',
                    footer: '....'
                  }
          <b>})
      }
      </b></pre>
    </div>
  </div>
</div>