






<div class="card-group">
    <div class="card text-dark bg-warning m-3">
        <div class="card-header">
            <pre class="card-text text-center"><h3>Selector de etiquetas Html</h3></pre>
        </div>
        <div class="card-body">
          <pre class="card-text">document.querySelector('h1') -> Si lo metemos en un console.log(document.querySelector("h1")); -> Muestra {{co}}h1>Texto{{co}}/h1></pre>
        </div>
    </div>
    <div class="card text-dark bg-warning m-3">
      <div class="card-header">
          <pre class="card-text text-center"><h3>x</h3></pre>
      </div>
      <div class="card-body">
          <pre class="card-text">x</pre>
      </div>
  </div>
</div>