<div class="row">

    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-unionpokemon-tab" data-toggle="pill" href="#v-pills-unionpokemon" role="tab" aria-controls="v-pills-unionpokemon" aria-selected="true">1º Forma <small>(Mezcla de varias formas)</small></a>
        <a class="nav-link" id="v-pills-unionpokemon0-tab" data-toggle="pill" href="#v-pills-unionpokemon0" role="tab" aria-controls="v-pills-unionpokemon0" aria-selected="true">2º Forma <small>(Mejorada)</small></a>
      </div>
    </div>

    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        
        <a href="https://pokeapi.co/"><u>Web</u></a>  -  <a href="https://amoelcodigo.com/pokedex-pokeapi-angular-material/">Web ayuda</a>

        <div class="tab-pane fade" id="v-pills-unionpokemon" role="tabpanel" aria-labelledby="v-pills-unionpokemon-tab"><app-pokemonangular></app-pokemonangular></div>

        <div class="tab-pane fade" id="v-pills-unionpokemon0" role="tabpanel" aria-labelledby="v-pills-unionpokemon0-tab"><app-pokemonformamejorada></app-pokemonformamejorada></div>

  </div>

</div>