<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-terminal-tab" data-toggle="pill" href="#pills-terminal" role="tab" aria-controls="pills-terminal" aria-selected="true" style="color: black;">Windows</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-terminal0-tab" data-toggle="pill" href="#pills-terminal0" role="tab" aria-controls="pills-terminal0" aria-selected="false" style="color: black;">Linux</a>
    </li>
    <button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-terminal" role="tabpanel" aria-labelledby="pills-terminal-tab">
        <app-windows></app-windows>
    </div>

    <div class="tab-pane fade" id="pills-terminal0" role="tabpanel" aria-labelledby="pills-terminal0-tab">
        <app-linux></app-linux>
    </div>

</div>

<img src="../../../../assets/imagenes/terminal.jpg" style="margin-left: 40%; width: 300px;">
<button class="btn btn-dark m-2" [routerLink]="['/programacion']">Atras</button>
<br>
<br>
<br>






<ul>
    <h4><u>Editor de texto</u></h4>
    <li><em><a target="_black" href="https://code.visualstudio.com/download"><b>Visual studio code</b></a></em>
        <ul><b>Plugins / Extensiones</b>
            <li>Angular 2 TypeScript Emmet</li>
            <li>Angular Language Service</li>
            <li>Angular v5 Snippets</li>
            <li>Angular2-inline</li>
            <li>Bootstrap 4 & Font Awesome snippets</li>
            <li>HTML CSS Support</li>
            <li>JavaScript (ES6) code snippets</li>
            <li>JS-CSS-HTML Formatter</li>
            <li>JSHint</li>
            <li>Material Icon Theme</li>
            <li>Prettier – Code Formatter</li>
            <li>Terminal</li>
            <li>TSLint</li>
            <li>TypeScript Hero </li>
            <li>TypeScript Importer</li>
        </ul>
    </li>
    <li><em><a target="_black" href="https://www.sublimetext.com/"><b>Sublime text</b></a></em></li>
    <li><em><a target="_black" href="https://atom.uptodown.com/windows/descargar"><b>Atom</b></a></em>
        <ul><b><abbr title="Atom -> Preferencias -> Instalar">Plugins / Extensiones</abbr></b>
            <li>Angular 2 Type Script Snippets</li>
            <li>Atom Bootstrap3</li>
            <li>Atom Typescript</li>
            <li>File Icons</li>
            <li>Platformio Ide Terminal</li>
            <li>V Bootstrap4</li>
        </ul>
    </li>
    <li><em><a target="_black" href="http://www.pspad.com/es/download.htm"><b>Pspad</b></a></em></li>
    <li><em><a target="_black" href="https://www.vim.org/download.php"><b>Vim (Sin interfaz gráfica)</b></a></em></li>
</ul>

<br><br>