<h6><u><b>Firebase - Proyecto</b></u></h6>
<a class="enlace" href="https://firebase.google.com/?pli=1"><u><b>Web Firebase</b></u></a> -> Ir a la consola -> Crear un proyecto)
    <div class="table-responsive-md">
      <table class="table table-bordered">
          <thead class="thead-light">
              <tr>
                  <th scope="col">1º Paso</th>
                  <th scope="col">2º Paso</th>
                  <th scope="col">3º Paso</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><pre>Empieza por ponerle un nombre al proyecto

<b>Introduce el nombre de tu proyecto</b> -> En este caso -> <b>Sodertweb</b>
<small>Debes indicar el nombre del proyecto</small>

<b>Continuar</b></pre></td>
                  <td><pre>Google Analytics para tu proyecto de Firebase
    Google Analytics es una solución de analíticas gratuita e ilimitada 
que permite crear informes y realizar tareas de segmentación, entre otras 
acciones, en Firebase 
    Crashlytics, Cloud Messaging, In‑App Messaging, Remote Config, A/B 
Testing, Predictions y Cloud Functions.
    Google Analytics permite usar:</pre>
            <ul>
                <li>A/B Testing</li>
                <li>Segmentación de usuarios en productos de Firebase</li>
                <li>Predicción del comportamiento de usuarios</li>
                <li>Usuarios sin fallos</li>
                <li>Activadores de Cloud Functions basados en eventos</li>
                <li>Informes gratuitos ilimitados</li><pre>Habilitar Google Analytics en este proyecto 
                    <small>Recomendados</small> -> <b>Opcional</b>

<b>Crear proyecto</b></pre></ul></td>
                  <td><pre>Configurar Google Analytics
Ubicación de Analytics ___Elegir país___ -> Elegimos <b>España</b>
        
Términos de Google Analytics y configuración de uso compartido de datos</pre>
    <ul>
        <li><pre>
    Usar la configuración predeterminada para compartir datos de Google Analytics. 
Learn more Comparte tus datos de Analytics con nosotros para ayudarnos a 
mejorar nuestros productos y servicios. Comparte tus datos de Analytics 
con nosotros para habilitar las comparativas. Comparte tus datos de Analytics 
con Google para habilitar el servicio de asistencia técnica. Comparte tus datos 
de Analytics con los especialistas en cuentas de Google.</pre></li><li><pre>
    Acepto los términos de protección de datos entre responsables del tratamiento de datos 
y responsables del tratamiento de datos de mediciones, y reconozco que estoy sujeto a la 
política de consentimiento de usuarios finales de la Unión Europea. Es obligatorio marcar 
esta casilla si vas a compartir tus datos de Analytics para mejorar los productos y 
servicios de Google. Más información</pre></li>
    </ul>

<pre>Acepto los términos de Google Analytics.<br><small>
     Al crear el proyecto, también se creará una propiedad de Google Analytics que se 
asociará a tu proyecto de Firebase. De esta forma, se habilitará el flujo de datos entre 
los productos. Los datos que se exportan de tu propiedad de Google Analytics a Firebase 
están sujetos a los términos del servicio de Firebase, mientras que los datos que se 
importan de Firebase a Google Analytics se rigen por los términos del servicio de Google 
Analytics. Más información</small>

<b>Continuar</b></pre></td>
              </tr>
          </tbody>
      </table>

      <button class="btn btn-success m-2" [routerLink]="['/firebase']">Atras</button>
    