<h6><u><b>Angular - Formularios</b></u></h6>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="pills-formulariosangular0-tab" data-toggle="pill" href="#pills-formulariosangular0" role="tab" aria-controls="pills-formulariosangular0" aria-selected="false" style="color: black;">Reactivo / <small>Validación instantánea<br>Recomendable</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-formulariosangular1-tab" data-toggle="pill" href="#pills-formulariosangular1" role="tab" aria-controls="pills-formulariosangular1" aria-selected="false" style="color: black;">Firebase</a>
    </li>
    <button class="btn btn-dark m-2" [routerLink]="['/angular']">Atras</button>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade" id="pills-formulariosangular0" role="tabpanel" aria-labelledby="pills-formulariosangular0-tab"><app-reactivosangular></app-reactivosangular></div>

    <div class="tab-pane fade" id="pills-formulariosangular1" role="tabpanel" aria-labelledby="pills-formulariosangular1-tab"><app-formulariosfirebase></app-formulariosfirebase></div>

</div>
