<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-dpokemonangular-tab" data-toggle="pill" href="#v-pills-dpokemonangular" role="tab" aria-controls="v-pills-dpokemonangular" aria-selected="true">Module/Servicio</a>
        <a class="nav-link" id="v-pills-dpokemonangular0-tab" data-toggle="pill" href="#v-pills-dpokemonangular0" role="tab" aria-controls="v-pills-dpokemonangular0" aria-selected="true">Búsqueda</a>
        <a class="nav-link" id="v-pills-dpokemonangular1-tab" data-toggle="pill" href="#v-pills-dpokemonangular1" role="tab" aria-controls="v-pills-dpokemonangular1" aria-selected="false">Mostrar Todo</a>
        <a class="nav-link" id="v-pills-dpokemonangular2-tab" data-toggle="pill" href="#v-pills-dpokemonangular2" role="tab" aria-controls="v-pills-dpokemonangular2" aria-selected="false">Mostrar Uno (PENDIENTE)</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">

        <a href="https://pokeapi.co/"><u>Web</u></a>

        <div class="tab-pane fade show active" id="v-pills-dpokemonangular" role="tabpanel" aria-labelledby="v-pills-dpokemonangular-tab">
          
          <div class="card-group">
    <div class="card text-dark bg-danger m-3">
        <div class="card-header">
            <pre class="card-text text-center blanco"><h3>Module.ts</h3></pre>
        </div>
        <div class="card-body">
          <pre class="card-text blanco">import {{c}} BrowserModule } from '@angular/platform-browser';
  import {{c}} NgModule } from '@angular/core';

  import {{c}} routing, appRoutingProviders } from './app.routing';
  
  import {{c}} AppComponent } from './app.component';

  import {{c}} HomeComponent } from './paginas/home/home.component';
  import {{c}} ErrorComponent } from './componentes/error/error.component';
  import {{c}} PieComponent } from './componentes/pie/pie.component';
  import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

  //Buscar
  <b>import {{c}} FormsModule } from '@angular/forms';</b>  <abbr title="Para coger y soltar datos. Formulario Template"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  //Buscar - Mostrar
  <b>import {{c}} HttpClientModule } from '@angular/common/http'; </b>   <abbr title="Para usar la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  
  //Mostrar - Angular Material   <abbr title="Para que funcione los efectos de cada componente predeterminado de la web"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  <b>import {{c}} BrowserAnimationsModule } from '@angular/platform-browser/animations';
  import {{c}} MatSliderModule } from '@angular/material/slider';
  import {{c}} MatCardModule } from '@angular/material/card';
  import {{c}} MatButtonModule } from '@angular/material/button';
  import {{c}} MatMenuModule } from '@angular/material/menu';
  import {{c}} MatToolbarModule } from '@angular/material/toolbar';
  import {{c}} MatIconModule } from '@angular/material/icon';
  import {{c}} MatGridListModule } from '@angular/material/grid-list';
  import {{c}} MatTableModule } from '@angular/material/table';
  import {{c}} MatPaginatorModule } from '@angular/material/paginator';
  import {{c}} MatFormFieldModule } from '@angular/material/form-field';
  import {{c}} MatInputModule } from '@angular/material/input';
  import {{c}} MatChipsModule } from '@angular/material/chips';    </b>      

  @NgModule({{c}}
      declarations: [
        AppComponent,
        HomeComponent,
        ErrorComponent,
        PieComponent,
        CabeceraComponent
      ],
      imports: [
        BrowserModule,
        routing<b>,
          //Buscar
        <b>FormsModule,</b>   <abbr title="Para coger y soltar datos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        //Buscar - Mostrar
        HttpClientModule</b>   <abbr title="Para usar la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        //Mostrar - Angular Material   <abbr title="Para que funcione los efectos de cada componente predeterminado de la web usando la librería de Material Angular"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        <b>BrowserAnimationsModule,
          MatSliderModule,
          MatCardModule,
          MatButtonModule,
          MatMenuModule,
          MatToolbarModule,
          MatIconModule,
          MatGridListModule,
          MatTableModule,
          MatPaginatorModule,
          MatFormFieldModule,
          MatInputModule,
          MatChipsModule</b>
      ],
       providers: [
        appRoutingProviders
       ],
        bootstrap: [AppComponent]
   })
    export class AppModule {{c}} }</pre>
        </div>
    </div>
    <div class="card text-dark bg-danger m-3">
      <div class="card-header">
          <pre class="card-text text-center blanco"><h3>Servicio</h3></pre>
      </div>
      <div class="card-body">
          <pre class="card-text blanco">import {{c}} Injectable } from '@angular/core';
<b>import {{c}} HttpClient   <abbr title="Usado para llamar a la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>} from '@angular/common/http</b>

@Injectable({{c}}
  providedIn: 'root'
})
export class PokemonService {{c}}

  <b>private url <abbr title="Metemos la dirección estática de la API en una variable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>: string = "https://pokeapi.co/api/v2/pokemon"</b>

  constructor( <b>private http   <abbr title="Metemos en una variable para usar la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> : HttpClient</b> ) {{c}} }


  <b>getPokemon( <abbr title="Creamos función para llamar a la API especificando el nombre (name) u otro atributo que queremos buscar en ella"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> nameIndex <abbr title="Da igual si ponemos index o name, porque cogerá lo que pongamos, si ponemos número nos coge la id y nos muestra, si ponemos nombre, nos coge el name y muetra igualmente, al tener dos propiedades coge una u otra según coincida"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>){{c}}</b>
    
    // return this.http.get(this.url + nameIndex)  <abbr title="Antigua forma"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    <b>return this.http.get <abbr title="Coge la dirección (API)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> (`${{c}}this.url}/${{c}}nameIndex}`)  <abbr title="direcciónESTÁTICA/direcciónESPECÍFICA_o_PARÁMETRO"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>
}</pre>
      </div>
  </div>
</div>

        </div>

        <div class="tab-pane fade" id="v-pills-dpokemonangular0" role="tabpanel" aria-labelledby="v-pills-dpokemonangular0-tab"><app-pokemonbuscar></app-pokemonbuscar>

<div class="card-group">
    <div class="card text-dark bg-primary m-3">
        <div class="card-header">
            <pre class="card-text text-center"><h3>Ts</h3></pre>
        </div>
        <div class="card-body">
          <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
<b>import {{c}} PokemonService   <abbr title="Servicio para llamar a la API y usarla"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> } from './service/pokemon.service';</b>

@Component({{c}}
  selector: 'app-pokemonangular',
  templateUrl: './pokemonangular.component.html',
  styleUrls: ['./pokemonangular.component.css']
})
export class PokemonangularComponent implements OnInit {{c}}

  <b>nombreDelPokemon: string   <abbr title="Variable que recibe el nombre en el Html (mismo nombre en ambos sitios) y lo manda al servicio para buscar el pokemon en la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></b>

 <b> urlImage: string   <abbr title="Variable para meter la imagen que recibimos de la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></b>

  <b>error2: string;</b>   <abbr title="Variable para mostrar el error en la consola o html"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  <b>error3: boolean = false;</b>   <abbr title="Variable para mostrar el error pero en boolean, ya que si hay error (true) o no (false)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  constructor( <b>private pokemonService:PokemonService</b>   <abbr title="Metemos en la variable para usar el servicio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>) {{c}} }

  ngOnInit(): void {{c}}
  }

<b>  search(){{c}}

    this.pokemonService.getPokemon(this.nombreDelPokemon).subscribe(   <abbr title="La variable llama a la función que está en el servicio y nos SUBSCRIBIMOS para obtener los datos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      
      (respuesta:any) => {{c}}   <abbr title="Recibimos un dato si todo es correcto y se realiza los datos que está dentro"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      console.log(respuesta)

      this.urlImage = respuesta.sprites.front_default   <abbr title="Metemos en la variable la imagen a través de la respuesta recibida (respuesta.) y los atributos (sprites.front_default) donde se encuentra ese dato en la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    },
    error => {{c}}   <abbr title="Recibimos un error al recibir los datos y se realiza los datos que está dentro"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      console.log(error.error);

      this.error2 = error.error   <abbr title="Nos muestra el error que obtenemos de la API, se usa dos veces error que es donde sale el error, depende de la API se pone más o menos error.error..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      this.error3 = true;   <abbr title="Nos muestra el error si es verdad. Al haber error (error=>) entra en esta parte y por eso lo inicializamos como true, pero ya como queramos inicializarlo, lo único que debe ser diferente a la declarada"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    }
    )
  }</b>
  
}</pre>
        </div>
    </div>
    <div class="card text-dark bg-warning m-3">
      <div class="card-header">
          <pre class="card-text text-center"><h3>Html</h3></pre>
      </div>
      <div class="card-body">
          <pre class="card-text">{{co}}p>Nombre{{co}}/p>

{{co}}input type="text" <b>{{t}}(ngModel)]="nombreDelPokemon"</b>>   <abbr title="nombreDelPokemon mismo nombre que en el Ts. [( Recibe y envía )]"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
{{co}}button <b>{{p}}click)="search()"</b>>Buscar{{co}}/button>   <abbr title="Al hacer click llama a la función del Ts -> Servicio -> API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

{{co}}img src="<b>{{c}}{{c}}urlImage}}</b>">   <abbr title="Variable urlImage del Ts definida como string. Mostramos la imagen obtenida"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

{{co}}br>
Error obtenido con variable string: <b>{{c}}{{c}}error2}}</b>   <abbr title="Variable error2 del Ts definida como string"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
{{co}}br>
Error obtenido con variable booblean: <b>{{c}}{{c}}error3}}</b> <abbr title="True si es error, False sino lo es. Variable error3 del Ts definida como boolean"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
      </div>
  </div>
</div>

        </div>


        <div class="tab-pane fade" id="v-pills-dpokemonangular1" role="tabpanel" aria-labelledby="v-pills-dpokemonangular1-tab">
<app-pokemontodos></app-pokemontodos>

          <div class="card-group">
            <div class="card text-dark m-3 bg-primary">
                <div class="card-body"><h3>Ts</h3>
                    <pre class="card-text">import {{c}} Component, OnInit, <b>ViewChild</b> } from '@angular/core';  <abbr title="Para controlar el Scroll y aparezca las demás páginas"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>import {{c}} PokemonService } from '../service/pokemon.service';  <abbr title="Conecta con el servidor para conectarse a la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
import {{c}} MatTableDataSource } from '@angular/material/table';  <abbr title="Para que funcione los efectos de cada componente predeterminado de la web usando la librería de Material Angular"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
import {{c}} MatPaginator } from '@angular/material/paginator';</b>  <abbr title="Para que funcione los efectos de cada componente predeterminado de la web usando la librería de Material Angular"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
 
@Component({{c}}
  selector: 'app-pokemontodos',
  templateUrl: './pokemontodos.component.html',
  styleUrls: ['./pokemontodos.component.css']
})
export class PokemontodosComponent implements OnInit {{c}}
        
  <b>displayedColumns: string[] = ['position', 'image', 'name'];  <abbr title="displayedColumns -> aparece en el html y es para definir los parámetros que vamos a mostrar, en este caso ('position', 'image', 'name')"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  data: any[] = [];  <abbr title="Dato inicializado en vacío "><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  dataSource = new MatTableDataSource{{co}}any>(this.data);
  pokemons = [];  <abbr title="Datos de pokemons inicializado en vacío"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  @ViewChild(MatPaginator, {{c}}static: true}) paginator: MatPaginator;

  error2: string;  <abbr title="Error por escrito como nos da el sistema o podemos personalizado..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  error3: boolean = false;</b>  <abbr title="Error boolean, si da error da true, sino da error false, o podemos ponerlo al revés"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  constructor( <b>private pokemonService:PokemonService</b> ) {{c}}  }  <abbr title="Conecta con el servidor para conectarse a la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

  ngOnInit(): void {{c}}
    <b>this.getPokemonTodos();</b>  <abbr title="Llamamos al método que llama a todos los pokemons"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }

  <b>getPokemonTodos(){{c}}  <abbr title="Llama a todos los pokemons"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    let pokemonData;  <abbr title="Variable que usaremos como objeto para sacar los datos que vamos a usar (posición (id), imagen (sprites.front_default) y nombre (name))"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    for (let i=1; i {{co}}= 898; i++ ){{c}}  <abbr title="Recorremos todos los pokemons que existen, sé que son 898 porque al poner 2000 me aparecía error de captura y el último era 899, probé algunos y ponía que no existía, y vi que ese era el último"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    this.pokemonService.getPokemon(i).subscribe(  <abbr title="Cogemos de la API a través del servicio cada pokemon"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      
      (respuesta:any) => {{c}}  <abbr title="Si todo es correcto, sale la información"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      // console.log(respuesta)

      pokemonData = {{c}}  <abbr title="Objeto que sacamos los datos de la API y lo metemos en los parámetros (position, image, name)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        position: respuesta.id,
        image: respuesta.sprites.front_default,  <abbr title="Dirección donde se encuentra la imagen, podemos coger otra dirección, la que nos guste, hay varias fotos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        name: respuesta.name,
      };
      this.data.push(pokemonData);  <abbr title="Metemos en la variable data los datos recibidos arriba y metidos en el objeto (pokemonData) con sus parámetros (position, image, name)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      this.dataSource = new MatTableDataSource{{co}}any>(this.data);
      this.dataSource.paginator = this.paginator;  <abbr title="Usado para poder paginar, para mostrar de 5-5... y alante o atrás que aparece en el html"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    },
    error => {{c}}  <abbr title="Mensajes de error si no se muestra por algo (no se captura u otro motivo) la API"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      console.log(error.error);

      this.error3 = true;  <abbr title="Error boolean, si da error da true, sino da error false, o podemos ponerlo al revés"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      this.error2 = error.error  <abbr title="Error por escrito como nos da el sistema o podemos personalizado..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    }
    );
  }

} 


applyFilter(event: Event) {{c}}  <abbr title="Filtro de búsqueda, según lo que pongamos nos busca por nombre, o id u otro"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  const filterValue = (event.target as HTMLInputElement).value;
  this.dataSource.filter = filterValue.trim().toLowerCase();  
}
</b>
  
}</pre>
                </div>
            </div>
            <div class="card text-dark m-3 bg-warning">
                <div class="card-body"><h3>Html</h3>
                    <pre class="card-text" style="color: white;">{{co}}mat-form-field appearance="standard">
  {{co}}mat-label>Filter{{co}}/mat-label>
  <b>{{co}}input matInput {{p}}keyup)<abbr title="Cuando escribimos se ejecuta"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>="applyFilter($event)"</b><abbr title="Función que se encuentra en el Ts y cogemos dato ($event) para buscar"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> placeholder="Ex. ium" #input>
{{co}}/mat-form-field>

{{co}}table mat-table <b>{{t}}dataSource]="dataSource"</b><abbr title="La variable (dataSource) se relaciona con el Ts y se encarga en buscar los pokemons que se encuentra en la APi a través del servicio para mostrarlos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> class="mat-elevation-z8">

  {{co}}ng-container matColumnDef="position">
    {{co}}th mat-header-cell *matHeaderCellDef> Posición {{co}}/th>
    {{co}}td mat-cell {{f}}matCellDef="<b>let element</b>"<abbr title="Declaramos la variable (element) para usarla y poderla relacionar con la API para mostrar cada dato como cuando usamos un for"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>> <b>{{c}}{{c}}element.position}}</b><abbr title="Muestra la id"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> {{co}}/td>
  {{co}}/ng-container>

  {{co}}ng-container matColumnDef="image">
    {{co}}th mat-header-cell *matHeaderCellDef> Imagen {{co}}/th>
    {{co}}td mat-cell {{f}}matCellDef="<b>let element</b>"> 
      {{co}}img src="<b>{{c}}{{c}}element.image}}</b>"<abbr title="Muestra la imagen"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> alt="<b>{{c}}{{c}}element.name}}</b>"> {{co}}/td>
  {{co}}/ng-container>

  {{co}}ng-container matColumnDef="name">
    {{co}}th mat-header-cell *matHeaderCellDef> Name {{co}}/th>
    {{co}}td mat-cell {{f}}matCellDef="<b>let element</b>"> <b>{{c}}{{c}}element.name}}</b> <abbr title="Muestra el nombre"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{{co}}/td>
  {{co}}/ng-container>

  {{co}}tr mat-header-row {{f}}matHeaderRowDef="displayedColumns">{{co}}/tr>
  {{co}}tr mat-row {{f}}matRowDef="let row; columns: displayedColumns;">{{co}}/tr>

  {{co}}!-- Row shown when there is no matching data. -->
  {{co}}tr class="mat-row" *matNoDataRow>
    {{co}}td class="mat-cell" colspan="4">No data matching the filter "<b>{{c}}{{c}}input.value}}</b>"{{co}}/td> <abbr title="Sino hay datos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{co}}/tr>
{{co}}/table>

{{co}}mat-paginator <b>{{t}}pageSizeOptions]="[5, 10, 20]" showFirstLastButtons</b>>{{co}}/mat-paginator></pre>  <abbr title="Muestra la paginación (Muestra de 5-5, 10-10 o 20-20. Primer elemento - Un elemento atrás - Un elemento alante - Último elemento)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                </div>
           
            </div>
        </div>

        </div>
        <div class="tab-pane fade" id="v-pills-dpokemonangular2" role="tabpanel" aria-labelledby="v-pills-dpokemonangular2-tab">
            
            <div class="card-group">
                <div class="card text-dark bg-dark m-3" >
                    <div class="card-body">
                      <pre class="card-text">x</pre>
                    </div>
                  </div>
              </div>

        </div>


        

  </div>

<!-- REALIZAR MÁS COSAS COMO LLAMAR TODO Y ENTRAR EN UNO -->

