<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Linux</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mac</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <div class="card-group">
                    <div class="card text-white bg-primary m-3">
                        <div class="card-body">
                            <pre class="card-text"><b><ol><li><em>sudo apt install curl</em></li>
<li><em>curl -sL https://deb.nodesource.com/setup_10.x | sudo bash </em></li>
<li><em>curl -sL https://deb.nodesource.com/setup_8.x | sudo bash -</em></li>
<li><em>sudo apt install nodejs</em></li></ol></b></pre>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                <div class="card-group">
                    <div class="card text-white bg-primary m-3">
                        <div class="card-body">
                            <pre class="card-text"><b><ul><li>Opción 1 - Igual que windows</li>
<li>Opción 2 - Usando Homebrew<ul>
            <li><b>Si no tiene Homebrew</b> -> <em>/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</em></li>
            <li><em>brew install node</em></li></ul></ul></b></pre>
                        </div>
                    </div>
                </div>


            </div>


        </div>