<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-letrashtml-tab" data-toggle="pill" href="#pills-letrashtml" role="tab" aria-controls="pills-letrashtml" aria-selected="true" style="color: black;">Título</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-letrashtml0-tab" data-toggle="pill" href="#pills-letrashtml0" role="tab" aria-controls="pills-letrashtml0" aria-selected="false" style="color: black;">Párrafo<br></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml1-tab" data-toggle="pill" href="#pills-letrashtml1" role="tab" aria-controls="pills-letrashtml1" aria-selected="false" style="color: black;">Negrita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml2-tab" data-toggle="pill" href="#pills-letrashtml2" role="tab" aria-controls="pills-letrashtml2" aria-selected="false" style="color: black;">Cursiva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml3-tab" data-toggle="pill" href="#pills-letrashtml3" role="tab" aria-controls="pills-letrashtml3" aria-selected="false" style="color: black;">Subrayado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml4-tab" data-toggle="pill" href="#pills-letrashtml4" role="tab" aria-controls="pills-letrashtml4" aria-selected="false" style="color: black;">Tachado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml5-tab" data-toggle="pill" href="#pills-letrashtml5" role="tab" aria-controls="pills-letrashtml5" aria-selected="false" style="color: black;">Sub-/Super-<br>Índice</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml6-tab" data-toggle="pill" href="#pills-letrashtml6" role="tab" aria-controls="pills-letrashtml6" aria-selected="false" style="color: black;">Significado</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml7-tab" data-toggle="pill" href="#pills-letrashtml7" role="tab" aria-controls="pills-letrashtml7" aria-selected="false" style="color: black;">Al revés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml8-tab" data-toggle="pill" href="#pills-letrashtml8" role="tab" aria-controls="pills-letrashtml8" aria-selected="false" style="color: black;">Pequeña</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml9-tab" data-toggle="pill" href="#pills-letrashtml9" role="tab" aria-controls="pills-letrashtml9" aria-selected="false" style="color: black;">Código</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml10-tab" data-toggle="pill" href="#pills-letrashtml10" role="tab" aria-controls="pills-letrashtml10" aria-selected="false" style="color: black;">Variables<br>Matemáticas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml11-tab" data-toggle="pill" href="#pills-letrashtml11" role="tab" aria-controls="pills-letrashtml11" aria-selected="false" style="color: black;">Envolver</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtml12-tab" data-toggle="pill" href="#pills-letrashtml12" role="tab" aria-controls="pills-letrashtml12" aria-selected="false" style="color: black;">Ordenador</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-letrashtmlx-tab" data-toggle="pill" href="#pills-letrashtmlx" role="tab" aria-controls="pills-letrashtmlx" aria-selected="false" style="color: black;">Lista</a>
    </li>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-letrashtml" role="tabpanel" aria-labelledby="pills-letrashtml-tab">
 
        <h1>Título</h1>             <!--h1 (más grande) al h6 (más pequeño)-->
<br><br>

 <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}h1>Título{{co}}/h1>             {{co}}!--h1 (más grande) al h6 (más pequeño)--></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
 


</div>

<div class="tab-pane fade" id="pills-letrashtml0" role="tabpanel" aria-labelledby="pills-letrashtml0-tab">
 
    <p>No mantiene el salto de línea que elijamos, lo pone automáticamente donde le parece
        La pre si mantiene el salto de línea</p>
<hr>
<pre>Mantiene el salto de línea que elijamos
        La p de párrafo lo pone automáticamente donde le parece</pre>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
    <b>{{co}}p>No mantiene el salto de línea que elijamos, lo pone automáticamente donde le parece
                            La pre si mantiene el salto de línea{{co}}/p>
    {{co}}pre>Mantiene el salto de línea que elijamos
                            La p de párrafo lo pone automáticamente donde le parece{{co}}/pre></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
 


</div>

<div class="tab-pane fade" id="pills-letrashtml1" role="tabpanel" aria-labelledby="pills-letrashtml1-tab">
 
    <em>Negrita</em>
<hr>
<b>Negrita 2</b>
<hr>
<strong>Negrita más fuerte que b</strong>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}em>Negrita{{co}}/em></b>
        <b>{{co}}b>Negrita 2{{co}}/b></b>
        <b>{{co}}strong>Negrita más fuerte que b{{co}}/strong></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
 


</div>

<div class="tab-pane fade" id="pills-letrashtml2" role="tabpanel" aria-labelledby="pills-letrashtml2-tab">
 
    <i>Cursiva</i>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}i>Cursiva{{co}}/i></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
 


</div>

<div class="tab-pane fade" id="pills-letrashtml3" role="tabpanel" aria-labelledby="pills-letrashtml3-tab">
  
    <u>Subrayado</u>
<hr>
<ins>Subrayado 2</ins>
<hr>
<mark>Subrayado por rotulador</mark>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}u>Subrayado{{co}}/u>
        {{co}}ins>Subrayado 2{{co}}/ins>
        {{co}}mark>Subrayado por rotulador{{co}}/mark></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
  


</div>

<div class="tab-pane fade" id="pills-letrashtml4" role="tabpanel" aria-labelledby="pills-letrashtml4-tab">
 
    <del>Tachado</del>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}del>Tachado{{co}}/del></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
 


</div>

<div class="tab-pane fade" id="pills-letrashtml5" role="tabpanel" aria-labelledby="pills-letrashtml5-tab">

    Letra por <sub>debajo</sub>
<hr>
Letra por<sup> encima</sup>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>Letra por{{co}}sub>debajo{{co}}/sub>
        Letra por{{co}}sup> encima{{co}}/sup></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 



</div>

<div class="tab-pane fade" id="pills-letrashtml6" role="tabpanel" aria-labelledby="pills-letrashtml6-tab">
 
    <abbr title="SIGNIFICADO de PALABRA">PALABRA (Poner ratón encima)</abbr>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}abbr title="SIGNIFICADO de PALABRA">PALABRA (Poner ratón encima){{co}}/abbr></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>  
 


</div>

<div class="tab-pane fade" id="pills-letrashtml7" role="tabpanel" aria-labelledby="pills-letrashtml7-tab">
  
    <bdo dir="rtl">Palabra al revés</bdo>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}bdo dir="rtl">Palabra al revés{{co}}/bdo></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>  
  


</div>

<div class="tab-pane fade" id="pills-letrashtml8" role="tabpanel" aria-labelledby="pills-letrashtml8-tab">
  
    <small>Letra pequeña</small>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}small>Letra pequeña{{co}}/small></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>   


</div>

<div class="tab-pane fade" id="pills-letrashtml9" role="tabpanel" aria-labelledby="pills-letrashtml9-tab">
  
    <code>Código</code>
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}code>Código{{co}}/code></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>    
  


</div>

<div class="tab-pane fade" id="pills-letrashtml10" role="tabpanel" aria-labelledby="pills-letrashtml10-tab">
  
    <pre><var>y</var>=<var>m</var><var>x</var>+<var>b</var></pre>           <!--Representa variables matemáticas-->
<br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}pre>{{co}}var>y{{co}}/var>={{co}}var>m{{co}}/var>{{co}}var>x{{co}}/var>+{{co}}var>b{{co}}/var>{{co}}/pre>           {{co}}!--Representa variables matemáticas--></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>    
  


</div>

<div class="tab-pane fade" id="pills-letrashtml11" role="tabpanel" aria-labelledby="pills-letrashtml11-tab">

    <kbd>cd</kbd>       <!--Sobresaltar, aparecen envuelta en negro y las letras en blanco-->
    <hr>
    <kbd><kbd>Ctrl</kbd>+<kbd>k</kbd></kbd>     <!--Englobamos con <kbd> todo el grupo y por separado Ctrl y k, se envuelve todo uniforme-->
    <hr>
    <kbd>Ctrl+k</kbd>       <!--Englobamos con <kbd> todo el grupo y no también por separado Ctrl y k, se envuelve todo pero más estrechamente-->
    <hr>
    <pre><kbd>Ctrl</kbd><kbd>+</kbd><kbd>k</kbd></pre>     <!--Englobamos cada elemento, envuelve todo pero hay pequeños saltos entre ellos-->
    <hr>
    <pre><kbd>Ctrl</kbd>+<kbd>k</kbd></pre>        <!--Englobamos Ctrl y k, no <kbd> +, se queda fuera el + -->
    <br><br>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}kbd>cd{{co}}/kbd>                                                          {{co}}!--Sobresaltar, aparecen envuelta en negro y las letras en blanco-->
        {{co}}kbd>{{co}}kbd>Ctrl{{co}}/kbd>+{{co}}kbd>k{{co}}/kbd>{{co}}/kbd>                                {{co}}!--Englobamos con {{co}}kbd> todo el grupo y por separado Ctrl y k, se envuelve todo uniforme-->
        {{co}}kbd>Ctrl+k{{co}}/kbd>                                                      {{co}}!--Englobamos con {{co}}kbd> todo el grupo y no también por separado Ctrl y k, se envuelve todo pero más estrechamente-->
        {{co}}pre>{{co}}kbd>Ctrl{{co}}/kbd>{{co}}kbd>+{{co}}/kbd>{{co}}kbd>k{{co}}/kbd>{{co}}/pre>                     {{co}}!--Englobamos cada elemento, envuelve todo pero hay pequeños saltos entre ellos-->
        {{co}}pre>{{co}}kbd>Ctrl{{co}}/kbd>+{{co}}kbd>k{{co}}/kbd>{{co}}/pre>                                {{co}}!--Englobamos Ctrl y k, no {{co}}kbd> +, se queda fuera el + --></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>       
  


</div>

<div class="tab-pane fade" id="pills-letrashtml12" role="tabpanel" aria-labelledby="pills-letrashtml12-tab">

    <samp>Representa texto sacado de un pc</samp>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}samp>Representa texto sacado de un pc{{co}}/samp></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>       



<br><br>
</div>



<div class="tab-pane fade" id="pills-letrashtmlx" role="tabpanel" aria-labelledby="pills-letrashtmlx-tab">

  <h3>Puntos</h3>
<ul>
    <li>Lista con puntos</li>
</ul>
<hr>
<ul>
    <li>Lista con puntos 1º Nivel</li>
    <ul>
        <li>Lista con puntos 2º Nivel</li>
        <ul>
            <li>Lista con puntos 3º Nivel</li>
        </ul>
    </ul>
</ul>

    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}ul>
            {{co}}li>Lista con puntos{{co}}/li>
        {{co}}/ul>

        {{co}}ul>
            {{co}}li>Lista con puntos 1º Nivel{{co}}/li>
            {{co}}ul>
                {{co}}li>Lista con puntos 2º Nivel{{co}}/li>
                {{co}}ul>
                    {{co}}li>Lista con puntos 3º Nivel{{co}}/li>
                {{co}}/ul>
            {{co}}/ul>
        {{co}}/ul></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 
 




<h3>Números</h3>
<ol>
    <li>Lista con números por defecto</li>
</ol>
<hr>
<ol type="1">
    <li>Lista con números especificando que es de números</li>
</ol>
<hr>
<ol type="1" start=15>  <!--Start -> Número que debe empezar, es OPCIONAL-->
    <li>Lista con números especificando que es de números y por el que empieza</li>
</ol>
<hr>
<ol type="1" reversed="reversed">
    <li>Lista invertida 1º Elemento escrito</li>
    <li>Lista invertida 2º Elemento escrito</li>
</ol>
   <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}ol>
            {{co}}li>Lista con números por defecto{{co}}/li>
        {{co}}/ol>

        {{co}}ol type="1">
            {{co}}li>Lista con números especificando que es de números{{co}}/li>
        {{co}}/ol>
    
        {{co}}ol type="1" start=15>             {{co}}!--Start -> Número que debe empezar, es OPCIONAL-->
            {{co}}li>Lista con números especificando que es de números y por el que empieza{{co}}/li>
        {{co}}/ol>
    
        {{co}}ol type="1" reversed="reversed">
            {{co}}li>Lista invertida 1º Elemento escrito{{co}}/li>
            {{co}}li>Lista invertida 2º Elemento escrito{{co}}/li>
        {{co}}/ol></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 





<h3>Letras</h3>
<ol type="A">
    <li>Lista con letras mayúscula especificando que es de letras mayúscula</li>
</ol>
<hr>
<ol type="a">
    <li>Lista con letras minúscula especificando que es de letras minúscula</li>
</ol>
<hr>
<ol type="A" start="5">  <!--Start -> Letra que debe empezar, se pone la posición en número, es OPCIONAL-->
    <li>Lista con letras mayúscula especificando que es de letras mayúscula y por el que empieza</li>
</ol>
<hr>
<ol type="a" reversed="reversed">
    <li>Lista invertida 1º Elemento escrito</li>
    <li>Lista invertida 2º Elemento escrito</li>
</ol>
    <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}ol type="A">
            {{co}}li>Lista con letras mayúscula especificando que es de letras mayúscula{{co}}/li>
        {{co}}/ol>
        
        {{co}}ol type="a">
            {{co}}li>Lista con letras minúscula especificando que es de letras minúscula{{co}}/li>
        {{co}}/ol>
        
        {{co}}ol type="A" start="5">             {{co}}!--Start -> Letra que debe empezar, se pone la posición en número, es OPCIONAL-->
            {{co}}li>Lista con letras mayúscula especificando que es de letras mayúscula y por el que empieza{{co}}/li>
        {{co}}/ol>

        {{co}}ol type="a" reversed="reversed">
            {{co}}li>Lista invertida 1º Elemento escrito{{co}}/li>
            {{co}}li>Lista invertida 2º Elemento escrito{{co}}/li>
        {{co}}/ol></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 




<h3>Romano</h3>
<ol type="I">
    <li>Lista con letras romanas especificando que es en mayúscula</li>
</ol>
<hr>
<ol type="i">
    <li>Lista con letras romanas especificando que es en minúscula</li>
</ol>
<hr>
<ol type="I" start="10">             <!--Start -> Letra romana que debe empezar, se pone la posición en número, es OPCIONAL-->
    <li>Lista con letras romanas especificando que es en mayúscula y por el que empieza</li>
</ol>
<hr>
<ol type="I" reversed="reversed">
    <li>Lista invertida 1º Elemento escrito</li>
    <li>Lista invertida 2º Elemento escrito</li>
</ol>

 <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}ol type="I">
            {{co}}li>Lista con letras romanas especificando que es en mayúscula{{co}}/li>
        {{co}}/ol>
        
        {{co}}ol type="i">
            {{co}}li>Lista con letras romanas especificando que es en minúscula{{co}}/li>
        {{co}}/ol>
        
        {{co}}ol type="I" start="10">             {{co}}!--Start -> Letra romana que debe empezar, se pone la posición en número, es OPCIONAL-->
            {{co}}li>Lista con letras romanas especificando que es en mayúscula y por el que empieza{{co}}/li>
        {{co}}/ol>
        {{co}}ol type="I" reversed="reversed">
            {{co}}li>Lista invertida 1º Elemento escrito{{co}}/li>
            {{co}}li>Lista invertida 2º Elemento escrito{{co}}/li>
        {{co}}/ol></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 



      <h3>Sublista</h3>
<dl>
    <dt>Lista (Artículo)</dt>
    <dd>Sublista (Descripción del artículo)</dd>
</dl>


              <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}dl>
            {{co}}dt>Lista (Artículo){{co}}/dt>
            {{co}}dd>Sublista (Descripción del artículo){{co}}/dd>
        {{co}}/dl></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div> 



</div>



</div>