<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-position-tab" data-toggle="pill" href="#pills-position" role="tab" aria-controls="pills-position" aria-selected="true" style="color: black;"><b>position:</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-position0-tab" data-toggle="pill" href="#pills-position0" role="tab" aria-controls="pills-position0" aria-selected="false" style="color: black;">'top'</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-position1-tab" data-toggle="pill" href="#pills-position1" role="tab" aria-controls="pills-position1" aria-selected="false" style="color: black;">'top-start' </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-position2-tab" data-toggle="pill" href="#pills-position2" role="tab" aria-controls="pills-position2" aria-selected="false" style="color: black;">'top-end'</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-position3-tab" data-toggle="pill" href="#pills-position3" role="tab" aria-controls="pills-position3" aria-selected="true" style="color: black;">'center'</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-position4-tab" data-toggle="pill" href="#pills-position4" role="tab" aria-controls="pills-position4" aria-selected="false" style="color: black;">'center-start'</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-position5-tab" data-toggle="pill" href="#pills-position5" role="tab" aria-controls="pills-position5" aria-selected="false" style="color: black;">'center-end'</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-position6-tab" data-toggle="pill" href="#pills-position6" role="tab" aria-controls="pills-position6" aria-selected="false" style="color: black;">'bottom'</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-position7-tab" data-toggle="pill" href="#pills-position7" role="tab" aria-controls="pills-position7" aria-selected="false" style="color: black;">'bottom-start'</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-position8-tab" data-toggle="pill" href="#pills-position8" role="tab" aria-controls="pills-position8" aria-selected="false" style="color: black;">'bottom-end'</a>
      </li>
  </ul>
  
  <div class="tab-content cuadro" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-position" role="tabpanel" aria-labelledby="pills-position-tab">
       
    </div>
  
    <div class="tab-pane fade" id="pills-position0" role="tabpanel" aria-labelledby="pills-position0-tab">
        Arriba en el centro
    </div>
  
    <div class="tab-pane fade" id="pills-position1" role="tabpanel" aria-labelledby="pills-position1-tab">
        Arriba a la izquierda
    </div>

    <div class="tab-pane fade" id="pills-position2" role="tabpanel" aria-labelledby="pills-position2-tab">
        Arriba a la derecha
    </div>

    <div class="tab-pane fade" id="pills-position3" role="tabpanel" aria-labelledby="pills-position3-tab">
        Centro
    </div>
    <div class="tab-pane fade" id="pills-position4" role="tabpanel" aria-labelledby="pills-position4-tab">
        Centro a la izquierda
    </div>

    <div class="tab-pane fade" id="pills-position5" role="tabpanel" aria-labelledby="pills-position5-tab">
        Centro a la derecha
    </div>
    <div class="tab-pane fade" id="pills-position6" role="tabpanel" aria-labelledby="pills-position6-tab">
        Abajo en el centro
    </div>
    <div class="tab-pane fade" id="pills-position7" role="tabpanel" aria-labelledby="pills-position7-tab">
        Abajo a la izquierda
    </div>
    <div class="tab-pane fade" id="pills-position8" role="tabpanel" aria-labelledby="pills-position8-tab">
        Abajo a la derecha
    </div>
