<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-botonhtml-tab" data-toggle="pill" href="#pills-botonhtml" role="tab" aria-controls="pills-botonhtml" aria-selected="true" style="color: black;">Almacena<br>datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-botonhtml0-tab" data-toggle="pill" href="#pills-botonhtml0" role="tab" aria-controls="pills-botonhtml0" aria-selected="false" style="color: black;">Subir<br>datos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-botonhtml1-tab" data-toggle="pill" href="#pills-botonhtml1" role="tab" aria-controls="pills-botonhtml1" aria-selected="false" style="color: black;">Borrar<br>datos</a>
    </li>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-botonhtml" role="tabpanel" aria-labelledby="pills-botonhtml-tab">
 
        <button type="button" name="" id="">Botón almacena</button>
                  <!--Name: Almacena información-->

  <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}button type="button" name="" id="">Botón almacena{{co}}/button>
                          {{co}}!--Name: Almacena información--></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>  
 


    </div>
  
    <div class="tab-pane fade" id="pills-botonhtml0" role="tabpanel" aria-labelledby="pills-botonhtml0-tab">
 
        <button type="submit" name="" id="">Botón subir datos</button>

   <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}button type="submit" name="" id="">Botón subir datos{{co}}/button></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>  
 


    </div>

    <div class="tab-pane fade" id="pills-botonhtml1" role="tabpanel" aria-labelledby="pills-botonhtml1-tab">
        
        <button type="reset" name="" id="">Botón borrar datos antes de enviar</button>

 <div class="card-group">
        <div class="card text-dark bg-warning m-3" >
            <div class="card-body">
              <pre class="card-text">{{co}}!DOCTYPE html>
{{co}}html lang="en">
    {{co}}head> 
    {{co}}meta charset="UTF-8">
        {{co}}meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{co}}title>Título de pestaña{{co}}/title>
    {{co}}/head>
    {{co}}body>
        <b>{{co}}button type="reset" name="" id="">Botón borrar datos antes de enviar{{co}}/button></b>
    {{co}}/body>
{{co}}/html></pre>
            </div>
          </div>
      </div>  



    </div>

</div>  