<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-instalacionangular-tab" data-toggle="pill" href="#pills-instalacionangular" role="tab" aria-controls="pills-instalacionangular" aria-selected="true" style="color: black;">NodeJS<br><small>(Programa necesario)</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular0-tab" data-toggle="pill" href="#pills-instalacionangular0" role="tab" aria-controls="pills-instalacionangular0" aria-selected="false" style="color: black;">Angular</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular3-tab" data-toggle="pill" href="#pills-instalacionangular3" role="tab" aria-controls="pills-instalacionangular3" aria-selected="false" style="color: black;">Proyecto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular5-tab" data-toggle="pill" href="#pills-instalacionangular5" role="tab" aria-controls="pills-instalacionangular5" aria-selected="false" style="color: black;">Componente</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular6-tab" data-toggle="pill" href="#pills-instalacionangular6" role="tab" aria-controls="pills-instalacionangular6" aria-selected="false" style="color: black;">App.routing<br>App.routes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular7-tab" data-toggle="pill" href="#pills-instalacionangular7" role="tab" aria-controls="pills-instalacionangular7" aria-selected="false" style="color: black;">App.modules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular4-tab" data-toggle="pill" href="#pills-instalacionangular4" role="tab" aria-controls="pills-instalacionangular4" aria-selected="false" style="color: black;">Servicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular8-tab" data-toggle="pill" href="#pills-instalacionangular8" role="tab" aria-controls="pills-instalacionangular8" aria-selected="false" style="color: black;">Model</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangularx-tab" data-toggle="pill" href="#pills-instalacionangularx" role="tab" aria-controls="pills-instalacionangularx" aria-selected="false" style="color: black;">Pipe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular10-tab" data-toggle="pill" href="#pills-instalacionangular10" role="tab" aria-controls="pills-instalacionangular10" aria-selected="false" style="color: black;">Directiva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular9-tab" data-toggle="pill" href="#pills-instalacionangular9" role="tab" aria-controls="pills-instalacionangular9" aria-selected="false" style="color: black;">Guard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular11-tab" data-toggle="pill" href="#pills-instalacionangular11" role="tab" aria-controls="pills-instalacionangular11" aria-selected="false" style="color: black;">Extensiones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-instalacionangular2-tab" data-toggle="pill" href="#pills-instalacionangular2" role="tab" aria-controls="pills-instalacionangular2" aria-selected="false" style="color: black;">Compartir</a>
    </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-instalacionangular" role="tabpanel" aria-labelledby="pills-instalacionangular-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b><a href="https://nodejs.org/es/"><u>Descargar</u></a></b> <small> -> La más recomendable (14.9.0 Actual)</small> e <b>Instalar</b> -> <small>(node-v14.9.0-x64.msi)</small></li>
<li><b>node –v</b> -> <b>Ver versión</b></li>
<li><b>Si tenemos problema</b> -> En el buscador de windows ponemos -> <abbr title="o simplemente ponemos variable y nos aparecerá lo escrito aquí">Edita las variables de entorno del sistema</abbr>:
    <em>Opciones avanzada</em> -> <em>Variable de entorno</em>
    <em>Path</em> -> <em>Editar</em> -> <em>Nuevo</em> -> Escribimos la dirección donde esté el <i>bin</i> del <i>NodeJS</i></li></ul></pre>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="pills-instalacionangular0" role="tabpanel" aria-labelledby="pills-instalacionangular0-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>npm install -g @angular/cli</b> -> <u>Última versión</u><small>   (<abbr title="Global - Afecta a TODOS los proyectos">-g</abbr> / <abbr title="Local - Afecta SOLO al proyecto">Sin -g</abbr> -> Necesita ejecutar administrador en consola)</small></li>
    <li><b>npm install –g @angular/cli@número</b> -> <u>Elegir versión</u> <small>(número = 7.3.9 u 8 o 9 o ...)</small></li>
</ul><ul><b>VER VERSIÓN</b>
    <li><b>ng --version</b> o <b>ng version</b> o <b>ng v</b> -> <u>Ver versión</u></li></ul></pre>
                </div>
            </div>
        </div>


        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h3>Actualizar (<abbr title="Manual versión subida/bajada"><a href="https://update.angular.io">Web</a></abbr>)</h3>
                    <pre class="card-text"><ul><li><b>ng update @angular/cli@número @angular/core@número</b> -> <u>Upgrade</u> <small>(número = 10 o ...)</small></li>
<li><b>ng --version</b> -> <u>Con detalles</u></li></ul></pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h3>Desactualizar (<abbr title="Manual versión subida/bajada"><a href="https://update.angular.io">Web</a></abbr>)</h3>
                    <pre class="card-text"><ol><li><b>npm uninstall -g @angular/cli</b> -> <u>Desinstalar</u></li>
<li><b>npm cache verify</b> -> <u>Verificar</u></li>
<li><b>npm install –g @angular/cli@número</b> -> <u>Instalar</u><small>(número = 7.3.9 u 8 o 9 o ...)</small></li></ol>
<ul><li><b>ng --version</b> -> <u>Ver versión</u></li></ul></pre>
                </div>
            </div>
        </div>


    </div>

    <div class="tab-pane fade" id="pills-instalacionangular2" role="tabpanel" aria-labelledby="pills-instalacionangular2-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ol><li><b>Enviar proyecto</b> sin node_module.<small> Porque pesa mucho</small></li>
<li><b>Recibir proyecto</b>. Obtener node_module -> <b>npm install</b> (dentro del proyecto)</li></ol></pre>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-pane fade" id="pills-instalacionangular11" role="tabpanel" aria-labelledby="pills-instalacionangular11-tab"><app-extensiones></app-extensiones></div>

    <div class="tab-pane fade" id="pills-instalacionangular3" role="tabpanel" aria-labelledby="pills-instalacionangular3-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ol><li><b>ng new</b> Nombre_proyecto (Incluye node_modules)</li>
<li><b>routing</b> (n (No queremos que sea automático)</li>
<li><b>CSS</b></li></ol></pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Detalles de la instalación</h4>
                    <pre class="card-text"><b>npm audit</b></pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Solucionar errores</h4>
                    <pre class="card-text"><ol><li><b>PoweShell como administrador</b></li>
<li><b>Set-ExecutionPolicy Unrestricted</b></li>
<li>s (si)</li>
<li>intro</li></ol></pre>
                </div>
            </div>
        </div>


    </div>





    <div class="tab-pane fade" id="pills-instalacionangular5" role="tabpanel" aria-labelledby="pills-instalacionangular5-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><b><ul><li>ng generate component nombre_carpeta/nombre_componente</li>
<li>ng g c nombre_carpeta/nombre_componente</li></ul></b></pre>
                </div>
            </div>
        </div>


    </div>




    <div class="tab-pane fade" id="pills-instalacionangular6" role="tabpanel" aria-labelledby="pills-instalacionangular6-tab">

<ul>
    <li><u>Botón derecho</u> encima de app -> <u>New File</u> -> ponemos: app.routing.ts</li>
    <li>{{co}}router-outlet>{{co}}/router-outlet>: Añadimos en app.component.html para que funcione los enlaces</li>
</ul>

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Opción A <small>(Más usado - app.routing.ts)</small></h4>
                    <pre class="card-text">//Conexión con app.module.ts - Enlazar páginas - Relacionado al final de este archivo
<b>import {{c}} ModuleWithProviders } from '@angular/core';</b>

//Conexión con app.module.ts - Enlazar páginas   <abbr title="Routes: Relacionado en el 1º export  /  RouterModule: Relacionado en el último export (3º) que se relaciona con el module mediante (appRoutes) definido también en el export 1º"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>import {{c}} Routes, RouterModule } from '@angular/router';</b>

//Componentes - Automático
<b>import {{c}} AppComponent } from './app.component';</b>

//Componentes - Páginas añadir después de crearlas
import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>export <abbr title="Dentro de '' ponemos como vamos a llamar para enlazar con botones y enlaces, NombreComponent ponemos el componente creado y llamado arriba (import)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> const appRoutes: Routes = [</b>   <abbr title="xxx"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>//appRoutes: Relacionado con Routes especificado aquí y en el import
  //Componentes - Páginas añadir después de crearlas
  <b>{{c}} path: '', component: HomeComponent },</b>   <abbr title="Siempre va a HomeComponent cuando da errores los botones"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>             
  {{c}} path: 'home', component: HomeComponent},   <abbr title="Va al HomeComponent, se usa en enlaces (home)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: 'pie', component: PieComponent},   <abbr title="Va al PieComponent, se usa en enlaces (pie)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: 'cabecera', component: CabeceraComponent},   <abbr title="Va al CabeceraComponent, se usa en enlaces (cabecera)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Especiales
  <b>{{c}} path: 'appcomponente', component: AppComponent },</b>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 1
  <b>{{c}} path: '**', component: ErrorComponent},</b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al ErrorComponent (**)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 2
  <b>{{c}} path: '**', pathMatch: 'full', redirectTo: 'home'},</b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al HomeComponent home)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 3
  <b>{{c}} path: '**', component: HomeComponent } </b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al HomeComponent (**)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
];


//<b>Conexión con app.module.ts - Enlazar páginas</b> 
<b>export const appRoutingProviders: any[] = [];</b>   <abbr title="appRoutingProviders: Relacionado en module.ts llamado con import"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>export const routing: ModuleWithProviders = RouterModule.forRoot (appRoutes);</b>   <abbr title="routing: Relacionado en module.ts llamado con import / ModuleWithProviders y RouterModule: importado arriba / appRoutes: Usado en export 1º de arriba"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Opción B <small>(Menos usado - app.routes.ts)</small></h4>
                    <pre class="card-text">//Conexión con app.module.ts <abbr title="Routes: Relacionado en el 1º export  /  RouterModule: Relacionado en el último export (3º) que se relaciona con el module mediante (appRoutes) definido también en el export 1º"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>import {{c}} Routes, RouterModule } from '@angular/router';</b>

//Componentes - Automático
<b>import {{c}} AppComponent } from './app.component';</b>

//Componentes - Páginas añadir después de crearlas
import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

//<b>export <abbr title="Dentro de '' ponemos como vamos a llamar para enlazar con botones y enlaces, NombreComponent ponemos el componente creado y llamado arriba (import)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>const APP_ROUTES: Routes = [</b>   <abbr title="Si usamos useHash -> appRoutes: Relacionado con Routes especificado aquí y en el import"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>export <abbr title="Dentro de '' ponemos como vamos a llamar para enlazar con botones y enlaces, NombreComponent ponemos el componente creado y llamado arriba (import)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>const APP_ROUTES: Routes = [</b>   <abbr title="Si no usamos useHash -> appRoutes: Relacionado con Routes especificado aquí y en el import"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas
  <b>{{c}} path: '', component: HomeComponent },</b>   <abbr title="Siempre va a HomeComponent cuando da errores los botones  "><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>             
  {{c}} path: 'home', component: HomeComponent},   <abbr title="Va al HomeComponent, se usa en enlaces (home)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: 'pie', component: PieComponent},   <abbr title="Va al PieComponent, se usa en enlaces (pie)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: 'cabecera', component: CabeceraComponent},   <abbr title="Va al CabeceraComponent, se usa en enlaces (cabecera)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Especiales
  <b>{{c}} path: 'appcomponente', component: AppComponent },</b>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 1
  <b>{{c}} path: '**', component: ErrorComponent},</b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al ErrorComponent (**)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 2
  <b>{{c}} path: '**', pathMatch: 'full', redirectTo: 'home'},</b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al HomeComponent (home)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 3
  <b>{{c}} path: '**', component: HomeComponent } </b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al HomeComponent (**)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
];


//<b>Conexión con app.module.ts - Enlazar páginas</b>                                   
//<b>export const APP_ROUTING: RouterModule.forRoot(APP_ROUTES, {{c}} useHash:true });</b>   <abbr title="Usamos useHash. APP_ROUTING: Relacionado en module.ts llamado con import / RouterModule: importado arriba / APP_ROUTES: Usado en export 1º de arriba"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>export const APP_ROUTING: RouterModule.forRoot(APP_ROUTES);</b>    <abbr title="No usamos useHash. APP_ROUTING: Relacionado en module.ts llamado con import / RouterModule: importado arriba / APP_ROUTES: Usado en export 1º de arriba"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
        </div>




        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Opción C <small>(app.routes.ts - Solo rutas - Menos lioso)</small></h4>
                    <pre class="card-text">//Conexión con app.module.ts - Enlazar páginas - Routes: Relacionado en el 1º export
<b>import {{c}} Routes } from '@angular/router';</b>

//Componentes - Automático
<b>import {{c}} AppComponent } from './app.component';</b>

//Componentes - Páginas añadir después de crearlas
import {{c}} HomeComponent } from './paginas/home/home.component';
import {{c}} ErrorComponent } from './componentes/error/error.component';
import {{c}} PieComponent } from './componentes/pie/pie.component';
import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';

<b>export <abbr title="Dentro de '' ponemos como vamos a llamar para enlazar con botones y enlaces, NombreComponent ponemos el componente creado y llamado arriba (import)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> const ROUTES: Routes = [</b>                                  //ROUTES relacionado con module.ts
  //Componentes - Páginas añadir después de crearlas
  <b>{{c}} path: '', component: HomeComponent },</b>   <abbr title="Siempre va a HomeComponent cuando da errores los botones  "><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>             
  {{c}} path: 'home', component: HomeComponent},   <abbr title="Va al HomeComponent, se usa en enlaces (home)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: 'pie', component: PieComponent},   <abbr title="Va al PieComponent, se usa en enlaces (pie)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  {{c}} path: 'cabecera', component: CabeceraComponent},   <abbr title="Va al CabeceraComponent, se usa en enlaces (cabecera)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Especiales
  <b>{{c}} path: 'appcomponente', component: AppComponent },</b>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 1
  <b>{{c}} path: '**', component: ErrorComponent},</b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al ErrorComponent (**)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 2
  <b>{{c}} path: '**', pathMatch: 'full', redirectTo: 'home'},</b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al HomeComponent (home)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  //Componentes - Páginas añadir después de crearlas - Componentes Error - Opción 3
  <b>{{c}} path: '**', component: HomeComponent } </b>   <abbr title="Si introducimos mal en la barra de direcciones nos va al HomeComponent (**)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
];</pre>
                </div>
            </div>
        </div>


    </div>



    <div class="tab-pane fade" id="pills-instalacionangular7" role="tabpanel" aria-labelledby="pills-instalacionangular7-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Opción A - con app.routing.ts</h4>
                    <pre class="card-text">//<u><b>Ya creado</b>. Se <b>añade automáticamente</b> pero se <b>borra manualmente</b></u>
  import {{c}} BrowserModule } from '@angular/platform-browser';
  import {{c}} NgModule } from '@angular/core';

  //Conexión con app.routing.ts - Enlazar páginas
  <b>import {{c}} routing, appRoutingProviders } from './app.routing';</b>
  
  //Componentes - Automático
  import {{c}} AppComponent } from './app.component';

  //Componentes - Páginas añadir después de crearlas
  import {{c}} HomeComponent } from './paginas/home/home.component';
  import {{c}} ErrorComponent } from './componentes/error/error.component';
  import {{c}} PieComponent } from './componentes/pie/pie.component';
  import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';
  
  @NgModule({{c}}
      declarations: [
        //Por defecto
        AppComponent,
        //Componentes - Páginas añadir después de crearlas
        HomeComponent,
        ErrorComponent,
        PieComponent,
        CabeceraComponent
      ],
      imports: [
        //Por defecto
        BrowserModule,
        //Conexión con app.routing.ts - Enlazar páginas
        <b>routing</b>
      ],
       providers: [
        //Conexión con app.routing.ts - Enlazar páginas
        <b>appRoutingProviders</b>
       ],
        //Por <b>defecto</b> - Librería
        bootstrap: [AppComponent]
   })
    //Por <b>defecto</b>
    export class AppModule {{c}} }</pre>
                </div>
            </div>
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Opción B - con app.routes.ts</h4>
                    <pre class="card-text">//<u><b>Ya creado</b>. Se <b>añade automáticamente</b> pero se <b>borra manualmente</b></u>
  import {{c}} BrowserModule } from '@angular/platform-browser';
  import {{c}} NgModule } from '@angular/core';

  //Conexión con app.routes.ts - Enlazar páginas
  <b>import {{c}} APP_ROUTING } from './app.routes';</b>
  
  //Componentes - Automático
  import {{c}} AppComponent } from './app.component';

  //Componentes - Páginas añadir después de crearlas
  import {{c}} HomeComponent } from './paginas/home/home.component';
  import {{c}} ErrorComponent } from './componentes/error/error.component';
  import {{c}} PieComponent } from './componentes/pie/pie.component';
  import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';
  
  @NgModule({{c}}
      declarations: [
        //Por defecto
        AppComponent,
        //Componentes - Páginas añadir después de crearlas
        HomeComponent,
        ErrorComponent,
        PieComponent,
        CabeceraComponent
      ],
      imports: [
        //Por defecto
        BrowserModule,
        //Conexión con app.routes.ts - Enlazar páginas
        <b>APP_ROUTING</b>
      ],
       providers: [
        //Conexión con app.routes.ts - Enlazar páginas
        <b>appRoutingProviders</b>
       ],
        //Por <b>defecto</b> - Librería
        bootstrap: [AppComponent]
   })
    //Por <b>defecto</b>
    export class AppModule {{c}} }</pre>
                </div>
            </div>
        </div>


         <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Opción C - con app.routes.ts (Menos lioso)</h4>
                    <pre class="card-text">//<u><b>Ya creado</b>. Se <b>añade automáticamente</b> pero se <b>borra manualmente</b></u>
  import {{c}} BrowserModule } from '@angular/platform-browser';
  import {{c}} NgModule } from '@angular/core';

  //Conexión con app.routes.ts - Enlazar páginas<b>
  import {{c}} RouterModule } from '@angular/router';
  import {{c}} ROUTES } from './app.routes';
  </b>
  
  //Componentes - Automático
  import {{c}} AppComponent } from './app.component';

  //Componentes - Páginas añadir después de crearlas
  import {{c}} HomeComponent } from './paginas/home/home.component';
  import {{c}} ErrorComponent } from './componentes/error/error.component';
  import {{c}} PieComponent } from './componentes/pie/pie.component';
  import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';
  
  @NgModule({{c}}
      declarations: [
        //Por defecto
        AppComponent,
        //Componentes - Páginas añadir después de crearlas
        HomeComponent,
        ErrorComponent,
        PieComponent,
        CabeceraComponent
      ],
      imports: [
        //Por defecto
        BrowserModule,
        //Conexión con app.routes.ts - Enlazar páginas
        <b>RouterModule.forRoot( ROUTES, {{c}} useHash: true } )</b>
      ],
       providers: [],
        //Por <b>defecto</b> - Librería
        bootstrap: [AppComponent]
   })
    //Por <b>defecto</b>
    export class AppModule {{c}} }</pre>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="pills-instalacionangular4" role="tabpanel" aria-labelledby="pills-instalacionangular4-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>ng generate service nombreCarpeta/nombreServicio</b></li>
<li><b>ng g s nombreCarpeta/nombreServicio</b></li></ul></pre>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body"><h4>Module.ts</h4>
                    <pre class="card-text">import {{c}} BrowserModule } from '@angular/platform-browser';
  import {{c}} NgModule } from '@angular/core';
  import {{c}} routing, appRoutingProviders } from './app.routing';
  import {{c}} AppComponent } from './app.component';
  import {{c}} HomeComponent } from './paginas/home/home.component';
  import {{c}} ErrorComponent } from './componentes/error/error.component';
  import {{c}} PieComponent } from './componentes/pie/pie.component';
  import {{c}} CabeceraComponent } from './componentes/cabecera/cabecera.component';
  
  //Servicio
  <b>import {{c}} NombreservicioService } from './componentes/programacion/angular/servicios/NombreservicioService.service';</b>


  @NgModule({{c}}
      declarations: [
        AppComponent,
        HomeComponent,
        ErrorComponent,
        PieComponent,
        CabeceraComponent
      ],
      imports: [
        BrowserModule,
        routing
      ],
       providers: [
        appRoutingProviders<b>,</b>
        //Servicio
        <b>NombreservicioService</b>
       ],
        bootstrap: [AppComponent]
   })
    export class AppModule {{c}} }</pre>
                </div>
            </div>
        </div>


    </div>



    <div class="tab-pane fade" id="pills-instalacionangular8" role="tabpanel" aria-labelledby="pills-instalacionangular8-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text">Crear <b>Carpeta</b> (model) -> dentro de ella <b>archivo.model.ts</b></pre>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-pane fade" id="pills-instalacionangular9" role="tabpanel" aria-labelledby="pills-instalacionangular9-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>ng generate guard nombre_carpeta/nombre_servicios</b></li>
<li><b>ng g g nombre_carpeta/nombre_servicio</b></li></ul>
<ul><li>Opciones:<ul><li><b>CanActivate</b> -> Elegimos esta opción porque NO trabajamos con Lazyloading</li>
<li><b>CanActivateChild</b> -> Tiene rutas hijas</li>
<li><b>CanDeactivate</b></li>
<li><b>CanLoad</b> -> Usamos Lazyloading</li></ul></li></ul></pre>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-pane fade" id="pills-instalacionangular10" role="tabpanel" aria-labelledby="pills-instalacionangular10-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>ng generate directive nombreCarpeta/nombreDirectiva</b></li>
<li><b>ng g d nombreCarpeta/nombreDirectiva</b></li></ul></pre>
                </div>
            </div>
        </div>


    </div>


    <div class="tab-pane fade" id="pills-instalacionangularx" role="tabpanel" aria-labelledby="pills-instalacionangularx-tab">

        <div class="card-group">
            <div class="card text-dark bg-danger m-3">
                <div class="card-body">
                    <pre class="card-text"><ul><li><b>ng generate pipe nombreCarpeta/nombrePipe</b></li>
<li><b>ng g p nombreCarpeta/nombrePipe</b></li></ul></pre>
                </div>
            </div>
        </div>


    </div>

</div>