<div class="card-group">
    <div class="card m-3">
        <div class="card-header bg-danger">
            <pre class="card-text text-center blanco"><h3>Ejemplo</h3></pre>
        </div>
        <div class="card-body">

          <form autocomplete="off" [formGroup]="variableTsLocal" (ngSubmit)="guardar()">
          
              <div class="form-group row">
                <label class="col-2 col-form-label">Contraseña</label>
                <div class="col">
          
                  <input class="form-control"
                         type="password"
                         placeholder="Contraseña"
                         formControlName="pass1"
                         [class.is-invalid]="passNoValido">
                </div>
              </div>

              <div class="form-group row">
                <label class="col-2 col-form-label">Repetir/Verificar contraseña</label>
                <div class="col">
          
                  <input class="form-control"
                         type="password"
                         placeholder="Repita contraseña"
                         formControlName="pass2"
                         [class.is-invalid]="passIGUALNoValido">
                </div>
              </div>
          
            <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary btn-block">
                  Guardar
                </button>
              </div>
            </div>
          
          </form>

          <hr>
          <pre>
              Estado del formulario: {{ variableTsLocal.valid }}
              <br>
              Status: {{ variableTsLocal.status }}
              <br>
              Status: {{ variableTsLocal.value | json }}
          </pre>

        </div>
    </div>
</div>