<h6><u><b>Angular - Enlaces</b></u></h6>

<u>
    <li><b>{{a}}</b>(recomendado) o <b>{{b}}</b>: Enlace especial de Angular</li>
    <li><b>{{d}}</b>: Es igual a -> /home/paginas/1/2</li>
    <li><b>{{e}}</b>: Usar index hay que nombrarlo previamente en el for (let i of index) /home/index (0...)</li>
    <li><b>routerLinkActive="active"</b>: Se pone en cada enlace, dentro de una class de bootstrap o crearla, que queramos que se active (se ilumine) al pulsar el enlace/s</li>
</u>
<button class="btn btn-dark m-2" [routerLink]="['/angular']">Atras</button>

