<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones-tab" data-toggle="pill" href="#pills-reactivovalidaciones" role="tab" aria-controls="pills-reactivovalidaciones" aria-selected="true" style="color: black;">Síncronas<br><small>Instantánea</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones0-tab" data-toggle="pill" href="#pills-reactivovalidaciones0" role="tab" aria-controls="pills-reactivovalidaciones0" aria-selected="false" style="color: black;">Síncronas<br><small>Personalizada letras</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones1-tab" data-toggle="pill" href="#pills-reactivovalidaciones1" role="tab" aria-controls="pills-reactivovalidaciones1" aria-selected="false" style="color: black;">Síncronas<br><small>Pass1 = Pass2</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-reactivovalidaciones2-tab" data-toggle="pill" href="#pills-reactivovalidaciones2" role="tab" aria-controls="pills-reactivovalidaciones2" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-reactivovalidaciones3-tab" data-toggle="pill" href="#pills-reactivovalidaciones3" role="tab" aria-controls="pills-reactivovalidaciones3" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones4-tab" data-toggle="pill" href="#pills-reactivovalidaciones4" role="tab" aria-controls="pills-reactivovalidaciones4" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones5-tab" data-toggle="pill" href="#pills-reactivovalidaciones5" role="tab" aria-controls="pills-reactivovalidaciones5" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones6-tab" data-toggle="pill" href="#pills-reactivovalidaciones6" role="tab" aria-controls="pills-reactivovalidaciones6" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones7-tab" data-toggle="pill" href="#pills-reactivovalidaciones7" role="tab" aria-controls="pills-reactivovalidaciones7" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones8-tab" data-toggle="pill" href="#pills-reactivovalidaciones8" role="tab" aria-controls="pills-reactivovalidaciones8" aria-selected="false" style="color: black;">x</a>
    </li>
  </ul>
  
  <div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones" role="tabpanel" aria-labelledby="pills-reactivovalidaciones-tab"><app-reactivoformangularvalidar1></app-reactivoformangularvalidar1>
    
      <div class="card-group">

            <div class="card text-dark bg-primary m-3">

                <div class="card-header">
                    <pre class="card-text text-center"><h3>Ts</h3></pre>
                </div>
                <div class="card-body">
                  <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
import {{c}} FormGroup, FormBuilder, FormArray<b>, Validators</b><abbr title="Validación síncronos -> Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> } from '@angular/forms';  

@Component({{c}}
  selector: 'app-reactivoformangular1',
  templateUrl: './reactivoformangular1.component.html',
  styleUrls: ['./reactivoformangular1.component.css']
})
export class Reactivoformangular1Component implements OnInit {{c}}

  variableTsLocal: FormGroup;   

  constructor( private fb:FormBuilder ) {{c}} 
    this.crearFromulario();
    //this.cargarDatoAlFormulario();
  }

  ngOnInit(): void {{c}}
  }


  crearFromulario(){{c}}  
    
    this.variableTsLocal = this.fb.group({{c}}

      //Campo_del_html: ['Valor por defecto que pongamos', <b>Validación síncronos</b>, Validación asíncronos]  //Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo
        <b>nombreTs: ['',],
        apellidoTs: ['',],
        correoTs: ['',],
        direccionTs: this.fb.group({{c}}      
          distritoTs: ['', Validators.required ],
          ciudadTs: ['', Validators.required ],
        })</b>,
        camposDinamicos: this.fb.array([])
    });
  }

  get camposDinamicosfuncion(){{c}}
    return this.variableTsLocal.get('camposDinamicos') as FormArray;
  }

  agregarCampoDinamico(){{c}}
    this.camposDinamicosfuncion.push( this.fb.control(''<b>, Validators.required</b>));  <abbr title="Ponemos aquí las validaciones que tendrá cada campo que añadimos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }

  borrarCampoDinamico( i:number ){{c}}
    this.camposDinamicosfuncion.removeAt(i);
  }

  cargarDatoAlFormulario(){{c}}

    // this.variableTsLocal.setValue({{c}}  
    this.variableTsLocal.reset({{c}}  
    nombreTs: '',
    apellidoTs: '',
    correoTs: '',
    direccionTs: {{c}}
      distritoTs: '',
      ciudadTs: '',
    }
    });
    // ['Dato1','Dato2'].forEach( DatoRecibido => this.camposDinamicosfuncion.push( this.fb.control(DatoRecibido) ) );
      ['',''].forEach( DatoRecibido => this.camposDinamicosfuncion.push( this.fb.control(DatoRecibido) ) );
  }

  //Para que salga rojo si da fallo y los mensajes
  <b>get nombreNoValido(){{c}}
    return this.variableTsLocal.get('nombreTs').invalid && this.variableTsLocal.get('nombreTs').touched   <abbr title="nombreTs definido arriba, dentro de la función (crearFromulario)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>

  get <b>apellidoNoValido</b>(){{c}}
    return this.variableTsLocal.get('<b>apellidoTs</b>').invalid && this.variableTsLocal.get('<b>apellidoTs</b>').touched
  }

  get <b>correoNoValido</b>(){{c}}
    return this.variableTsLocal.get('<b>correoTs</b>').invalid && this.variableTsLocal.get('<b>correoTs</b>').touched
  }

  get <b>distritoNoValido</b>(){{c}}  <abbr title="En los anidados hay que especificar que proviene de uno (direccionTs) y tienen uno o más subanidados (distritoTs y ciudadTs)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    return this.variableTsLocal.get('<b>direccionTs.distritoTs</b>').invalid && this.variableTsLocal.get('<b>direccionTs.distritoTs</b>').touched
  }

  get <b>ciudadNoValido</b>(){{c}}
    return this.variableTsLocal.get('<b>direccionTs.ciudadTs</b>').invalid && this.variableTsLocal.get('<b>direccionTs.ciudadTs</b>').touched
  }


  guardar(){{c}}  
    console.log( this.variableTsLocal );  

    <b>if ( this.variableTsLocal.invalid ){{c}}   <abbr title="Si es invalido lo que introducimos lanza lo de abajo que junto con el html muestra todo lo que no se ha tocado, o no tenga las condiones síncronas al pulsar el botón salga en rojo y la letra también en rojo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 
  
      return Object.values( this.variableTsLocal.controls ).forEach( variableControlador => {{c}}  <abbr title="Devuelve el valor de cada variable de control, para que salga si tiene o no error (en rojo y mensaje en rojo) según las condiciones"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

          // variableControlador.markAsTouched();  <abbr title="Tocado, Si no tiene campos anidado se deja este ahí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

          if ( variableControlador instanceof FormGroup ){{c}}  <abbr title="Cuando se ponen campos anidados y usamos de nuevo el fb.group"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            Object.values( variableControlador.controls ).forEach ( controladorgrupal => controladorgrupal.markAsTouched() );
          }
          else{{c}}
            variableControlador.markAsTouched();  <abbr title="Igual que sin anidados pero cambiando el sitio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
          }
      });

    }</b>

    console.log(this.variableTsLocal);  
    console.log(this.variableTsLocal.value);  


    //Resetear información al pulsar el botón guardar y enviar
     this.variableTsLocal.reset();  

      /*this.variableTsLocal.reset({{c}}
      nombreTs: 'Sin dato eah!!'
      });*/
  }


}</pre>
            </div>
            </div>
            <div class="card text-dark bg-warning m-3">
              <div class="card-header">
                  <pre class="card-text text-center"><h3>Html</h3></pre>
              </div>
              <div class="card-body">
        <pre class="card-text">{{co}}form autocomplete="off" {{t}}formGroup]="variableTsLocal" {{p}}ngSubmit)="guardar()">

    {{co}}div class="form-group row">
      {{co}}label class="col-2 col-form-label">Nombre{{co}}/label>
      {{co}}div class="col-8">

        {{co}}input class="form-control"
                type="text"
                placeholder="Nombre"
                <b>formControlName="nombreTs"
                {{t}}class.is-invalid]="nombreNoValido">  <abbr title="Es boolean que se define en el Ts con un get y si tiene errores al tocar o pulsar botón. Si da error no se manda formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

        {{co}}small {{f}}ngIf="nombreNoValido" class="text-danger">Este campo es obligatorio{{co}}/small></b>  <abbr title="Si da error muestra mensaje"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      {{co}}/div>
    {{co}}/div>

    {{co}}div class="form-group row">
      {{co}}label class="col-2 col-form-label">Apellido{{co}}/label>
      {{co}}div class="col-8">

        {{co}}input class="form-control"
                type="text"
                placeholder="Apellido"
                <b>formControlName="apellidoTs"
                {{t}}class.is-invalid]="apellidoNoValido">

        {{co}}small {{f}}ngIf="apellidoNoValido" class="text-danger">Ingrese 5 letras{{co}}/small></b>
                
      {{co}}/div>
    {{co}}/div>

  {{co}}/div>

  {{co}}div class="form-group row">
    {{co}}label class="col-2 col-form-label">Correo{{co}}/label>
    {{co}}div class="col-8">

      {{co}}input class="form-control"
              type="email"
              placeholder="Correo electrónico"
              <b>formControlName="correoTs"
              {{t}}class.is-invalid]="correoNoValido">

      {{co}}small {{f}}ngIf="correoNoValido" class="text-danger">Ingrese un correo vádido{{co}}/small></b>
    {{co}}/div>
  {{co}}/div>

  {{co}}div class="form-group row" <b>formGroupName="direccionTs"</b>>
    {{co}}label class="col-2 col-form-label">Dirección{{co}}/label>
    {{co}}div class="form-row col">

        {{co}}div class="col">
          {{co}}input type="text"
                 class="form-control"
                 placeholder="Distrito"
                 <b>formControlName="distritoTs"
                 {{t}}class.is-invalid]="distritoNoValido"</b>>
        {{co}}/div>

        {{co}}div class="col">
          {{co}}input type="text"
                 class="form-control"
                 placeholder="Ciudad"
                 <b>formControlName="ciudadTs"
                 {{t}}class.is-invalid]="ciudadNoValido"</b>>
          
        {{co}}/div>
    {{co}}/div>
  {{co}}/div>

  {{co}}div class="row">
    {{co}}div class="col">
      {{co}}table class="table">
        {{co}}thead class="thead-dark">
          {{co}}tr>
            {{co}}th>Id{{co}}/th>
            {{co}}th>Campo{{co}}/th>
            {{co}}th>Borrar{{co}}/th>
          {{co}}/tr>
        {{co}}/thead>
          {{co}}tbody formArrayName="camposDinamicos">
            {{co}}tr {{f}}ngFor="let local of camposDinamicosfuncion.controls; let i = index">
              {{co}}td>{{c}}{{c}} i + 1 }}{{co}}/td>
              {{co}}td>{{co}}input class="form-control" type="text" {{t}}formControlName]="i">{{co}}/td>
              {{co}}td>{{co}}button class="btn btn-danger" 
                          type="button"
                          {{p}}click)="borrarCampoDinamico(i)">Borrar{{co}}/button>{{co}}/td>
            {{co}}/tr>
          {{co}}/tbody>
      {{co}}/table>
      {{co}}button class="btn btn-primary mt-3 mb-5 btn-block" 
              type="button"
              {{p}}click)="agregarCampoDinamico()">Agregar{{co}}/button>
    {{co}}/div>
  {{co}}/div>

  {{co}}div class="form-group row">
    {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
    {{co}}div class="input-group col-md-8">
      {{co}}button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      {{co}}/button>
    {{co}}/div>
  {{co}}/div>

{{co}}/form>

{{co}}hr>
{{co}}pre>  <abbr title="Para no estar mirando en consola si se valida bien los datos, lo vemos aquí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
Estado del formulario: <b>{{c}}{{c}} variableTsLocal.valid }}</b>  
{{co}}br>
Status: <b>{{c}}{{c}} variableTsLocal. status }}</b>
{{co}}br>
   <b> Status: {{c}}{{c}} variableTsLocal. value | json }}</b>  <abbr title="En vez de en consola se ve por aquí y al instante lo que vamos introduciendo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
{{co}}/pre></pre>
              </div>
          </div>
        </div>



    </div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones0" role="tabpanel" aria-labelledby="pills-reactivovalidaciones0-tab"><app-reactivov2p></app-reactivov2p>
      
      <div class="card-group">
        <div class="card text-dark bg-primary m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Servicio</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Injectable } from '@angular/core';
<b>import {{c}} FormControl } from '@angular/forms';</b>  <abbr title="Para usar una función como control"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Injectable({{c}}
  providedIn: 'root'
})
export class Reactivov2pService {{c}}

  constructor() {{c}} }

  <b>noPalabra( VariableControl: FormControl ): {{c}} [variable2:string]: boolean }{{c}} <abbr title="Función (noPalabra) que coge el valor del input (VariableControl) y le damos el valor de controlador (FormControl). Primero lo coge string (variable2) y luego lo transforma en boolean"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    
     if ( <abbr title="Se pone ? por si no se rellena no de error"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>VariableControl.value?.toLowerCase() === 'nombrephohibido' ){{c}}  <abbr title="Hay que poner en minúscula en esta función (nombrephohibido) porque lo que metamos en el input del html lo podemos poner mayúscula/minúscula que se transforma en minúsculas (toLowerCase) "><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                                                                        
      return{{c}}
        noPalabra: true  <abbr title="Si es la palabra se transforma en true, es decir, para que coja lo que en el Ts y Html y salga el error"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      };

    }
      return null;  <abbr title="Si no es la palabra se sale sin reaccionar en el Ts ni Html, no muestra nada"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    
  }</b>

}</pre>
            </div>
        </div>
      </div>

<div class="card-group">
    <div class="card text-dark bg-primary m-3">
        <div class="card-header">
            <pre class="card-text text-center"><h3>Ts</h3></pre>
        </div>
        <div class="card-body">
          <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
import {{c}} FormGroup, FormBuilder, Validators } from '@angular/forms'; 
<b>import {{c}} Reactivov2pService } from './reactivov2p.service';  <abbr title="Validación personalizada: Phobibir escribir una palabra"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></b>

@Component({{c}}
  selector: 'app-reactivov2p',
  templateUrl: './reactivov2p.component.html',
  styleUrls: ['./reactivov2p.component.css']
})
export class Reactivov2pComponent implements OnInit {{c}}

  variableTsLocal: FormGroup;   

  constructor( private fb:FormBuilder,
               private validadorPersonalizado: Reactivov2pService ) {{c}} 
    this.crearFromulario();
    //this.cargarDatoAlFormulario();
  }

  ngOnInit(): void {{c}}
  }


  crearFromulario(){{c}}
    
    this.variableTsLocal = this.fb.group({{c}}
      //Campo_del_html: ['Valor por defecto que pongamos', 'Validación síncronos', 'Validación asíncronos']   <abbr title="Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      <b>datoTs: ['', [Validators.required, this.validadorPersonalizado.noPalabra<abbr title="Definimos que el control está en el servicio (validadorPersonalizado) en una función (noPalabra)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>] ],</b>  <abbr title="1 Validación no necesario ponerlo entre [] en 2 o más Validaciones necesario poner []"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    });
  }

  cargarDatoAlFormulario(){{c}}

    // this.variableTsLocal.setValue({{c}}  
    this.variableTsLocal.reset({{c}}   
      datoTs: '',
    });
     
  }


  //Para que salga rojo si da fallo y los mensajes
  <b>get datoNoValido(){{c}}
        return this.variableTsLocal.get('datoTs').invalid && this.variableTsLocal.get('datoTs').touched   <abbr title="datoTs definido arriba, dentro de la función (crearFromulario)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>


  guardar(){{c}}  
    console.log( this.variableTsLocal );  

      if ( this.variableTsLocal.invalid ){{c}}
  
        return Object.values( this.variableTsLocal.controls ).forEach( variableControlador => {{c}}  
  
             variableControlador.markAsTouched();  
        });

      }
  
      console.log(this.variableTsLocal);  
      console.log(this.variableTsLocal.value);  

      //Resetear información al pulsar el botón guardar y enviar
     this.variableTsLocal.reset();  //Si resetea solamente

     /*this.variableTsLocal.reset({{c}}  //Resetear y dejar escrito algo en uno o más campos
      datoTs: 'Sin dato eah!!'
    }); */
      
    }

}</pre>
        </div>
    </div>
    <div class="card text-dark bg-warning m-3">
      <div class="card-header">
          <pre class="card-text text-center"><h3>Html</h3></pre>
      </div>
      <div class="card-body">
          <pre class="card-text">{{co}}form autocomplete="off" {{t}}formGroup]="variableTsLocal" {{p}}ngSubmit)="guardar()">
          
            {{co}}div>

              {{co}}div class="form-group row">
                {{co}}label class="col-2 col-form-label">Nombre phohibido {{co}}small>(Poner esto para verlo: nombrephohibido){{co}}/small>{{co}}/label>
                {{co}}div class="col">
          
                  {{co}}input class="form-control"
                         type="text"
                         placeholder="Dato"
                         <b>formControlName="datoTs"</b>  <abbr title="Donde se especifica el nombre que en el Ts se especifica los controles personalizados..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                         <b>{{t}}class.is-invalid]="datoNoValido"</b>>  <abbr title="Es boolean que se define en el Ts con un get y si tiene errores al tocar o pulsar botón. Si da error no se manda formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

                   {{co}}small <b>{{f}}ngIf="datoNoValido"</b> class="text-danger">Este campo es obligatorio{{co}}/small>  <abbr title="Sale mensaje en rojo si cumple el control personalizado, si se escribe algo prohibido"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                   {{co}}!-- Si da error muestra mensaje -->
                {{co}}/div>
              {{co}}/div>

            {{co}}/div>
          
          
            {{co}}div class="form-group row">
              {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
              {{co}}div class="input-group col-md-8">
                {{co}}button type="submit" class="btn btn-outline-primary btn-block">
                  Guardar
                {{co}}/button>
              {{co}}/div>
            {{co}}/div>
          
          {{co}}/form>

          {{co}}hr>
          {{co}}pre>
              Estado del formulario: {{c}}{{c}} variableTsLocal.valid }}
              {{co}}br>
              Status: {{c}}{{c}} variableTsLocal. status }}
              {{co}}br>
              Status: {{c}}{{c}} variableTsLocal. value | json }}
          {{co}}/pre></pre>
      </div>
  </div>
</div>

    </div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones1" role="tabpanel" aria-labelledby="pills-reactivovalidaciones1-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones2" role="tabpanel" aria-labelledby="pills-reactivovalidaciones2-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones3" role="tabpanel" aria-labelledby="pills-reactivovalidaciones3-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones4" role="tabpanel" aria-labelledby="pills-reactivovalidaciones4-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones5" role="tabpanel" aria-labelledby="pills-reactivovalidaciones5-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones6" role="tabpanel" aria-labelledby="pills-reactivovalidaciones6-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones7" role="tabpanel" aria-labelledby="pills-reactivovalidaciones7-tab">x</div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones8" role="tabpanel" aria-labelledby="pills-reactivovalidaciones8-tab">x</div>
      
  </div>











