<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones-tab" data-toggle="pill" href="#pills-reactivovalidaciones" role="tab" aria-controls="pills-reactivovalidaciones" aria-selected="true" style="color: black;">Síncronas<br><small>Instantánea</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones0-tab" data-toggle="pill" href="#pills-reactivovalidaciones0" role="tab" aria-controls="pills-reactivovalidaciones0" aria-selected="false" style="color: black;">Síncronas<br><small>Personalizada letras</small></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-reactivovalidaciones1-tab" data-toggle="pill" href="#pills-reactivovalidaciones1" role="tab" aria-controls="pills-reactivovalidaciones1" aria-selected="false" style="color: black;">Síncronas<br><small>Pass1 = Pass2</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-reactivovalidaciones2-tab" data-toggle="pill" href="#pills-reactivovalidaciones2" role="tab" aria-controls="pills-reactivovalidaciones2" aria-selected="false" style="color: black;">Asíncronas<br><small>Con tiempo/Con servicio externo</small></a>
    </li>
  </ul>
  
  <div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones" role="tabpanel" aria-labelledby="pills-reactivovalidaciones-tab"><app-reactivoformangularvalidar1></app-reactivoformangularvalidar1>
    
      <div class="card-group">

            <div class="card text-dark bg-primary m-3">

                <div class="card-header">
                    <pre class="card-text text-center"><h3>Ts</h3></pre>
                </div>
                <div class="card-body">
                  <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
import {{c}} FormGroup, FormBuilder, FormArray<b>, Validators</b><abbr title="Validación síncronos -> Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> } from '@angular/forms';  

@Component({{c}}
  selector: 'app-reactivoformangular1',
  templateUrl: './reactivoformangular1.component.html',
  styleUrls: ['./reactivoformangular1.component.css']
})
export class Reactivoformangular1Component implements OnInit {{c}}

  variableTsLocal: FormGroup;   

  constructor( private fb:FormBuilder ) {{c}} 
    this.crearFromulario();
    //this.cargarDatoAlFormulario();
  }

  ngOnInit(): void {{c}}
  }


  crearFromulario(){{c}}  
    
    this.variableTsLocal = this.fb.group({{c}}

      //Campo_del_html: ['Valor por defecto que pongamos', <b>Validación síncronos</b>, Validación asíncronos]  //Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo
        <b>nombreTs: ['',],
        apellidoTs: ['',],
        correoTs: ['',],
        direccionTs: this.fb.group({{c}}      
          distritoTs: ['', Validators.required ],
          ciudadTs: ['', Validators.required ],
        })</b>,
        camposDinamicos: this.fb.array([])
    });
  }

  get camposDinamicosfuncion(){{c}}
    return this.variableTsLocal.get('camposDinamicos') as FormArray;
  }

  agregarCampoDinamico(){{c}}
    this.camposDinamicosfuncion.push( this.fb.control(''<b>, Validators.required</b>));  <abbr title="Ponemos aquí las validaciones que tendrá cada campo que añadimos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }

  borrarCampoDinamico( i:number ){{c}}
    this.camposDinamicosfuncion.removeAt(i);
  }

  cargarDatoAlFormulario(){{c}}

    // this.variableTsLocal.setValue({{c}}  
    this.variableTsLocal.reset({{c}}  
    nombreTs: '',
    apellidoTs: '',
    correoTs: '',
    direccionTs: {{c}}
      distritoTs: '',
      ciudadTs: '',
    }
    });
    // ['Dato1','Dato2'].forEach( DatoRecibido => this.camposDinamicosfuncion.push( this.fb.control(DatoRecibido) ) );
      ['',''].forEach( DatoRecibido => this.camposDinamicosfuncion.push( this.fb.control(DatoRecibido) ) );
  }

  //Para que salga rojo si da fallo y los mensajes
  <b>get nombreNoValido(){{c}}
    return this.variableTsLocal.get('nombreTs').invalid && this.variableTsLocal.get('nombreTs').touched   <abbr title="nombreTs definido arriba, dentro de la función (crearFromulario)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>

  get <b>apellidoNoValido</b>(){{c}}
    return this.variableTsLocal.get('<b>apellidoTs</b>').invalid && this.variableTsLocal.get('<b>apellidoTs</b>').touched
  }

  get <b>correoNoValido</b>(){{c}}
    return this.variableTsLocal.get('<b>correoTs</b>').invalid && this.variableTsLocal.get('<b>correoTs</b>').touched
  }

  get <b>distritoNoValido</b>(){{c}}  <abbr title="En los anidados hay que especificar que proviene de uno (direccionTs) y tienen uno o más subanidados (distritoTs y ciudadTs)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    return this.variableTsLocal.get('<b>direccionTs.distritoTs</b>').invalid && this.variableTsLocal.get('<b>direccionTs.distritoTs</b>').touched
  }

  get <b>ciudadNoValido</b>(){{c}}
    return this.variableTsLocal.get('<b>direccionTs.ciudadTs</b>').invalid && this.variableTsLocal.get('<b>direccionTs.ciudadTs</b>').touched
  }


  guardar(){{c}}  
    console.log( this.variableTsLocal );  

    <b>if ( this.variableTsLocal.invalid ){{c}}   <abbr title="Si es invalido lo que introducimos lanza lo de abajo que junto con el html muestra todo lo que no se ha tocado, o no tenga las condiones síncronas al pulsar el botón salga en rojo y la letra también en rojo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 
  
      return Object.values( this.variableTsLocal.controls ).forEach( variableControlador => {{c}}  <abbr title="Devuelve el valor de cada variable de control, para que salga si tiene o no error (en rojo y mensaje en rojo) según las condiciones"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

          // variableControlador.markAsTouched();  <abbr title="Tocado, Si no tiene campos anidado se deja este ahí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

          if ( variableControlador instanceof FormGroup ){{c}}  <abbr title="Cuando se ponen campos anidados y usamos de nuevo el fb.group"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            Object.values( variableControlador.controls ).forEach ( controladorgrupal => controladorgrupal.markAsTouched() );
          }
          else{{c}}
            variableControlador.markAsTouched();  <abbr title="Igual que sin anidados pero cambiando el sitio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
          }
      });

    }</b>

    console.log(this.variableTsLocal);  
    console.log(this.variableTsLocal.value);  


    //Resetear información al pulsar el botón guardar y enviar
     this.variableTsLocal.reset();  

      /*this.variableTsLocal.reset({{c}}
      nombreTs: 'Sin dato eah!!'
      });*/
  }


}</pre>
            </div>
            </div>
            <div class="card text-dark bg-warning m-3">
              <div class="card-header">
                  <pre class="card-text text-center"><h3>Html</h3></pre>
              </div>
              <div class="card-body">
        <pre class="card-text">{{co}}form autocomplete="off" {{t}}formGroup]="variableTsLocal" {{p}}ngSubmit)="guardar()">

    {{co}}div class="form-group row">
      {{co}}label class="col-2 col-form-label">Nombre{{co}}/label>
      {{co}}div class="col-8">

        {{co}}input class="form-control"
                type="text"
                placeholder="Nombre"
                <b>formControlName="nombreTs"
                {{t}}class.is-invalid]="nombreNoValido">  <abbr title="Es boolean que se define en el Ts con un get y si tiene errores al tocar o pulsar botón. Si da error no se manda formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

        {{co}}small {{f}}ngIf="nombreNoValido" class="text-danger">Este campo es obligatorio{{co}}/small></b>  <abbr title="Si da error muestra mensaje"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      {{co}}/div>
    {{co}}/div>

    {{co}}div class="form-group row">
      {{co}}label class="col-2 col-form-label">Apellido{{co}}/label>
      {{co}}div class="col-8">

        {{co}}input class="form-control"
                type="text"
                placeholder="Apellido"
                <b>formControlName="apellidoTs"
                {{t}}class.is-invalid]="apellidoNoValido">

        {{co}}small {{f}}ngIf="apellidoNoValido" class="text-danger">Ingrese 5 letras{{co}}/small></b>
                
      {{co}}/div>
    {{co}}/div>

  {{co}}/div>

  {{co}}div class="form-group row">
    {{co}}label class="col-2 col-form-label">Correo{{co}}/label>
    {{co}}div class="col-8">

      {{co}}input class="form-control"
              type="email"
              placeholder="Correo electrónico"
              <b>formControlName="correoTs"
              {{t}}class.is-invalid]="correoNoValido">

      {{co}}small {{f}}ngIf="correoNoValido" class="text-danger">Ingrese un correo vádido{{co}}/small></b>
    {{co}}/div>
  {{co}}/div>

  {{co}}div class="form-group row" <b>formGroupName="direccionTs"</b>>
    {{co}}label class="col-2 col-form-label">Dirección{{co}}/label>
    {{co}}div class="form-row col">

        {{co}}div class="col">
          {{co}}input type="text"
                 class="form-control"
                 placeholder="Distrito"
                 <b>formControlName="distritoTs"
                 {{t}}class.is-invalid]="distritoNoValido"</b>>
        {{co}}/div>

        {{co}}div class="col">
          {{co}}input type="text"
                 class="form-control"
                 placeholder="Ciudad"
                 <b>formControlName="ciudadTs"
                 {{t}}class.is-invalid]="ciudadNoValido"</b>>
          
        {{co}}/div>
    {{co}}/div>
  {{co}}/div>

  {{co}}div class="row">
    {{co}}div class="col">
      {{co}}table class="table">
        {{co}}thead class="thead-dark">
          {{co}}tr>
            {{co}}th>Id{{co}}/th>
            {{co}}th>Campo{{co}}/th>
            {{co}}th>Borrar{{co}}/th>
          {{co}}/tr>
        {{co}}/thead>
          {{co}}tbody formArrayName="camposDinamicos">
            {{co}}tr {{f}}ngFor="let local of camposDinamicosfuncion.controls; let i = index">
              {{co}}td>{{c}}{{c}} i + 1 }}{{co}}/td>
              {{co}}td>{{co}}input class="form-control" type="text" {{t}}formControlName]="i">{{co}}/td>
              {{co}}td>{{co}}button class="btn btn-danger" 
                          type="button"
                          {{p}}click)="borrarCampoDinamico(i)">Borrar{{co}}/button>{{co}}/td>
            {{co}}/tr>
          {{co}}/tbody>
      {{co}}/table>
      {{co}}button class="btn btn-primary mt-3 mb-5 btn-block" 
              type="button"
              {{p}}click)="agregarCampoDinamico()">Agregar{{co}}/button>
    {{co}}/div>
  {{co}}/div>

  {{co}}div class="form-group row">
    {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
    {{co}}div class="input-group col-md-8">
      {{co}}button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      {{co}}/button>
    {{co}}/div>
  {{co}}/div>

{{co}}/form>

{{co}}hr>
{{co}}pre>  <abbr title="Para no estar mirando en consola si se valida bien los datos, lo vemos aquí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
Estado del formulario: <b>{{c}}{{c}} variableTsLocal.valid }}</b>  
{{co}}br>
Status: <b>{{c}}{{c}} variableTsLocal. status }}</b>
{{co}}br>
   <b> Status: {{c}}{{c}} variableTsLocal. value | json }}</b>  <abbr title="En vez de en consola se ve por aquí y al instante lo que vamos introduciendo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
{{co}}/pre></pre>
              </div>
          </div>
        </div>



    </div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones0" role="tabpanel" aria-labelledby="pills-reactivovalidaciones0-tab"><app-reactivov2p></app-reactivov2p>
      
      <div class="card-group">
        <div class="card text-dark bg-danger m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Servicio</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Injectable } from '@angular/core';
<b>import {{c}} FormControl } from '@angular/forms';</b>  <abbr title="Para usar una función como control"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Injectable({{c}}
  providedIn: 'root'
})
export class Reactivov2pService {{c}}

  constructor() {{c}} }

  <b>noPalabra( VariableControl: FormControl ): {{c}} [variable2:string]: boolean }{{c}} <abbr title="Función (noPalabra) que coge el valor del input (VariableControl) y le damos el valor de controlador (FormControl). Primero lo coge string (variable2) y luego lo transforma en boolean"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    
     if ( <abbr title="Se pone ? por si no se rellena no de error"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>VariableControl.value?.toLowerCase() === 'nombrephohibido' ){{c}}  <abbr title="Hay que poner en minúscula en esta función (nombrephohibido) porque lo que metamos en el input del html lo podemos poner mayúscula/minúscula que se transforma en minúsculas (toLowerCase) "><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                                                                        
      return{{c}}
        noPalabra: true  <abbr title="Si es la palabra se transforma en true, es decir, para que coja lo que en el Ts y Html y salga el error"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      };

    }
      return null;  <abbr title="Si no es la palabra se sale sin reaccionar en el Ts ni Html, no muestra nada"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    
  }</b>

}</pre>
            </div>
        </div>
      </div>

<div class="card-group">
    <div class="card text-dark bg-primary m-3">
        <div class="card-header">
            <pre class="card-text text-center"><h3>Ts</h3></pre>
        </div>
        <div class="card-body">
          <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
import {{c}} FormGroup, FormBuilder, Validators } from '@angular/forms'; 
<b>import {{c}} Reactivov2pService } from './reactivov2p.service';  <abbr title="Validación personalizada: Phobibir escribir una palabra"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></b>

@Component({{c}}
  selector: 'app-reactivov2p',
  templateUrl: './reactivov2p.component.html',
  styleUrls: ['./reactivov2p.component.css']
})
export class Reactivov2pComponent implements OnInit {{c}}

  variableTsLocal: FormGroup;   

  constructor( private fb:FormBuilder,
               private validadorPersonalizado: Reactivov2pService ) {{c}} 
    this.crearFromulario();
    //this.cargarDatoAlFormulario();
  }

  ngOnInit(): void {{c}}
  }


  crearFromulario(){{c}}
    
    this.variableTsLocal = this.fb.group({{c}}
      //Campo_del_html: ['Valor por defecto que pongamos', 'Validación síncronos', 'Validación asíncronos']   <abbr title="Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      <b>datoTs: ['', [Validators.required, this.validadorPersonalizado.noPalabra<abbr title="Definimos que el control está en el servicio (validadorPersonalizado) en una función (noPalabra)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>] ],</b>  <abbr title="1 Validación no necesario ponerlo entre [] en 2 o más Validaciones necesario poner []"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    });
  }

  cargarDatoAlFormulario(){{c}}

    // this.variableTsLocal.setValue({{c}}  
    this.variableTsLocal.reset({{c}}   
      datoTs: '',
    });
     
  }


  //Para que salga rojo si da fallo y los mensajes
  <b>get datoNoValido(){{c}}
        return this.variableTsLocal.get('datoTs').invalid && this.variableTsLocal.get('datoTs').touched   <abbr title="datoTs definido arriba, dentro de la función (crearFromulario)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  }</b>


  guardar(){{c}}  
    console.log( this.variableTsLocal );  

      if ( this.variableTsLocal.invalid ){{c}}
  
        return Object.values( this.variableTsLocal.controls ).forEach( variableControlador => {{c}}  
  
             variableControlador.markAsTouched();  
        });

      }
  
      console.log(this.variableTsLocal);  
      console.log(this.variableTsLocal.value);  

      //Resetear información al pulsar el botón guardar y enviar
     this.variableTsLocal.reset();  //Si resetea solamente

     /*this.variableTsLocal.reset({{c}}  //Resetear y dejar escrito algo en uno o más campos
      datoTs: 'Sin dato eah!!'
    }); */
      
    }

}</pre>
        </div>
    </div>
    <div class="card text-dark bg-warning m-3">
      <div class="card-header">
          <pre class="card-text text-center"><h3>Html</h3></pre>
      </div>
      <div class="card-body">
          <pre class="card-text">{{co}}form autocomplete="off" {{t}}formGroup]="variableTsLocal" {{p}}ngSubmit)="guardar()">
          
            {{co}}div>

              {{co}}div class="form-group row">
                {{co}}label class="col-2 col-form-label">Nombre phohibido {{co}}small>(Poner esto para verlo: nombrephohibido){{co}}/small>{{co}}/label>
                {{co}}div class="col">
          
                  {{co}}input class="form-control"
                         type="text"
                         placeholder="Dato"
                         <b>formControlName="datoTs"</b>  <abbr title="Donde se especifica el nombre que en el Ts se especifica los controles personalizados..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                         <b>{{t}}class.is-invalid]="datoNoValido"</b>>  <abbr title="Es boolean que se define en el Ts con un get y si tiene errores al tocar o pulsar botón. Si da error no se manda formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

                   {{co}}small <b>{{f}}ngIf="datoNoValido"</b> class="text-danger">Es obligatorio y no puede contener nombrephohibido ni con mayúscula{{co}}/small>  <abbr title="Sale mensaje en rojo si cumple el control personalizado, si se escribe algo prohibido"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                   {{co}}!-- Si da error muestra mensaje -->
                {{co}}/div>
              {{co}}/div>

            {{co}}/div>
          
          
            {{co}}div class="form-group row">
              {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
              {{co}}div class="input-group col-md-8">
                {{co}}button type="submit" class="btn btn-outline-primary btn-block">
                  Guardar
                {{co}}/button>
              {{co}}/div>
            {{co}}/div>
          
          {{co}}/form>

          {{co}}hr>
          {{co}}pre>
              Estado del formulario: {{c}}{{c}} variableTsLocal.valid }}
              {{co}}br>
              Status: {{c}}{{c}} variableTsLocal. status }}
              {{co}}br>
              Status: {{c}}{{c}} variableTsLocal. value | json }}
          {{co}}/pre></pre>
      </div>
  </div>
</div>

    </div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones1" role="tabpanel" aria-labelledby="pills-reactivovalidaciones1-tab"><app-reactivov2p1></app-reactivov2p1>
      
      <div class="card-group">
        <div class="card text-dark bg-danger m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Servicio</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Injectable } from '@angular/core';
<b>import {{c}} FormGroup } from '@angular/forms';</b>  <abbr title="Para poder usar las funciones de los formularios"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Injectable({{c}}
  providedIn: 'root'
})
export class ServiciopassService {{c}}

  constructor() {{c}} }


  <b>passIgual( pass1Nombre:string, pass2Nombre:string ){{c}}  <abbr title="Función que coge dos argumentos (pass1 y 2) para efectuar una comparación correcta entre ellas y que sea válido el formulario, si no ponemos esta función da como correcta visualmente pero el formulario será inválido"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  
    return( TodoFormulario:FormGroup )=>{{c}}  <abbr title="Devuelve la variable dandole el formato de los formularios y lo usamos abajo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      const pass1Control = TodoFormulario.controls[pass1Nombre];  <abbr title="Definimos dos constante que no cambiará para luego hacer comparación"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      const pass2Control = TodoFormulario.controls[pass2Nombre];

      if ( pass1Control.value === pass2Control.value ){{c}}  <abbr title="Si el contenido de ambos que recibimos son iguales"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
          pass2Control.setErrors(null);  <abbr title="No da error y es válido el formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      }else{{c}}
          pass2Control.setErrors({{c}} noEsIgual: true });  <abbr title="Sino es igual da error y no es válido el formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      }
  }
 }</b>

}</pre>
            </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card text-dark bg-primary m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Ts</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
import {{c}} FormGroup, FormBuilder, <b>Validators</b> } from '@angular/forms';  <abbr title="Para poder validar de forma síncrona"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>import {{c}} ServiciopassService } from './servicio/serviciopass.service';</b>  <abbr title="Servicio llamado para hacer más efectivo la comprobación de la igualdad"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Component({{c}}
  selector: 'app-reactivov2p1',
  templateUrl: './reactivov2p1.component.html',
  styleUrls: ['./reactivov2p1.component.css']
})
export class Reactivov2p1Component implements OnInit {{c}}

  variableTsLocal: FormGroup;   

  constructor( private fb:FormBuilder,
               <b>private servicioPass: ServiciopassService</b> <abbr title="Metemos el servicio en una variable para usarlo y para hacer más efectivo la comprobación de la igualdad"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> ) {{c}} 
    this.crearFromulario();
    //this.cargarDatoAlFormulario();
  }

  ngOnInit(): void {{c}}
  }

  crearFromulario(){{c}}
    
    this.variableTsLocal = this.fb.group({{c}}
      //Campo_del_html: ['Valor por defecto que pongamos', 'Validación síncronos', 'Validación asíncronos']   <abbr title="Se puede hacer directamente sin necesidad de web externa y mismo hilo de tiempo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      <b>pass1: ['', Validators.required ],  <abbr title="1 Validación no necesario ponerlo entre [] en 2 o más Validaciones necesario poner []"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      pass2: ['', Validators.required ], <abbr title="Que sea obligado, validación síncrona"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

    },{{c}}  <abbr title="Añadimos aquí lo nuevo ponemos , y {}"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      validators: this.servicioPass.passIgual('pass1','pass2')  <abbr title="Llamamos a la función validators del import (Validators) y le metemos el servicio (servicioPass) y dentro de él (passIgual), mandamos los dos parámetros (pass1 y pass2) para que en el servicio se haga la igualdad más específica"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    });</b>
  }

//Para que salga rojo si da fallo y los mensajes
<b>get passNoValido(){{c}}
  return this.variableTsLocal.get('pass1').invalid && this.variableTsLocal.get('pass1').touched   <abbr title="Sale error si se toca o no se rellena si pulsamos guardar, pass1 definido arriba, dentro de la función (crearFromulario)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
}

get passIGUALNoValido(){{c}}  <abbr title="Necesario para relacionar con el html y poder hacer la igualdad aunque no es tan efectiva como la que usamos en el servicio"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  const pass1 = this.variableTsLocal.get('pass1').value;
  const pass2 = this.variableTsLocal.get('pass2').value;

  return ( pass1 === pass2 ) ? false : true;  <abbr title="? -> Sino es igual manda false. : -> Si es igual manda true"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
}</b>


guardar(){{c}}  
  console.log( this.variableTsLocal );  

    if ( this.variableTsLocal.invalid ){{c}}    //Si es invalido lo que introducimos lanza lo de abajo que junto con el html muestra todo lo que no se ha tocado, o no tenga las condiones síncronas al pulsar el botón salga en rojo y la letra también en rojo

      return Object.values( this.variableTsLocal.controls ).forEach( variableControlador => {{c}}  //Devuelve el valor de cada variable de control, para que salga si tiene o no error (en rojo y mensaje en rojo) según las condiciones

           variableControlador.markAsTouched();  //Tocado, Si no tiene campos anidado se deja este ahí
      });

    }

    console.log(this.variableTsLocal);  
    console.log(this.variableTsLocal.value);  

    //Resetear información al pulsar el botón guardar y enviar
   this.variableTsLocal.reset();  //Si resetea solamente

   /*this.variableTsLocal.reset({{c}}  //Resetear y dejar escrito algo en uno o más campos
    datoTs: 'Sin dato eah!!'
  }); */
    
  }
  
}</pre>
            </div>
        </div>
        <div class="card text-dark bg-warning m-3">
          <div class="card-header">
              <pre class="card-text text-center"><h3>Html</h3></pre>
          </div>
          <div class="card-body">
              <pre class="card-text">{{co}}form autocomplete="off" {{t}}formGroup]="variableTsLocal" {{p}}ngSubmit)="guardar()">
          
          {{co}}div class="form-group row">
            {{co}}label class="col-2 col-form-label">Contraseña{{co}}/label>
            {{co}}div class="col">
      
              {{co}}input class="form-control"
                      type="password"
                      placeholder="Contraseña"
                      <b>formControlName="pass1"  <abbr title="pass1 se coge de la función (crearFromulario) del Ts (this.variableTsLocal = this.fb.group)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                        {{t}}class.is-invalid]="passNoValido"</b>>  <abbr title="passNoValido se coge de la función get y verifica si es tocado y si da error"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            {{co}}/div>
          {{co}}/div>

          {{co}}div class="form-group row">
            {{co}}label class="col-2 col-form-label">Repetir/Verificar contraseña{{co}}/label>
            {{co}}div class="col">
      
              {{co}}input class="form-control"
                      type="password"
                      placeholder="Repita contraseña"
                      <b>formControlName="pass2"  <abbr title="Cambiamos el nombre porque es otro campo y así poder hacer la comparación si son iguales"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                      {{t}}class.is-invalid]="passIGUALNoValido"</b>>   <abbr title="passNoValido se coge de la función get y verifica si son iguales los dos, en esta comprobación inicialmente dice que si son iguales no da error pero la validación dice invalid, por eso hay que hacer el servicio y a través de 
                      el la función donde ya se pone válido la igualdad"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
            {{co}}/div>
          {{co}}/div>
      
        {{co}}div class="form-group row">
          {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
          {{co}}div class="input-group col-md-8">
            {{co}}button type="submit" class="btn btn-outline-primary btn-block">
              Guardar
            {{co}}/button>
          {{co}}/div>
        {{co}}/div>
      
      {{co}}/form>

      {{co}}hr>
      {{co}}pre>
          Estado del formulario: {{c}}{{c}} variableTsLocal.valid }}
          {{co}}br>
          Status: {{c}}{{c}} variableTsLocal.status }}
          {{co}}br>
          Status: {{c}}{{c}} variableTsLocal.value | json }}
      {{co}}/pre></pre>
      </div>
  </div>
</div>
    

    </div>
  
    <div class="tab-pane fade" id="pills-reactivovalidaciones2" role="tabpanel" aria-labelledby="pills-reactivovalidaciones2-tab"><app-reactivovasin></app-reactivovasin>
      
      <div class="card-group">
        <div class="card text-dark bg-danger m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Servicio</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Injectable } from '@angular/core';
<b>import {{c}} Observable } from 'rxjs';  
import {{c}} FormControl } from '@angular/forms';</b>  <abbr title="Controles del formulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

<b>interface ErrorValidate{{c}}  <abbr title="Interface que se crea sin exportarlo (export) porque lo usaremos aquí solo, para evitar de usar any en la función existeUsuario( RecibimosControl: FormControl ): Promise ErrorValidate> | Observable ErrorValidate>"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  [s:string]: boolean  <abbr title="Coge el string y lo transforma en un boolean para poder dar los dos estados (true/false) y usar las promesas"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
}</b>

@Injectable({{c}}
  providedIn: 'root'
})

export class AsinservicioService {{c}}

  constructor() {{c}} }

  <b>existeUsuario( RecibimosControl: FormControl ): Promise{{co}}ErrorValidate> | Observable{{co}}ErrorValidate> {{c}}  <abbr title="Función que coge el usuario (RecibimosControl) y le metemos los controles de formularios (FormControl), devuelve una promesa o un observable"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
  
    if( !RecibimosControl.value ){{c}}  <abbr title="Para que cuando recargarmos el usuario no dispare la petición de saber si el usuario está cogido hasta que introduzcamos datos (!RecibimosControl.value). Mientras no introduzcamos nada se mantenga en nulo (null) y no dispare nada"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      return Promise.resolve(null);  <abbr title="Devuelve null sino hemos introducido nada en el campo para que no pregunte si existe hasta que introduzcamos algo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    }

    return new Promise ( (resolve, reject) => {{c}}  <abbr title="La promesa devuelve resolve (si devuelve algo), reject (si da error)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      setTimeout(() => {{c}}  <abbr title="Dentro de un tiempo que marcamos abajo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

        if ( RecibimosControl.value === 'sodert' ){{c}}  <abbr title="Si el valor de lo que introduzcamos es igual a la palabra que ponemos (sodert)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
          resolve ({{c}} existe: true });  <abbr title="Devuelve que si existe el nombre, devuelve true que ya depende como lo intepreto en el Ts, en este caso existe usuario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        }else{{c}}
          resolve ( null );  <abbr title="Devuelve null, no coge valor, para que en el Ts se inteprete como que no existe"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        }

      }, 3500);  <abbr title="El tiempo se traduce en 3,5 seg"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    });

  }</b>
}</pre>
            </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card text-dark bg-primary m-3">
            <div class="card-header">
                <pre class="card-text text-center"><h3>Ts</h3></pre>
            </div>
            <div class="card-body">
              <pre class="card-text">import {{c}} Component, OnInit } from '@angular/core';
import {{c}} FormGroup, FormBuilder } from '@angular/forms';
<b>import {{c}} AsinservicioService } from './servicio/asinservicio.service';</b>  <abbr title="Servicio donde mediante una promesa sabemos si existe o no el usuario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

@Component({{c}}
  selector: 'app-reactivovasin',
  templateUrl: './reactivovasin.component.html',
  styleUrls: ['./reactivovasin.component.css']
})
export class ReactivovasinComponent implements OnInit {{c}}

  variableTsLocal: FormGroup;   

  constructor( private fb:FormBuilder,
               <b>private servicioasincrono: AsinservicioService</b> ) {{c}}   <abbr title="Servicio donde mediante una promesa sabemos si existe o no el usuario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    this.crearFromulario();
    //this.cargarDatoAlFormulario();
  }

  ngOnInit(): void {{c}}
  }

  crearFromulario(){{c}}
    
    this.variableTsLocal = this.fb.group({{c}}
      //Campo_del_html: ['Valor por defecto que pongamos', 'Validación síncronos', 'Validación asíncronos']  <abbr title="Necesita una web externa o se ejecuta en un tiempo definido"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      <b>usuarioTs: ['', , this.servicioasincrono.existeUsuario ],</b>  <abbr title="1 Validación no necesario ponerlo entre [] en 2 o más Validaciones necesario poner []"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    });
  }

//Para que salga rojo si da fallo y los mensajes
<b>get usuarioNoValido(){{c}}
  return this.variableTsLocal.get('usuarioTs').invalid && this.variableTsLocal.get('usuarioTs').touched   <abbr title="usuarioTs definido arriba en CrearFromulario"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
}</b>

guardar(){{c}}  
  console.log( this.variableTsLocal );  

    if ( this.variableTsLocal.invalid ){{c}}    <abbr title="Si es invalido lo que introducimos lanza lo de abajo que junto con el html muestra todo lo que no se ha tocado, o no tenga las condiones síncronas al pulsar el botón salga en rojo y la letra también en rojo"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

      return Object.values( this.variableTsLocal.controls ).forEach( variableControlador => {{c}}  <abbr title="Devuelve el valor de cada variable de control, para que salga si tiene o no error (en rojo y mensaje en rojo) según las condiciones"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

           variableControlador.markAsTouched();  <abbr title="Tocado, Si no tiene campos anidado se deja este ahí"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
      });

    }

    console.log(this.variableTsLocal);  
    console.log(this.variableTsLocal.value);  

    //Resetear información al pulsar el botón guardar y enviar
   this.variableTsLocal.reset();  <abbr title="Si resetea solamente"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>

   /*this.variableTsLocal.reset({{c}}  <abbr title="Resetear y dejar escrito algo en uno o más campos"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    datoTs: 'Sin dato eah!!'
  }); */
    
  }
  
}</pre>
            </div>
        </div>
        <div class="card text-dark bg-warning m-3">
          <div class="card-header">
              <pre class="card-text text-center"><h3>Html</h3></pre>
          </div>
          <div class="card-body">
              <pre class="card-text">{{co}}form autocomplete="off" {{t}}formGroup]="variableTsLocal" {{p}}ngSubmit)="guardar()">
          
    {{co}}h6>Poner {{co}}b>sodert{{co}}/b> -> Para ver que en 3seg detecta que el usuario sodert está cogido, sino sale el mensaje al instante, pulsar guardar sale{{co}}/h6>
      {{co}}div class="form-group row">
        {{co}}label class="col-2 col-form-label">Usuario{{co}}/label>
        {{co}}div class="col">
  
          {{co}}input class="form-control"
                  type="text"
                  placeholder="Contraseña"
                  <b>formControlName="usuarioTs"  <abbr title="Variable usada en el Ts (usuarioTs) donde ponemos los controles asíncronos (this.variableTsLocal = this.fb.group)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                  {{t}}class.is-invalid]="usuarioNoValido"</b>>  <abbr title="Función get usado en el Ts para verifica si da error y si es tocado"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
          {{co}}small <b>{{f}}ngIf="usuarioNoValido"</b> class="text-danger">Ese nombre de usuario ya fue tomado{{co}}/small>  <abbr title="Mensaje de error si da error"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
        {{co}}/div>
      {{co}}/div>

    {{co}}div class="form-group row">
      {{co}}label class="col-2 col-form-label">{{bu}}{{co}}/label>
      {{co}}div class="input-group col-md-8">
        {{co}}button type="submit" class="btn btn-outline-primary btn-block">
          Guardar
        {{co}}/button>
      {{co}}/div>
    {{co}}/div>
  
  {{co}}/form>

  {{co}}hr>
  {{co}}pre>
      Estado del formulario: {{c}}{{c}} variableTsLocal.valid }}
      {{co}}br>
      Status: {{c}}{{c}} variableTsLocal.status }}
      {{co}}br>
      Status: {{c}}{{c}} variableTsLocal.value | json }}
  {{co}}/pre></pre>
          </div>
      </div>
    </div>

    </div>

      
  </div>











