  <div class="row">
      <div class="col text-right">
          <button class="btn btn-primary" routerLink="/unelemento/nuevo"><i class="fa fa-plus"></i>Agregar (Ir al componente de un elemento)</button>
      </div>
  </div>
  <table *ngIf="!variablecargando && unomodel2.length > 0" class="table mt-3">
      <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Poderes</th>
              <th scope="col">Vivo</th>
              <th scope="col">Herramientas</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let todosloselementos of unomodel2; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{todosloselementos.nombre}}</td>
              <td>{{todosloselementos.poder}}</td>
              <td><label *ngIf="todosloselementos.vivo" class="badge badge-success">Vivo</label>
                  <label *ngIf="!todosloselementos.vivo" class="badge badge-danger">Muerto</label>
              </td>
              <td><button class="btn btn-info mr-1" [routerLink]="['/unelemento', todosloselementos.id ]"><i class="fa fa-pencil"></i> </button>
                  <button class="btn btn-danger" (click)="borrarUnElemento(todosloselementos, i)"><i class="fa fa-trash"></i></button>
              </td>
          </tr>
        </tbody>
      </table>
    <div *ngIf="variablecargando" class="alert aler-info text-center mt-3">
     <!-- ngIf="variablecargando": Para que funcione, mensaje de carga mientras carga o no la muestra sino la carga, firebase lo carga muy rápido 
                                   y no da tiempo a verlo bien, en este ejemplo no es posible verlo aquí -->
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
    </div>

    <div *ngIf="!variablecargando && unomodel2.length === 0" class="alert aler-warnin text-center mt-3">
     <!-- ngIf="!variablecargando": Para ocultar la tabla cuando aparezca el div de cargando y aparezca cuando acabe de cargar -->
                             <!-- && unomodel2.length === 0: Y si la base de datos tiene 0 registros, es decir, no existe registro, se muestra 
                                                             el mensaje -->
    <h4 class="alert-heading">No hay registro</h4>
    <p>
        <i class="fa fa-exclamation fa-3x fa-fw"></i>
    </p>
    </div>