<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify0-tab" data-toggle="pill" href="#pills-angularspotify0" role="tab" aria-controls="pills-angularspotify0" aria-selected="false" style="color: black;">Países</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify-tab" data-toggle="pill" href="#pills-angularspotify" role="tab" aria-controls="pills-angularspotify" aria-selected="true" style="color: black;">SpotiApp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify1-tab" data-toggle="pill" href="#pills-angularspotify1" role="tab" aria-controls="pills-angularspotify1" aria-selected="false" style="color: black;">Pokemon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify2-tab" data-toggle="pill" href="#pills-angularspotify2" role="tab" aria-controls="pills-angularspotify2" aria-selected="false" style="color: black;">Rick and Morty</a>
    </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-angularspotify0" role="tabpanel" aria-labelledby="pills-angularspotify0-tab"><app-peticionhttp></app-peticionhttp></div>

    <div class="tab-pane fade" id="pills-angularspotify" role="tabpanel" aria-labelledby="pills-angularspotify-tab"><app-httpspotify></app-httpspotify></div>

    <div class="tab-pane fade" id="pills-angularspotify1" role="tabpanel" aria-labelledby="pills-angularspotify1-tab"><app-pokemonangular></app-pokemonangular></div>

    <div class="tab-pane fade" id="pills-angularspotify2" role="tabpanel" aria-labelledby="pills-angularspotify2-tab"><app-rickandmorty></app-rickandmorty></div>
</div>


