Se suele colocar en environment.ts
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify0-tab" data-toggle="pill" href="#pills-angularspotify0" role="tab" aria-controls="pills-angularspotify0" aria-selected="false" style="color: black;">Países</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify-tab" data-toggle="pill" href="#pills-angularspotify" role="tab" aria-controls="pills-angularspotify" aria-selected="true" style="color: black;">SpotiApp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify1-tab" data-toggle="pill" href="#pills-angularspotify1" role="tab" aria-controls="pills-angularspotify1" aria-selected="false" style="color: black;">Pokemon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-angularspotify2-tab" data-toggle="pill" href="#pills-angularspotify2" role="tab" aria-controls="pills-angularspotify2" aria-selected="false" style="color: black;">x</a>
  </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify3-tab" data-toggle="pill" href="#pills-angularspotify3" role="tab" aria-controls="pills-angularspotify3" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify4-tab" data-toggle="pill" href="#pills-angularspotify4" role="tab" aria-controls="pills-angularspotify4" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify5-tab" data-toggle="pill" href="#pills-angularspotify5" role="tab" aria-controls="pills-angularspotify5" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify6-tab" data-toggle="pill" href="#pills-angularspotify6" role="tab" aria-controls="pills-angularspotify6" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify7-tab" data-toggle="pill" href="#pills-angularspotify7" role="tab" aria-controls="pills-angularspotify7" aria-selected="false" style="color: black;">x</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify8-tab" data-toggle="pill" href="#pills-angularspotify8" role="tab" aria-controls="pills-angularspotify8" aria-selected="false" style="color: black;">x</a>
    </li>
    <button class="btn btn-danger m-2" [routerLink]="['/programacion']" style="text-align: left;">Atras</button>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-angularspotify0" role="tabpanel" aria-labelledby="pills-angularspotify0-tab"><app-peticionhttp></app-peticionhttp></div>

    <div class="tab-pane fade" id="pills-angularspotify" role="tabpanel" aria-labelledby="pills-angularspotify-tab"><app-httpspotify></app-httpspotify></div>

    <div class="tab-pane fade" id="pills-angularspotify1" role="tabpanel" aria-labelledby="pills-angularspotify1-tab"><app-pokemonangular></app-pokemonangular></div>
    
    <div class="tab-pane fade" id="pills-angularspotify2" role="tabpanel" aria-labelledby="pills-angularspotify2-tab">x</div>


    <div class="tab-pane fade" id="pills-angularspotify3" role="tabpanel" aria-labelledby="pills-angularspotify3-tab">x</div>
    
    <div class="tab-pane fade" id="pills-angularspotify4" role="tabpanel" aria-labelledby="pills-angularspotify4-tab">x</div>
    
    
    <div class="tab-pane fade" id="pills-angularspotify5" role="tabpanel" aria-labelledby="pills-angularspotify5-tab">x</div>

    <div class="tab-pane fade" id="pills-angularspotify6" role="tabpanel" aria-labelledby="pills-angularspotify6-tab">x</div>


    <div class="tab-pane fade" id="pills-angularspotify7" role="tabpanel" aria-labelledby="pills-angularspotify7-tab">x</div>


    <div class="tab-pane fade" id="pills-angularspotify8" role="tabpanel" aria-labelledby="pills-angularspotify8-tab">x</div>


</div>


