<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify0-tab" data-toggle="pill" href="#pills-angularspotify0" role="tab" aria-controls="pills-angularspotify0" aria-selected="false" style="color: black;">Países</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify-tab" data-toggle="pill" href="#pills-angularspotify" role="tab" aria-controls="pills-angularspotify" aria-selected="true" style="color: black;">SpotiApp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify1-tab" data-toggle="pill" href="#pills-angularspotify1" role="tab" aria-controls="pills-angularspotify1" aria-selected="false" style="color: black;">Pokemon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify2-tab" data-toggle="pill" href="#pills-angularspotify2" role="tab" aria-controls="pills-angularspotify2" aria-selected="false" style="color: black;">Rick and Morty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-angularspotify3-tab" data-toggle="pill" href="#pills-angularspotify3" role="tab" aria-controls="pills-angularspotify3" aria-selected="false" style="color: black;">Sacar dato Ts</a>
    </li>
</ul>

<div class="tab-content cuadro" id="pills-tabContent">

    <div class="tab-pane fade" id="pills-angularspotify0" role="tabpanel" aria-labelledby="pills-angularspotify0-tab"><app-peticionhttp></app-peticionhttp></div>

    <div class="tab-pane fade" id="pills-angularspotify" role="tabpanel" aria-labelledby="pills-angularspotify-tab"><app-httpspotify></app-httpspotify></div>

    <div class="tab-pane fade" id="pills-angularspotify1" role="tabpanel" aria-labelledby="pills-angularspotify1-tab"><app-unionapipokemon></app-unionapipokemon></div>

    <div class="tab-pane fade" id="pills-angularspotify2" role="tabpanel" aria-labelledby="pills-angularspotify2-tab"><app-rickandmorty></app-rickandmorty></div>

    <div class="tab-pane fade" id="pills-angularspotify3" role="tabpanel" aria-labelledby="pills-angularspotify3-tab">
        
        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-header">
                    <pre class="card-text text-center"><h3>Con <b>for</b> <small><small>getFuncion(<b>i</b>)</small></small></h3></pre>
                </div>
                <div class="card-body">
                  <pre class="card-text">pokemonData = {{c}}  
    position: <b>resp</b>.id,  <abbr title="resp -> Es el dato obtenido de this.servicioPokemon.getPokemon(i).subscribe( (resp:any) => {"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    image: resp.<b>sprites.front_default</b>,   <abbr title="sprites.front_default -> Cada nombre es una parte de la API, cada { parte { hasta llegar al dato buscado"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
    types0: resp.types<b>[0]</b>.type.name,   <abbr title="[0] cogemos la parte de la API que comienza en [] y ya depende si cogemos el primer dato (0) o el siguiente (1) u otro..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr> 
    };
    this.pokemon.<b>push</b>(pokemonData);  <abbr title="push -> Metemos lo obtenido en pokemonData en otra variable pokemon"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
              <div class="card-header">
                  <pre class="card-text text-center"><h3>Con <b>dato recibido</b> <small><small>getFuncion(<b>id</b> o <b>name</b> u otro)</small></small></h3></pre>
              </div>
              <div class="card-body">
                  <pre class="card-text">this.pokemon = <b>res</b>;  <abbr title="res -> Respuesta obtenida de this.pokemonService.getPokemon(id).subscribe(. Para usar pokemon.id..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
this.image = this.<b>pokemon.sprites.front_default</b>;   <abbr title="pokemon realmente es res, la repsuesta y dentro de él las partes de la API (sprites.front_default)"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
this.pokemonType = this.pokemon.types[0].type.name;  <abbr title="[0] cogemos la parte de la API que comienza en [] y ya depende si cogemos el primer dato (0) o el siguiente (1) u otro..."><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
              </div>
          </div>
        </div>


        <div class="card-group">
            <div class="card text-dark bg-primary m-3">
                <div class="card-header">
                    <pre class="card-text text-center"><h3>Con <b>for</b> <small><small>getFuncion(<b>i</b>)</small></small></h3></pre>
                </div>
                <div class="card-body">
                  <pre class="card-text">if ( <b>resp.types[0].type.name</b> === 'nombreCogido' ) {{c}}  <abbr title="Si el nombre del tipo es igual a nombreCogido"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>pokemonData.types0 = [' nomvreQueSeCambia']</b>;</pre>  <abbr title="Se cambia ese nombre del tipo por nomvreQueSeCambia"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
                </div>
            </div>
            <div class="card text-dark bg-primary m-3">
              <div class="card-header">
                  <pre class="card-text text-center"><h3>Con <b>dato recibido</b> <small><small>getFuncion(<b>id</b> o <b>name</b> u otro)</small></small></h3></pre>
              </div>
              <div class="card-body">
                  <pre class="card-text">if ( <b>this.pokemon.types[0].type.name</b> === 'nombreCogido' ) {{c}}  <abbr title="Si el nombre del tipo es igual a nombreCogido"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>
<b>this.pokemonType = [' nomvreQueSeCambia']</b>;   <abbr title="Se cambia ese nombre del tipo por nomvreQueSeCambia"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr></pre>
              </div>
          </div>
        </div>

    </div>
</div>


