<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <img src="../../../assets//imagenes/terminal.jpg" [routerLink]="['/terminal']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/github.png" [routerLink]="['/git']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            -       -       -       <b>Servidores</b>
            <button class="btn btn-success m-2" [routerLink]="['/hostinggeneral']">Hosting</button>
            <button class="btn btn-success m-2" [routerLink]="['/firebase']">Firebase</button>
            <button class="btn btn-success m-2" [routerLink]="['/auth0']">Auth0</button>
            <button class="btn btn-success m-2" [routerLink]="['/servidorlocal']">Servidor local</button>
            <br><hr><b>Front-end</b>
            <img src="../../../assets//imagenes/html.svg" [routerLink]="['/html']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/css.png" [routerLink]="['/css']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/javascript.svg" [routerLink]="['/javascript']" style="width: 100px; height: 90px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/typescript.png" [routerLink]="['/typescript']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            -       -       -       <b>Back-end</b>
            <img src="../../../assets//imagenes/sql.jpg" [routerLink]="['/sql']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/php.png" [routerLink]="['/php']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/Python.png" [routerLink]="['/python']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/c.png" [routerLink]="['/c']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <br><hr><b>Librerías</b>
            <img src="../../../assets//imagenes/bootstrap.svg" [routerLink]="['/bootstrap']" style="width: 80px; height: 80px; margin: 5px; margin-top: 15px" class="puntero">
            <img src="../../../assets//imagenes/Jquery.png" [routerLink]="['/jquery']" style="width: 80px; height: 80px; margin: 5px; margin-top: 15px" class="puntero">
            <button class="btn btn-danger m-2" [routerLink]="['/tether']">Tether</button>
            <button class="btn btn-warning m-2" [routerLink]="['/fontsgoogle']">Google Fonts (+Icons)</button>
            <img src="../../../assets//imagenes/fontawesome.png" [routerLink]="['/fontawesome']" style="width: 100px; height: 100px; margin: 5px;" class="puntero">
            <button class="btn btn-danger m-2" [routerLink]="['/sweepalert2']">Sweepalert2</button>
            <button class="btn btn-danger m-2" [routerLink]="['/toastr']">Toastr</button>
            <br><hr><b>Framework</b>
            <img src="../../../assets//imagenes/angular.svg" [routerLink]="['/angular']" style="width: 120px; height: 120px; margin: 5px;" class="puntero">
            <img src="../../../assets//imagenes/ionic.jpg" [routerLink]="['/ionic']" style="width: 120px; height: 120px; margin: 5px;" class="puntero">
        </div>
    </div>
</div>



