<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <img src="../../../assets//imagenes/terminal.jpg" [routerLink]="['/terminal']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/github.png" [routerLink]="['/git']" style="width: 100px; height: 100px; margin: 5px;">
            <br><br>
            <img src="../../../assets//imagenes/html.png" [routerLink]="['/html']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/css.png" [routerLink]="['/css']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/js.png" [routerLink]="['/javascript']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/Bootstrap.png" [routerLink]="['/bootstrap']" style="width: 80px; height: 80px; margin: 5px; margin-top: 15px">
            <img src="../../../assets//imagenes/sql.jpg" [routerLink]="['/sql']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/php.png" [routerLink]="['/php']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/Python.png" [routerLink]="['/python']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/typescript.png" [routerLink]="['/typescript']" style="width: 100px; height: 100px; margin: 5px;">
            <img src="../../../assets//imagenes/Angular.png" [routerLink]="['/angular']" style="width: 120px; height: 120px; margin: 5px;">
            <img src="../../../assets//imagenes/ionic.jpg" [routerLink]="['/ionic']" style="width: 120px; height: 120px; margin: 5px;">
            <br><br>
            <button class="btn btn-warning m-2" [routerLink]="['/fontsgoogle']">Google Fonts</button>
            <button class="btn btn-warning m-2" [routerLink]="['/fontawesome']">Fontawesome</button>
            <button class="btn btn-danger m-2" [routerLink]="['/sweepalert2']">Sweepalert2</button>
            <button class="btn btn-danger m-2" [routerLink]="['/toastr']">Toastr</button>
            <br><br>
            <img src="../../../assets//imagenes/c.png" [routerLink]="['/c']" style="width: 100px; height: 100px; margin: 5px;">
            <br><br>
            <button class="btn btn-success m-2" [routerLink]="['/hostinggeneral']">Hosting</button>
            <button class="btn btn-success m-2" [routerLink]="['/firebase']">Firebase</button>
            <button class="btn btn-success m-2" [routerLink]="['/auth0']">Auth0</button>
            <button class="btn btn-success m-2" [routerLink]="['/servidorlocal']">Servidor local</button>
            <br><br>
            <button class="btn btn-dark m-2" [routerLink]="['/home']">Atras</button>
        </div>
    </div>
</div>