<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <abbr title="Terminal"><img src="../../../assets//imagenes/terminal.jpg" [routerLink]="['/terminal']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Github"><img src="../../../assets//imagenes/github.png" [routerLink]="['/git']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            -       -       -       <b>Servidores</b>
            <button class="btn btn-success m-2" [routerLink]="['/hostinggeneral']">Hosting</button>
            <abbr title="Firebase"><img src="../../../assets//imagenes/firebase.png" [routerLink]="['/firebase']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Auth0"><img src="../../../assets//imagenes/auth.jpg" [routerLink]="['/auth0']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <button class="btn btn-success m-2" [routerLink]="['/servidorlocal']">Servidor local</button>
            <br><hr><b>Front-end</b>
            <abbr title="Html"><img src="../../../assets//imagenes/html.svg" [routerLink]="['/html']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Css"><img src="../../../assets//imagenes/css.png" [routerLink]="['/css']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Javascript"><img src="../../../assets//imagenes/javascript.svg" [routerLink]="['/javascript']" style="width: 100px; height: 90px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Typescript"><img src="../../../assets//imagenes/typescript.png" [routerLink]="['/typescript']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            -       -       -       <b>Back-end</b>
            <abbr title="Sql"><img src="../../../assets//imagenes/sql.jpg" [routerLink]="['/sql']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Php"><img src="../../../assets//imagenes/php.png" [routerLink]="['/php']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Python"><img src="../../../assets//imagenes/Python.png" [routerLink]="['/python']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="C"><img src="../../../assets//imagenes/c.png" [routerLink]="['/c']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <br><hr><b>Librerías</b>
            <abbr title="Bootstrap"><img src="../../../assets//imagenes/bootstrap.svg" [routerLink]="['/bootstrap']" style="width: 80px; height: 80px; margin: 5px; margin-top: 15px" class="puntero"></abbr>
            <abbr title="Bootswatch"><img src="../../../assets//imagenes/bootswatch.svg" [routerLink]="['/bootswatch']" style="width: 80px; height: 80px; margin: 5px; margin-top: 15px" class="puntero"></abbr>
            <abbr title="JQuery"><img src="../../../assets//imagenes/Jquery.png" [routerLink]="['/jquery']" style="width: 80px; height: 80px; margin: 5px; margin-top: 15px" class="puntero"></abbr>
            <button class="btn btn-danger m-2" [routerLink]="['/tether']">Tether</button>
            <button class="btn btn-warning m-2" [routerLink]="['/fontsgoogle']">Google Fonts (+Icons)</button>
            <abbr title="Font-awesome"><img src="../../../assets//imagenes/fontawesome.png" [routerLink]="['/fontawesome']" style="width: 100px; height: 100px; margin: 5px;" class="puntero"></abbr>
            <abbr title="SweepAlert2"><img src="../../../assets//imagenes/sweetalert2.png" [routerLink]="['/sweepalert2']" style="width: 100px; height: 100ps; margin: 5px;" class="puntero"></abbr>
            <button class="btn btn-danger m-2" [routerLink]="['/toastr']">Toastr</button>
            <br><hr><b>Framework</b>
            <abbr title="Angular"><img src="../../../assets//imagenes/angular.svg" [routerLink]="['/angular']" style="width: 120px; height: 120px; margin: 5px;" class="puntero"></abbr>
            <abbr title="Ionic"><img src="../../../assets//imagenes/ionic.jpg" [routerLink]="['/ionic']" style="width: 120px; height: 120px; margin: 5px;" class="puntero"></abbr>
        </div>
    </div>
</div>



