<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-sweepalert2angular-tab" data-toggle="pill" href="#pills-sweepalert2angular" role="tab" aria-controls="pills-sweepalert2angular" aria-selected="true" style="color: black;">Instalación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-sweepalert2angular0-tab" data-toggle="pill" href="#pills-sweepalert2angular0" role="tab" aria-controls="pills-sweepalert2angular0" aria-selected="false" style="color: black;">Configuración</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-sweepalert2angular1-tab" data-toggle="pill" href="#pills-sweepalert2angular1" role="tab" aria-controls="pills-sweepalert2angular1" aria-selected="false" style="color: black;">Ejemplos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-sweepalert2angular2-tab" data-toggle="pill" href="#pills-sweepalert2angular2" role="tab" aria-controls="pills-sweepalert2angular2" aria-selected="false" style="color: black;">Métodos</a>
  </li>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">
  
    <div class="tab-pane fade show active" id="pills-sweepalert2angular" role="tabpanel" aria-labelledby="pills-sweepalert2angular-tab"><app-instalarsweep></app-instalarsweep></div>
  
    <div class="tab-pane fade" id="pills-sweepalert2angular0" role="tabpanel" aria-labelledby="pills-sweepalert2angular0-tab"><app-configuracionsweep></app-configuracionsweep></div>

  <div class="tab-pane fade" id="pills-sweepalert2angular1" role="tabpanel" aria-labelledby="pills-sweepalert2angular1-tab"><app-ejemplossweep></app-ejemplossweep></div>

  <div class="tab-pane fade" id="pills-sweepalert2angular2" role="tabpanel" aria-labelledby="pills-sweepalert2angular2-tab"><app-metodossweep></app-metodossweep></div>



</div>
