<nav class="navbar estrellas navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']"><img src="../../../assets/imagenes/01.jpg" width="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            General
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/terminal']">Terminal</a>
            <a class="dropdown-item text-light" [routerLink]="['/git']">Git</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" [routerLink]="['/fontsgoogle']">Google Fonts</a>
            <a class="dropdown-item text-light" [routerLink]="['/fontawesome']">Fontawesome</a>
            <a class="dropdown-item text-light" [routerLink]="['/sweepalert2']">Sweepalert</a>
            <a class="dropdown-item text-light" [routerLink]="['/toast']">Toast o ?</a>
            <div class="dropdown-divider"></div>          
            <a class="dropdown-item text-light" [routerLink]="['/hostinggeneral']">Hosting</a>
            <a class="dropdown-item text-light" [routerLink]="['/firebase']">Firebase</a>
            <a class="dropdown-item text-light" [routerLink]="['/auth0']">Auth0</a>
            <a class="dropdown-item text-light" [routerLink]="['/servidorlocal']">Servidor local</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Front-End
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/html']">Html</a>
            <a class="dropdown-item text-light" [routerLink]="['/css']">Css</a>
            <a class="dropdown-item text-light" [routerLink]="['/javascript']">JavaScript</a>
            <a class="dropdown-item text-light" [routerLink]="['/bootstrap']">Bootstrap</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" [routerLink]="['/angular']">Angular</a>
            <a class="dropdown-item text-light" [routerLink]="['/ionic']">Ionic</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Back-End
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/sql']">SQL</a>
            <a class="dropdown-item text-light" [routerLink]="['/php']">PHP</a>
            <a class="dropdown-item text-light" [routerLink]="['/python']">Python</a>
            <a class="dropdown-item text-light" [routerLink]="['/typescript']">Typescript</a>
            <a class="dropdown-item text-light" [routerLink]="['/c']">C#</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Otros
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <p>Empleo</p>
            <a class="dropdown-item text-light" [routerLink]="['/ayuntamientos']">Ayuntamientos</a>
            <a class="dropdown-item text-light" [routerLink]="['/empresas']">Empresas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" [routerLink]="['/personal']" style="margin-top: 3px;">Personal</a>
            <a class="dropdown-item text-light" [routerLink]="['/deudas']" style="margin-top: 3px;">Deudas</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" (keyup.enter)="funcion_Buscar(buscartexto.value)" #buscartexto>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="funcion_Buscar(buscartexto.value)">Buscar</button>
    </form>
    </div>
  </nav>