<nav class="navbar estrellas navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']"><img src="../../../assets/imagenes/01.jpg" width="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            General
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/terminal']" routerLinkActive="active">Terminal</a>
            <a class="dropdown-item text-light" [routerLink]="['/git']" routerLinkActive="active">Git</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servidores
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">    
            <a class="dropdown-item text-light" [routerLink]="['/hostinggeneral']" routerLinkActive="active">Hosting</a>
            <a class="dropdown-item text-light" [routerLink]="['/firebase']" routerLinkActive="active">Firebase</a>
            <a class="dropdown-item text-light" [routerLink]="['/auth0']" routerLinkActive="active">Auth0</a>
            <a class="dropdown-item text-light" [routerLink]="['/servidorlocal']" routerLinkActive="active">Servidor local</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Front-End
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/html']" routerLinkActive="active">Html</a>
            <a class="dropdown-item text-light" [routerLink]="['/css']" routerLinkActive="active">Css</a>
            <a class="dropdown-item text-light" [routerLink]="['/javascript']" routerLinkActive="active">JavaScript</a>
            <a class="dropdown-item text-light" [routerLink]="['/typescript']" routerLinkActive="active">Typescript</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Back-End
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/sql']" routerLinkActive="active">SQL</a>
            <a class="dropdown-item text-light" [routerLink]="['/php']" routerLinkActive="active">PHP</a>
            <a class="dropdown-item text-light" [routerLink]="['/python']" routerLinkActive="active">Python</a>
            <a class="dropdown-item text-light" [routerLink]="['/c']" routerLinkActive="active">C#</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Otros
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <p>Empleo</p>
            <a class="dropdown-item text-light" [routerLink]="['/ayuntamientos']" routerLinkActive="active">Ayuntamientos</a>
            <a class="dropdown-item text-light" [routerLink]="['/empresas']" routerLinkActive="active">Empresas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-light" [routerLink]="['/personal']" style="margin-top: 3px;" routerLinkActive="active">Personal</a>
            <a class="dropdown-item text-light" [routerLink]="['/deudas']" style="margin-top: 3px;" routerLinkActive="active">Deudas</a>
          </div>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Framework
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/angular']" routerLinkActive="active">Angular</a>
            <a class="dropdown-item text-light" [routerLink]="['/ionic']" routerLinkActive="active">Ionic</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Librería
          </a>
          <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-light" [routerLink]="['/bootstrap']" routerLinkActive="active">Bootstrap</a>
            <a class="dropdown-item text-light" [routerLink]="['/jquery']" routerLinkActive="active">Jquery</a>
            <a class="dropdown-item text-light" [routerLink]="['/tether']" routerLinkActive="active">Tether</a>
            <a class="dropdown-item text-light" [routerLink]="['/fontsgoogle']" routerLinkActive="active">Google Fonts (+Icons)</a>
            <a class="dropdown-item text-light" [routerLink]="['/fontawesome']" routerLinkActive="active">Fontawesome</a>
            <a class="dropdown-item text-light" [routerLink]="['/sweepalert2']" routerLinkActive="active">Sweepalert2</a>
            <a class="dropdown-item text-light" [routerLink]="['/toast']" routerLinkActive="active">Toast o ?</a>
          </div>
        </li>
        
    
        <a class="nav-link" *ngIf="auth.isAuthenticated$ | async; else !auth.isAuthenticated$" [routerLink]="['/protegida']" routerLinkActive="active" role="button">Protegida Aux0</a>
        
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <!-- <a class="nav-link" [routerLink]="['/protegida']" routerLinkActive="active" role="button">Protegida Aux0</a>  -->
          <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">   <!--Mirar si podemos poner dire [routerLink]="['/toast']" -->
            Logout Aux0
          </button>
        </ng-container>
    
        <ng-template #loggedOut>
          <button class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Login/Registrar Aux0</button>
        </ng-template>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" (keyup.enter)="funcion_Buscar(buscartexto.value)" #buscartexto>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="funcion_Buscar(buscartexto.value)">Buscar</button>
    </form> -->
    </div>
  </nav>