/*Cambiar de color del botón activo*/
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: #009614 !important;
    color: white !important;
}


.cuadro{
    border: black 1px solid;
}