<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="pills-creacionangular5-tab" data-toggle="pill" href="#pills-creacionangular5" role="tab" aria-controls="pills-creacionangular5" aria-selected="false" style="color: black;">Servicios.ts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-creacionangular6-tab" data-toggle="pill" href="#pills-creacionangular6" role="tab" aria-controls="pills-creacionangular6" aria-selected="false" style="color: black;">Model.ts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-creacionangular7-tab" data-toggle="pill" href="#pills-creacionangular7" role="tab" aria-controls="pills-creacionangular7" aria-selected="false" style="color: black;">Guard.ts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-creacionangular8-tab" data-toggle="pill" href="#pills-creacionangular8" role="tab" aria-controls="pills-creacionangular8" aria-selected="false" style="color: black;">Directiva.ts</a>
    </li>
</ul>
  
<div class="tab-content cuadro" id="pills-tabContent">

  <div class="tab-pane fade" id="pills-creacionangular5" role="tabpanel" aria-labelledby="pills-creacionangular5-tab">
<ul>
  <li>Crear:
    <ul>
      <li><b>ng generate service</b> nombreCarpeta/nombreServicio</li>
      <li><b>ng g s</b> nombreCarpeta/nombreServicio</li>
    </ul></li>

</ul>
  </div>    

  <div class="tab-pane fade" id="pills-creacionangular6" role="tabpanel" aria-labelledby="pills-creacionangular6-tab">
      <ul>
        <li>Crear: <b>Carpeta</b> (model) dentro de ella <b>archivo.model.ts</b></li>
        <li>Estructura: <b>?</b> Dato opcional de rellenar (telefono<b>?</b>: number;)</li>
      </ul>
    
     
    </div>

    <div class="tab-pane fade" id="pills-creacionangular7" role="tabpanel" aria-labelledby="pills-creacionangular7-tab">
      <ul>
        <li>Crear:<ul>
            <li><b>ng generate guard</b> nombre_carpeta/nombre_servicio</li>
            <li><b>ng g g</b> nombre_carpeta/nombre_servicio</li>
            <li>Opciones:<ul>
                <li><b>CanActivate</b>: <u>Elegimos</u> esta opción porque NO trabajamos con Lazyloading </li>
                <li><b>CanActivateChild</b>: Tiene rutas hijas</li>
                <li><b>CanDeactivate</b></li>
                <li><b>CanLoad</b>: Usamos Lazyloading</li>
            </ul></li>
         </ul></li>
      </ul>
    </div>

    
    <div class="tab-pane fade" id="pills-creacionangular8" role="tabpanel" aria-labelledby="pills-creacionangular8-tab">
      <li>Crear:
        <ul>
          <li><b>ng generate directive</b> nombreCarpeta/nombreDirectiva</li>
          <li><b>ng g d</b> nombreCarpeta/nombreDirectiva</li>
        </ul></li>
    </div>

</div>
